<article class="prose md:prose-xl mx-auto">
    <h1 class="not-prose text-2xl md:text-3xl leading-none text-center font-bold text-red-500 uppercase">
        {{ entry.title }}
    </h1>
    <div class="lead text-center text-balance">
        {{ entry.ingress }}
    </div>

    {% if entry.description %}
        {{ entry.description }}
    {% endif %}

    {% if entry.sections %}
        {% set sections = entry.sections.with(['sections.images']).all() %}
        {% for section in sections %}

            {# TODO: Make better image solution. Possibly Imgix #}
            {% if section.type == 'imageGrid' and section.images|length > 0 %}
                <div class="w-full flex flex-wrap justify-between">
                    {% for image in section.images %}
                        <div class="w-full md:w-[48%]">
                            <picture>
                                <source srcset="{{ image.articlePhoto.srcsetWebp() }}" type="image/webp">
                                <source srcset="{{ image.articlePhoto.srcset() }}" type="image/jpeg"> 
                                <img src="{{ image.articlePhoto.placeholderBox() }}" width="1200" height="800">
                            </picture>
                            {{ image.description }}

                            {% if image.getFolder() == 'Press' %}
                                <a class="font-normal underline" target="_blank" href="{{ image.url }}">
                                (Hi-res)
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if section.type == 'text' %}
                <div class="">
                    {# TODO: Check break-words options if it's something to use #}
                    <h2 class="break-words">
                    {{ section.heading }}
                    </h2>
                    {# TODO: Check retcon options. And is it usable with CKEditor? #}
                    <div class="">
                    {{ section.body }}
                    {#
                    {{ section.body|retcon([
                        ['change', 'h1,h2', 'h3'],
                        ['attr', 'h3', { class: 'text-xl font-semibold mb-0.5' }],
                        ['attr', 'h4', { class: 'text-lg font-semibold mb-0.5' }],
                        ['attr', 'ul', { class: 'list-disc list-outside mb-1' }],
                        ['attr', 'p', { class: 'mb-2' }],
                        ['attr', 'p + p', { class: 'mt-2' }],
                        ['attr', 'p > a', { class: 'underline' }],
                        ['attr', 'figure', { class: 'mb-2' }]
                    ]) }}
                    #}
                    </div>
                </div>

                {% if section.images|length > 0 %}
                    <div class="not-prose image-carousel embla border-box -mx-4 md:-mx-32 my-8">
                        <div class="embla__viewport md:rounded-md overflow-hidden shadow-lg" aria-live="polite" aria-atomic="true">
                            <div class="embla__container flex" role="presentation">
                            {% for image in section.images %}
                                <div class="embla__slide flex justify-center">
                                    <picture>
                                        <source srcset="{{ image.articlePhoto.srcsetWebp() }}" type="image/webp">
                                        <source srcset="{{ image.articlePhoto.srcset() }}" type="image/jpeg"> 
                                        <img width="1200" height="675"  src="{{ image.articlePhoto.placeholderBox() }}">
                                    </picture>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {# Thumbnail carousel #}
                        {% if section.images|length > 1 %}
                            <div class="embla-thumbs md:mx-8 px-2 md:px-4 py-4 bg-grey-lightest">
                                <div class="embla-thumbs__viewport flex justify-center">
                                    <div class="embla-thumbs__container flex gap-1">
                                    {% for image in section.images %}
                                        <div class="embla-thumbs__slide embla-thumbs__slide--selected shadow-md flex-none">
                                            <picture>
                                                <source srcset="{{ image.articlePhoto.srcsetWebp() }}" type="image/webp">
                                                <source srcset="{{ image.articlePhoto.srcset() }}" type="image/jpeg"> 
                                                <img width="128" height="72" class="w-18 md:w-32 h-12 md:h-18 object-cover object-center rounded border border-grey-dark" src="{{ image.articlePhoto.placeholderBox() }}">
                                            </picture>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>                    
                {% endif %}
            {% endif %}

        {% endfor %}
    {% endif %}
</article>
