{% cache using key "frontpage-events" if not craft.app.config.general.devMode %}
{# set currentSeries = craft.entries.section('series').endDate.('>= ' ~ now) #}
{% set events = craft.entries.section('series')
                            .endDate('>= ' ~ clone(now).modify('today').format('Y-m-d H:i:s'))
                            .orderBy('startDate')
                            .with(['movies'])
                            .limit(null)
                            .all() %}

{% if events|length > 0 %}

<section class="relative bg-teal-teal-blue pt-20 pb-8 md:pt-32 md:pb-24">
    <h1 class="absolute top-0 right-0 px-4 py-2 bg-blue text-white text-base md:text-lg leading-none font-medium uppercase">
        {{ 'Events'|t }}
    </h1>
    {% for event in events %}
        {% set image = event.image.one() %}
        <div class="w-4/5 md:3/4 lg:w-2/3 xl:w-1/2 mx-auto">
            <a href="{{event.url}}" class="font-normal">
                <div class="rounded-md overflow-hidden bg-black text-white shadow-lg">
                    <div class="flex gap-0 justify-end px-4 py-1 md:py-2 md:text-xl font-medium">
                        <time class="inline-flex gap-2 items-baseline">
                            {{ event.startDate|date('d.m.') }}
                        </time>
                        <div>&ndash;</div>
                        <time class="inline-flex gap-2 items-baseline">
                            {{ event.endDate|date('d.m.') }}
                        </time>
                    </div>
                    <picture>
                        <source srcset="{{ image.articlePhoto.srcsetWebp() }}" type="image/webp">
                        <source srcset="{{ image.articlePhoto.srcset() }}" type="image/jpeg"> 
                        <img src="{{ image.articlePhoto.placeholderBox() }}">
                    </picture>
                    <h2 class="px-4 py-1 md:py-2 md:text-xl text-center font-medium uppercase">
                        {{ event.title }}
                    </h2>
                </div>
                <div class="px-4 py-3 md:py-4 text-center text-balance text-base font-medium md:text-xl md:font-normal text-blue">
                    {{ event.ingress }}
                </div>
            </a>
        </div>
    {% endfor %}
</section>

{% endif %}
{% endcache %}