{# IL KINO teaser on the frontpage #}

{% cache using key 'teaser' if not craft.app.config.general.devMode %}
{% set homepage = craft.entries().section('homepage').one() %}
{% set featured = craft.entries().section('featured').with(['linkedEntry']).all() %}

<section class="relative px-6 py-6 md:py-9 bg-red-darker text-white">
    <div class="container m-auto">
        <div style="font-variant: small-caps" class="py-6 md:py-9 text-2xl font-bold  text-center">
            {{ homepage.siteTagline }}
        </div>
        <div class="flex flex-col md:flex-row gap-4 items-center mx-auto pb-6 md:pb-9 justify-center">
            {% for entry in featured %}
                {# TODO: Do this more elegant #}
                {% set isInternal = (entry.linkedEntry|length > 0) %}
                {% set linkedEntry = entry.linkedEntry[0] ?? '' %}
                {% set url = (isInternal) ? linkedEntry.url : entry.externalLink %}
                <a {{ not isInternal ? 'target="_blank"' }}
                    class="bg-orange-light text-black shadow text-lg text-center px-3 py-1.5 font-normal rounded w-1/2 md:w-auto"
                    href="{{ url }}">
                {{ entry.buttonText }}
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endcache %}
