{# FRONTPAGE PROGRAM #}
{# TODO: This seems also to get old shows if they are not deleted #}
{% set upComingShowsByDate = craft.program.getUpcomingShowsByDate(7) %}
{# NB: Should this be part of the upcomingshows? Or the behaviour? #}
{% set movies = craft.program.movies %}

<section class="relative before:bg-red-700 before:absolute before:top-12 sm:before:top-24 before:bottom-0 before:inset-x-0">

    {# Program wrapper #}
    <div class="container padded mx-auto px-1 py-8 rounded bg-white relative z-10 shadow-lg">
        {# Heading #}
        <h2 class="text-2xl md:text-3xl leading-none text-center font-bold text-red-500 uppercase">
            {{ 'Programm'|t }}
        </h2>

        {# Carousel wrapper #}
        <div id="embla-program-slider" class="embla max-w-6xl m-auto" aria-labelledby="frontpage-program-label">

        {# Nav wrapper #}
        <div class="flex align-center justify-center m-0 py-3 md:pt-4 md:pb-8">
            
            {# Prev button #}
            <button aria-label="Previous day" class="embla__prev pointer-events-auto hidden p-3">
            {{ svg('@webroot/assets/img/icons/prev-round-outline.svg')|attr({
                class: 'h-6 w-6 fill-red-500',
                alt: 'Previous day'
            }) }}
            </button>

            {# Dots #}
            <ul class="embla__dots h-12 flex align-center flex-wrap justify-center" role="tablist" aria-label="Select day">
            {% for date, shows in upComingShowsByDate %}
                <li role="presentation" class="size-12 p-1.5 text-center text-red-500">
                    <button class="carousel-dot inline-block rounded-full text-center text-sm font-bold uppercase"
                            aria-controls="embla-program-slider-{{loop.index}}" aria-label="{{ date|date('l') }}" type="button" role="tab" >
                        {{ date|date('D') }}
                    </button>
                </li>
            {% endfor %}
            </ul>

            {# Next button #}
            <button aria-label="Next day" class="embla__next pointer-events-auto hidden p-3">
            {{ svg('@webroot/assets/img/icons/next-round-outline.svg')|attr({
                class: 'h-6 w-6 fill-red-500',
                alt: 'Previous day' })
            }}
            </button>
        </div>

        {# Actual carousel #}
        <div class="embla__viewport" aria-live="polite" aria-atomic="true">
            <div class="embla__container flex" role="presentation">
            {# TODO: Use dark mode for this! #}
            {% set useContext = 'program-page' %}
            {# TODO: This seems like a hack #}
            {% set filmsToday = true %}
            {# NB! See if this is robust for missing days and updates! #}
            {% for date, shows in upComingShowsByDate %}
                {# TODO: Rename "today" #}
                <div id="embla-program-slider-{{loop.index}}" class="embla__slide md:px-6" role="tabpanel">
                {# TODO: Rewrite this! #}
                {{ include('_partials/program-day') }}
                </div>
            {% endfor %}
            </div>
        </div>

        {# Program link #}
        {% set program = craft.entries.section('program').one() %}
        <div class="text-center mt-8">
            <a class="inline-block bg-white text-red-500 border rounded shadow border-red-500 text-lg px-3 py-1.5 font-normal" href="{{program.url}}">
            {{ 'Ganzes Programm'|t }}
            </a>
        </div>
    </div>
</section>
