{% cache using key "mainmenu" if not craft.app.config.general.devMode %}
  <div class="sticky top-0 flex justify-between content-center w-full px-4 py-6 text-sm lg:text-base leading-none text-center bg-black text-white">
    <a href="{{ siteUrl }}" aria-label="Homepage" class="flex-none">
      {{ svg('@webroot/assets/img/logo-ilkino-white.svg')|attr({
        class: 'm-auto h-6 lg:h-9 fill-white',
      }) }}
    </a>

    {% set menu = craft.entries().section('mainMenu').with('internalLink').level(1).all() %}

    {# Main menu (hidden on mobile) #}
    <nav class="hidden md:flex md:items-stretch h-6 lg:h-9">
      {% for menuItem in menu %}
        {% set isInternal = (menuItem.internalLink|length > 0) %}
        {% set url = isInternal ? menuItem.internalLink[0].url : menuItem.externalLink %}
        {% if url is defined %}
          <a href="{{ url }}" class="flex items-center px-2 lg:px-3 rounded {{ (url == entry.url) ? 'bg-white text-black' }}" {{ not isInternal ? 'target="_blank"' }}>
            {{ menuItem.title }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>

    {# Secondary nav #}
    <div class="flex content-center gap-2 lg:gap-4">

      {# Language switcher  #}
      {% include '_partials/languageSwitcher' with {'type': 'desktop'} %}
  
      {# Social links  #}
      <a aria-label="IL KINO on Facebook" class="hidden md:block" target="_blank" href="https://facebook.com/ilkinoberlin">
        {{ svg('@webroot/assets/img/icon-facebook.svg')|attr({ class: 'inline-block size-6 lg:size-9', alt: 'IL KINO on Facebook' }) }}
      </a>
      <a aria-label="IL KINO on Instagram" class="hidden md:block" target="_blank" href="https://instagram.com/ilkinoberlin">
        {{ svg('@webroot/assets/img/icon-instagram.svg')|attr({ class: 'inline-block size-6 lg:size-9', alt: 'IL KINO on Instagram' }) }}
      </a>

      {# Mobile menu  #}
      <div id="mobile-menu-toggle" class="md:hidden">
        {{ svg('@webroot/assets/img/icons/menu.svg')|attr({ class: 'm-auto h-6 w-6', alt: 'Menu' }) }}
      </div>

    </div>
  </div>

  <nav id="mobile-menu" class="bg-black text-white pb-6 hidden">
    <ul class="px-12 pb-0">

      {% for menuItem in menu %}
        {% set isInternal = (menuItem.internalLink|length > 0) %}
        {% set url = isInternal ? menuItem.internalLink[0].url : menuItem.externalLink %}
        {% set isActive = url == entry.url %}
        {% if url is defined %}
          <li class="py-3 border-b border-white">
            <a id="mobile-menu-toggle" class=""
              {{ not isInternal ? 'target="_blank"' }}
              href="{{ url }}">{{ menuItem.title }}</a></li>
        {% endif %}
      {% endfor %}

      <li class="mx-auto text-center flex-none mt-6">
        <a aria-label="IL KINO on Facebook" href="https://facebook.com/ilkinoberlin" target="_blank" class="p-1.5 px-3">
          {{ svg('@webroot/assets/img/icon-facebook.svg')|attr({ class: 'inline-block h-12 w-12', alt: 'IL KINO on Facebook' }) }}
        </a>
        <a aria-label="IL KINO on Instagram" href="https://instagram.com/ilkinoberlin" target="_blank" class="p-1.5 px-3">
          {{ svg('@webroot/assets/img/icon-instagram.svg')|attr({ class: 'inline-block h-12 w-12', alt: 'IL KINO on Instagram' }) }}
        </a>
      </li>

    </ul>
  </nav>
{% endcache %}