{% set dev = (craft.app.sites.primarySite.baseUrl == 'https://ilkino-ddev.ddev.site/') ? true : false %}

{# Mobile height is square (screen width) + height of top nav #}
<header class="h-[calc(100vw+4.5rem)] sm:h-[70vh] sm:portrait:max-h-[24rem]">
  {{ include('_partials/global-mainmenu') }}

    {# Image #}
    {% set still = craft.program.nextShowStill %}
    {% set still = (still is defined and not null) ? still : defaults.stills[3] %}
    {% set square = still.stillsSquare %}
    {% set wide = still.stillsWide %}

    <picture>
      <source srcset="{{ _self.imgixDesat(square.optimizedWebPImageUrls) }}" media="(max-width:575px)" sizes="100vw" type="image/webp">
      <source srcset="{{ _self.imgixDesat(square.optimizedImageUrls) }}" media="(max-width:575px)" sizes="100vw" >
      <source srcset="{{ _self.imgixDesat(wide.optimizedWebPImageUrls) }}" sizes="100vw" type="image/webp" >
      <source srcset="{{ _self.imgixDesat(wide.optimizedImageUrls) }}" sizes="100vw" >
      {# Image height is visible space + topnav and program offset #}
      <img class="w-full h-[calc(100vw+7.5rem)] sm:h-[calc(70vh+6rem)] sm:portrait:max-h-[calc(24rem+6rem)] fixed top-0 -z-10 object-cover object-top {{ dev ? 'grayscale' : '' }}"
              src="{{ square.placeholderBox() }}"
              width="350" height="350" fetchPriority="high"
              {# TODO: Maxwidth? https://nystudio107.com/docs/image-optimize/advanced.html#miscellaneous #}
              alt="Still image from random film as background decoration"
      >
    </picture>

</header>

{%- macro imgixDesat(urls) %}
  {%- for width, url in urls %}
    {{ url }}{{ ('imgix' in url) ? '&sat=-100 ' : ' ' }}{{ width }}{{ 'w, ' }}
  {% endfor -%}
{% endmacro -%}