{% if entry is defined %}
  {% js at head %}
    {% if entry.type.handle == 'movie' %}
      var movie = {
        'movieId': {{ entry.movieID }},
        'uri': '{{ entry.uri }}',
      };
      var siteUrl = pageUrl = '{{ siteUrl }}';
    {% else %}
      var movie = null;
      var siteUrl = '{{ siteUrl }}';
      var pageUrl = '{{ entry.url }}';
    {% endif %}
  {% endjs %}
{% endif %}
