{# logic #}
{% set currentElement = craft.app.urlManager.matchedElement %}
{% set sites = craft.app.getSites().getGroupById(currentSite.groupId).getSites() %}
{% set switcherLinks = [] %}

{% for site in sites|filter(site => site.baseUrl is not empty) %}

    {% set title = craft.app.i18n.getLocaleById(site.language).displayName %}
    {% set url = site.getBaseUrl() %}
    {% if currentElement %}
        {% set otherLocaleElement = craft.app.getElements().getElementById(currentElement.id, currentElement.className(), site.id) %}
        {% if otherLocaleElement and otherLocaleElement.enabledForSite %}
            {% set url = otherLocaleElement.url %}
        {% endif %}
    {% endif %}

    {% set switcherLinks = switcherLinks|merge([{
        url: url,
        title: title,
        countryCode: site.language|split('-')|last,
        current: site.id == currentSite.id ? true : false,
        language: site.language,
    }]) %}

{% endfor %}

{# outputting html #}
{% if switcherLinks|length > 1 %}

  {% if type == 'desktop' %}
    <div aria-label="{{'Switch language'|t}}" role="navigation" class="flex-none flex items-center">
        {% for switcherLink in switcherLinks %}
            <a class="{{switcherLink.current ? 'is-active hidden'}}" href="{{switcherLink.url}}" hreflang="{{switcherLink.language}}" lang="{{switcherLink.language}}">
                <span>{{ switcherLink.title }}</span>
                <span class="flag-icon flag-icon-{{switcherLink.countryCode}}"></span>
            </a>
        {% endfor %}
    </div>

  {% elseif type == 'mobile' %}

    {# Mobile lanugage switcher #}
    {% for switcherLink in switcherLinks %}
        <div class="{{switcherLink.current ? 'is-active hidden'}} inline-block">
            <a class="pr-3" href="{{switcherLink.url}}" hreflang="{{switcherLink.language}}" lang="{{switcherLink.language}}">
            <span>{{ switcherLink.title }}</span>
            <span class="flag-icon flag-icon-{{switcherLink.countryCode}}"></span>
            </a>
        </div>
    {% endfor %}

  {% endif %}

{% endif %}
