{% import "_includes/macros.twig" as macros %}

{% set startDay = 4 %} {# Thursday = 4, it is 0 indexed #}
{% set dayOfWeek = "now"|date("w") %} {# Today's day of week #}
{# Get the thursday of _next_ week #}
{% set splitDate = "now"|date_modify( (startDay - dayOfWeek + 6) ~ " days")|date() %}
{% set primaryColor = 'red-dark' %}
{% set bgColor = 'beige-light' %}

{% set movies = craft.program.upcomingMovies %}

{# Filtering out movies that don't have upcoming screenings (today was last screening) #}
{% set movies = movies|filter( movie => (
    movie.shows|filter(
      show => show.showTime|date('YmdHi') >= now|date('YmdHi')
    )
  )|length > 0
) %}

{# Grouping movies in "Current" and "Upcoming" based on the next screening #}
{% set moviesGrouped = movies|group(
    e => (e.nextScreening|date('Ymd') <= splitDate|date('Ymd'))
      ? 'current'
      : 'upcoming'
  )
%}

{% for group, movies in moviesGrouped %}
  {# TODO: This is probably not reliable, as it is keeping also films from last Thursday(?) #}
  {% if movies|length > 0 %}

    {# TODO: Set the gradient in Tailwind somehow #}
    {% set bgCss = (group == 'current')
                  ? 'bg-red-red-orange'
                  : 'bg-black'|t %}

    <section class="relative text-white {{ bgCss }} pt-20 pb-8 md:pt-32 md:pb-24">
      <h1 class="absolute top-0 right-0 px-4 py-2 bg-red-700 text-white text-base md:text-lg leading-none font-medium uppercase">
          {{ (group == 'current') ? 'Diese Woche'|t : 'Demnächst'|t }}
      </h1>
      <div id="{{group}}-movies" class="embla mx-auto">
        <div class="embla__viewport text-center">
          <div class="embla__container grid grid-rows-1 md:grid-rows-2 gap-6 mx-6 md:mx-12">
              {% for movie in movies %}
                  <div class="{{ (group == 'current') ? 'w-96 max-w-[80vw] md:w-60 2xl:w-72' : 'w-72 md:w-48 2xl:w-60' }} text-left {{ (loop.index % 2 != 0) ? 'embla__slide' : '' }}">
                    {{ include('_partials/movie') }}
                  </div>
              {% endfor %}
          </div>
        </div>
        {# Nav wrapper #}
        <div class="navigation flex items-center justify-between md:justify-center gap-6 md:gap-12 m-0 pb-3 md:pb-9 mx-3 md:mx-9">
          <button aria-label="Previous" class="embla__prev pointer-events-auto ml-0.75 md:ml-0 p-3">
            {{ svg('@webroot/assets/img/icons/prev-round-outline.svg')|attr({ class: 'h-12 w-12 fill-white', alt: 'Previous' }) }}
          </button>
          {# All films link #}
          {% set filmLink = craft.entries.section('films').one() %}
          <div class="text-center">
              <a class="inline-block bg-white text-red-500 border rounded shadow border-red-500 text-lg px-3 py-1.5 font-normal" href="{{filmLink.url}}">
              {{ 'Alle Filme'|t }}
              </a>
          </div>
          <button aria-label="Next" class="embla__next pointer-events-auto mr-0.75 md:mr-0 p-3">
            {{ svg('@webroot/assets/img/icons/next-round-outline.svg')|attr({ class: 'h-12 w-12 fill-white', alt: 'Previous' }) }}
          </button>
        </div>
      </div>
      {# All films link #}
      {#
      {% set films = craft.entries.section('films').one() %}
      <div class="text-center mt-8">
          <a class="inline-block bg-white text-red-500 border rounded shadow border-red-500 text-lg px-3 py-1.5 font-normal" href="{{ films.url }}">
          {{ 'Alle Filme'|t }}
          </a>
      </div>
      #}
    </section>
  {% endif %}
{% endfor %}
