<section class="newsletter row expanded column bg-red-700 text-white px-12 pb-6">
  <div class="container mx-auto text-center">

    <h1 class="text-lg md:text-xl leading-none text-center font-normal py-9 md:py-12">
      {{ 'Pssst… get our newsletter'|t }}
    </h1>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="row">
      <form action="//ilkino.us8.list-manage.com/subscribe/post?u=aae4cdc8d60058c4782a8c7be&amp;id=8f1e1d0dc2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="small-12 medium-8 medium-offset-2 columns">
      	  <div class="mc-field-group">
          	<label for="mce-EMAIL" class="show-for-sr">Email Address </label>
          	<input class="required email w-full md:w-96 bg-white text-black placeholder-grey-dark text-lg px-3 py-1.5 rounded md:rounded-tr-none md:rounded-br-none"
                   type="email"
                   value=""
                   name="EMAIL"
                   placeholder="your.address@email.com"
                   autocomplete="email"
                   id="mce-EMAIL" required />
            <input class="button rounded md:rounded-tl-none md:rounded-bl-none cursor-pointer w-full md:w-auto transition duration-300 ease-in-out text-lg mt-3 md:mt-0 px-3 py-1.5 bg-black hover:bg-grey-darker text-white text-white"
                   type="submit"
                   value="Sign up!"
                   name="subscribe"
                   autocomplete="name"
                   id="mc-embedded-subscribe" />
          </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aae4cdc8d60058c4782a8c7be_8f1e1d0dc2" tabindex="-1" value=""></div>
        </div>
      </form>
    </div>
    <div class="mx-auto my-6 px-2 text-sm md:text-base max-w-[40rem]">
      (Ungefähr jede zweite Woche schicken wir ein Newsletter mit neue Filme, Events oder wichtige Informationen.
      E-Mail-Adressen werden <em>nie</em> benutzt für Werbung oder andere Zwecke.)
    </div>
    <!--End mc_embed_signup-->

  </div>
</section>
