{# TODO: Rewamp this whole file #}

{% if useContext is not defined %}
  {% set useContext = 'program' %}
{% endif %}

{% if filmsToday is not defined %}
  {% set filmsToday = true %}
{% endif %}


{% set bgColor = (useContext == 'frontpage-header') ? 'bg-transparent' : 'bg-white' %}
{% set textColor = (useContext == 'frontpage-header') ? 'text-white' : 'text-black' %}
{% set topBorder = (useContext == 'frontpage-header') ? 'border-white' : 'border-black' %}
{% set vBorder = (useContext == 'frontpage-header') ? 'border-white' : 'border-white' %}
{% set hBorder = (useContext == 'frontpage-header') ? 'border-white' : 'border-red' %}

{# TODO: Get rid of all this, now that we have harmonized things #}
{% set defaultCss = {
  'textColor' : 'text-black',
  'textDimmed' : 'text-grey-light',
  'borderColor' : 'border-black',
  'dateSeparator' : 'border-red',
  'pillBg' : 'bg-grey-lighter',
  'tagline' : 'text-red font-semibold',
  'taglinePast' : 'text-black font-semibold text-opacity-40',
  'marginBottom' : 'mb-3 md:mb-8',
  'paddingLeft' : 'pl-2',
} %}

{# TODO: Breakout the "pill" and only use "in past" modifiers #}
{% set frontpageCss = {
  'textColor' : 'text-white',
  'textDimmed' : 'text-grey-light',
  'borderColor' : 'border-white',
  'dateSeparator' : 'border-white',
  'pillBg' : 'bg-grey-lighter/20',
  'tagline' : 'text-white bg-red p-1 mb-0.75 md:mb-1.5 rounded inline-block',
  'taglinePast' : 'text-white bg-grey-lighter/20 text-opacity-40 p-1 mb-0.75 md:mb-1.5 rounded inline-block',
  'marginBottom' : 'mb-0',
  'paddingLeft' : 'pl-0 md:pl-2',
} %}

{% set css = (useContext == 'frontpage-header') ? frontpageCss : defaultCss %}
{% set type = (useContext == 'frontpage-header') ? 'frontpage-header' : 'program' %}

{% if filmsToday %}

  <div class="container flex flex-col md:flex-row mx-auto mt-0 px-3 md:px-0 md:border-t-3 border-black text-black">

    {# Date #}
    <time class="w-full md:w-36" datetime="{{date|date('c')}}">
      <h2 class="flex md:flex-col gap-1 md:gap-0 py-3 text-xl md:text-2xl font-medium border-b-3 md:border-b-0 md:border-r-3 border-red-500">
        <div>{{ date|date('D') }}</div>
        <div>{{ date|date('d.m.') }}</div>
      </h2>
    </time>

    {# List of shows of the day #}
    {# TODO: See if we can smoothly transition height when hiding shows #}
    <ul class="w-full md:pl-6">

    {% for show in shows %}
      {% if movies[show.movieID] is defined %}
        {#
        {% set success = show.setMovie(movies[show.movieID]) %}
        #}
        {% set movie = show.movie %}
      {% endif %}


      {% if show.isMovieSet() %}

        {% set movie = show.movie %}

        {# TODO: Make a behaviour or preparse field for display language – or add to the language elements themselves? #}
        {# TODO: Consider removing this section #}
        {% set version = show.eventIDs[0] ?? null %}
        {% set versionCode = version.versionCode.value %}
        {% set origLangs = movie.originalLanguage %}
        {% set audioLangs = version.audioLanguage|length ? version.audioLanguage : origLangs %} {# Use original if not set on version #}
        {% set subsLangs = version.subtitlesLanguage %}

        {# Set "friendly languages" initially to false #}
        {% set friendlyAudio = (audioLangs|length == 1) ? audioLangs[0].isoCode %}
        {% set friendlySubs = subsLangs|map(l => "#{l.isoCode}") %}
        {% set friendlyLangs = [] %}

        {% set diffFromToday = show.showTime|date('Ymd') - now|date('Ymd') %}
        {% set friendlydate = (diffFromToday == 0) ? 'Heute'|t : (diffFromToday == 1) ? 'Morgen'|t : show.showTime|date('l m.d.') %}
        
        {% for lang in ['de', 'en'] %}
          {% if (friendlyAudio == lang) or (lang in friendlySubs) %}
            {% set friendlyLangs = friendlyLangs|merge([lang]) %}
          {% endif %}
        {% endfor %}

        {# Show #}
        {% set inPast = show.showTime|date('YmdHi') < now|date('YmdHi') %}
        <li class="flex items-center gap-4 md:gap-6 w-full py-3 md:px-4 border-b cursor-pointer transition {{ inPast ? 'text-grey-light line-through' : '' }}"
            {# TODO 1: Add macro here #}
            {# TODO 2: Maybe move this to the template(?) #}
            {# TODO 3: Consider web component and paramters from here? #}
            data-showid="{{ show.showID }}"
            data-movieid="{{ show.movieID }}"
            data-uri="{{ movie.uri }}"
            data-shorttitle="{{ movie.shortTitle }}"
            data-ticketurl="{{ show.ticketUrl }}"
            data-open="movie-popup-{{ show.movieID }}"
            data-friendlydate="{{ friendlydate }}"
            data-friendlytime="{{ show.showTime|date('H:i') }}"
            data-showtime="{{show.showTime|date('c')}}"
            data-friendlylangs="{{ friendlyLangs|json_encode() }}"
            data-description="{{ show.altTitle|json_encode() }}"
            x-data="{ inPast: {{ inPast ? 'true' : 'false' }}, disabled: false }"
            x-effect="disabled = !($store.selectedLangs.lang == 'all' || {{ friendlyLangs|json_encode() }}.includes($store.selectedLangs.lang))"
            x-show="$store.selectedLangs.lang == 'all' || {{ friendlyLangs|json_encode() }}.includes($store.selectedLangs.lang)"
            x-transition.duration.300ms
            :class="disabled ? 'text-grey-light' : ''"
        >

          {# TODO: Are all these classes needed? #}
          <time :class="disabled ? 'bg-grey-lightest' : 'bg-grey-lighter'"
                class="flex-none w-12 md:w-15 my-1.5 py-1 text-sm md:text-base text-center leading-tight font-medium rounded {{ inPast ? 'bg-grey-lightest' : 'bg-grey-lighter' }}"
                datetime="{{show.showTime|date('Y-m-d')}}">
              {{ show.showTime|date('H:i') }}
          </time>

          <div>
            {% if show.tagline %}
              <div :class="disabled ? '!text-grey-light' : ''"
                   class="pb-1 text-xs whitespace-nowrap uppercase leading-none font-medium {{ inPast ? 'text-grey-light' : 'text-red-500' }}">
                {{ show.tagline }}
              </div>
            {% endif %}

            {# TODO: Check if all these wrappers are really needed #}
            <div class="lg:flex lg:flex-row items-center">

              {# TODO: Should it be a heading? Or have some ARIA label? #}
              <div class="pr-6 group-hover:text-orange-dark cursor-pointer font-medium">
                <span class="inline-block pr-1.5 md:pr-3 text-base md:text-lg leading-none md:leading-tight">
                  {{- show.showTitle -}}
                </span>
                <span class="inline-block font-light text-xs md:text-sm inline-block leading-none">
                  {{- _self.subtitlesInfo(show) -}}
                </span>

                {% if show.altTitle %}
                  <div class="text-base normal-case font-normal leading-none">
                    {{ show.altTitle }}
                  </div>
                {% endif %}


              </div>
            </div>
          </div>

        </li>

      {% endif %}
    {% endfor %}
    </ul>

  </div>

{% else %}

  {# TODO: On frontpage, don't skip empty days, in program list (maybe) not – at least not if many days in a row(?) #}
  {# Leaving this out for now, causing bugs #}
  {#
  <div class="pl-6 w-full">
    <ul class="w-full">
      <li class="show group flex items-center w-full py-3 border-b cursor-pointer disabled">
        <div class="lg:flex lg:flex-row items-center">
          <div class="pr-6 text-lg md:text-xl {{textColor}} uppercase font-semibold leading-5">
                {{- '(Programm kommt bald)'|t -}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  #}

{% endif %}

{# TODO: Should rethink the whole language content structure on elements #}
{%- macro subtitlesInfo(show) %}
  {% set version = show.eventIDs[0] %}
  {% set origLangs = show.getMovie().originalLanguage %}
  {% set audioLangs = version.audioLanguage|length ? version.audioLanguage : origLangs %}
  {% set subsLangs = version.subtitlesLanguage %}
  {% set audioString = audioLangs|join(', ') ?: 'Originalsprache'|t %}
  {% set subsString = subsLangs|map(e => "#{e.declName}")|join(', ', ' und '|t) %}

  {% switch version.versionCode.value %}
      {% case 'd' %}
          {{ 'Deutsche Fassung'|t }}
      {% case 'live' %}
          {# TODO: Properly formulate and translate (maybe even without language?) #}
          {{ 'Live performance in'|t }} {{ audioLangs|lower }}
      {% case 'xx' %}
          {{ 'Keine Sprache / Dialog'|t }}
      {% case 'ov' %}
          {{ audioString }} {{ 'ohne Untertiteln'|t }}
      {% default %}
          {{ audioString }} {{ 'mit'|t }} {{ subsString }} {{ 'Untertiteln'|t }}
  {% endswitch %}
{% endmacro -%}
