{# -- Basic meta tags -- #}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">

{# -- Prefetch & preconnect headers and links -- #}
{% set headerLink = "Link: " %}
{% for url in prefetchUrls %}
    {% set headerLink = headerLink ~ "<#{url}>; rel=dns-prefetch;," %}
    {% set headerLink = headerLink ~ "<#{url}>; rel=preconnect; crossorigin;" %}
    {% if not loop.last %}
        {% set headerLink = headerLink ~ "," %}
    {% endif %}
    <link rel="dns-prefetch" href="{{ url }}">
    <link rel="preconnect" href="{{ url }}" crossorigin>
{% endfor %}
{% header headerLink %}

{# -- Favicons, webapp manifests, etc. -- #}
{{ craft.vite.inline("@webroot/dist/assets/favicons/webapp.html") }}