{# -- Polyfills detected by User-Agent as per: https://polyfill.io/v2/docs/examples#feature-detection -- #}
{# TODO: Check if needed or handled by Vite #}
{#
<script src="https://cdn.polyfill.io/v3/polyfill.min.js?callback=polyfillsAreLoaded&flags=gated" defer async></script>
#}

{# -- Critical CSS if not in dev mode -- #}
{# TOOD: Only for pages that have it? #}

{% if not craft.app.config.general.devMode %}
    {{ craft.vite.includeCriticalCssTags() }}
{% endif %}

{# -- Main entry point (TODO: Should the link rel be here?) -- #}
<link rel="home" href="{{ siteUrl }}" />
{{ craft.vite.script("src/js/app.js") }}


{# -- Register our Service Worker -- #}
{# TODO: See if this is something we want to use
{% if not craft.app.config.general.devMode %}
    {% include "_boilerplate/_partials/register-service-worker.twig" %}
{% endif %}
#}

{# -- Handle tabs gracefully as per https://david-gilbertson.medium.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 -- #}
{% include "_boilerplate/_partials/tab-handler.twig" %}

{# -- Tiny Cookie JavaScript -- #}
{# TODO: See if this is something we want to use
<script>
    {{ source("_inline-js/tiny-cookie.min.js") }}
</script>
#}