{# TODO: See if can/should be merged with frontpage header image partial #}

{# Mobile height is square (screen width) + height of top nav #}
<header class="h-[calc(100vw+4.5rem)] sm:h-[70vh] sm:portrait:max-h-[24rem]">
  {{ include('_partials/global-mainmenu') }}

    {# Image #}
    {% set image = entry.image.one() %}

    <picture>
      <source srcset="{{ image.articlePhoto.srcsetWebp() }}" type="image/webp">
      <source srcset="{{ image.articlePhoto.srcset() }}" type="image/jpeg"> 
      {# Image height is visible space + topnav and program offset #}
      <img class="w-full h-[calc(100vw+7.5rem)] sm:h-[calc(70vh+6rem)] sm:portrait:max-h-[calc(24rem+6rem)] fixed top-0 -z-10 object-cover"
              src="{{ image.articlePhoto.placeholderBox() }}"
              width="350" height="350" fetchPriority="high"
              {# TODO: Maxwidth? https://nystudio107.com/docs/image-optimize/advanced.html#miscellaneous #}
              alt="Event artwork"
      >
    </picture>

</header>

{# TODO: This needs some proper work and testing. Need to set height to incoude padding, and also make it work on all screen sizes #}
{%- macro imgixPad(urls) %}
  {%- for width, url in urls %}
    {{ url }}{{ ('imgix' in url) ? '&bg=000000&pad-bottom=225 ' : ' ' }}{{ width }}{{ 'w, ' }}
  {% endfor -%}
{% endmacro -%}