{% macro sticker(movie, primaryColor, secondaryColor, type) %}

    {% if type == 'event' %}
        <div class="max-w-2/3 leading-none text-base absolute top-0 m-auto -mt-1 -ml-1 font-bold shadow">
            <div class="h-15 w-5 flex bg-yellow-dark rounded-full font-bold text-center">
                <time class="m-auto leading-reduced" datetime="{{movie.shows[0].showTime|date('Y-m-d')}}">
                    <div class="text-sm uppercase">{{ movie.shows[0].showTime|date('M') }}</div>
                    <div class="text-xl">{{ movie.shows[0].showTime|date('d') }}</div>
                </time>
            </div>
        </div>
    {% endif %}

{% endmacro sticker %}

{# TODO: Start using this #}
{% macro getSynopsisFromOtherLanguage(movie) %}

    {% set currentSite = craft.app.sites.currentSite %}

    {% for site in currentSite.getGroup.getSites() %}

        {% if site.id != currentSite.id %}

            {% set entry = craft.entries.id(movie.id).site(site).one() %}
            {% set locale = craft.app.i18n.getLocaleById( site.language ) %}

            <strong>{{ locale.displayName|capitalize }}</strong>
            {{ entry.synopsis ?? '' }}

        {% endif %}
    {% endfor %}
{% endmacro %}

{# TODO: Delete these after checking if they are used somewhere #}

{# TODO: Delete, moved to hook #}
{% macro getLabels(langCodes) %}
    {% for langCode in langCodes %}
            {{- (not loop.first) ? '/' -}}
            {{- langCode.label -}}
    {% endfor %}
{% endmacro %}

{# TODO: Delete, moved to hook #}
{% macro declSubLang(lang, locale) %}
    {% if locale == 'de' %}
        {{- craft.app.i18n.getLocaleById( lang|trim ).getDisplayName( locale )|lower ~ 'en' -}}
    {% else %}
        {{- craft.app.i18n.getLocaleById( lang|trim ).getDisplayName( locale ) -}}
    {% endif %}
{% endmacro %}
