<strong>Upcoming shows for this movie:</strong>

<table class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Tagline</th>
                    <th>Title</th>
                    <th>Short desc.</th>
                    <th>Version</th>
                    <th>Audio</th>
                    <th>Subtitles</th>
                    <th data-icon="edit"></th>
                </tr>
            </thead>
            <tbody>
                {% for show in craft.entries.relatedTo(element).orderBy('showTime').all() %}
                <tr>
                    <th>{{show.showTime|date('M j H:i')}}</th>
                    <td>{{show.tagline}}</td>
                    <td>{{show.showTitle}}</td>
                    <td>{{show.altTitle}}</td>
                    <td>{{show.versionCode.label}}</td>
                    <td>{{show.audioLanguage.all()|join(', ')}}</td>
                    <td>{{show.subtitlesLanguage.all()|join(', ')}}</td>
                    <td>
                        <a href="{{show.getCpEditUrl()}}" data-icon="edit"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
