{% cache globally %}
<footer class="footer bg-black text-white" id="about">

  <div class="relative text-center my-6">
    <a aria-label="IL KINO on Facebook" href="https://facebook.com/ilkinoberlin" target="_blank" class="p-3">
      {{ svg('@webroot/assets/img/icon-facebook.svg')|attr({ class: 'inline-block h-12 w-12', alt: 'IL KINO on Facebook' }) }}
    </a>
    <a aria-label="IL KINO on Instagram" href="https://instagram.com/ilkinoberlin" target="_blank" class="p-3">
      {{ svg('@webroot/assets/img/icon-instagram.svg')|attr({ class: 'inline-block h-12 w-12', alt: 'IL KINO on Instagram' }) }}
    </a>
  </div>

  <div class="my-9 mx-auto container">
    <h1 class="text-2xl">Info credits</h1>

    {# Opening times #}
    <h2 class="text-xl text-center my-6">{{ 'Öffnungszeiten'|t }}</h2>
    {% for day in info.openingTimes %}
      <div class="flex flex-row items-center text-center my-0.75 w-full">
        <h3 class="text-base text-right uppercase pr-3 w-full">
          {{ day.day }}
        </h3>
        <div class="text-lg text-left pl-3 w-full">
          {{ day.openingTimes }}
        </div>
      </div>
    {% endfor %}

    {# Prices #}
    <h2 class="text-xl text-center my-6">{{ 'Preise'|t }}</h2>

    {% for day in info.ticketPrices %}
      <div class="flex flex-row items-center text-center my-0.75 w-full">
        <h3 class="text-base text-right uppercase pr-3 w-full">
          {{ day.day }}
        </h3>
        <div class="text-lg text-left pl-3 w-full">
          {{ day.price|raw|nl2br }}
        </div>
      </div>
    {% endfor %}
    <div class="flex flex-row items-center text-center my-0.75 w-full">
      <h3 class="text-base text-right uppercase pr-3 w-full">
        {{ 'Fußnoten'|t }}
      </h3>
      <div class="text-sm text-left pl-3 w-full">
        {{ info.ticketPriceDescription|nl2br }}
      </div>
    </div>

    {# Getting there #}
    <h2 class="text-xl text-center my-6">{{ 'Ankunft'|t }}</h2>
    <div class="flex flex-row items-center text-center my-0.75 w-full">
      <h3 class="text-base text-right uppercase pr-3 w-full">
        {{ 'Addresse'|t }}
      </h3>
      <div class="text-lg text-left pl-3 w-full">
        Nansenstraße 22, 12047 Berlin
      </div>
    </div>
    <div class="flex flex-row items-center text-center my-1.5 w-full">
      <h3 class="text-base text-right uppercase pr-3 w-full">
        {{ 'U-Bahn'|t }}
      </h3>
      <div class="text-lg text-left pl-3 w-full">
        Schönleinstraße (U8) or Hermannplatz (U7/U8)
      </div>
    </div>
    <div class="flex flex-row items-center text-center my-0.75 w-full">
      <h3 class="text-base text-right uppercase pr-3 w-full">
        {{ 'Bus'|t }}
      </h3>
      <div class="text-lg text-left pl-3 w-full">
        Pflügerstraße (171, 194 and M29)
      </div>
    </div>

    {# Contact #}
    <h2 class="text-xl text-center my-6">{{ 'Kontakt'|t }}</h2>
    <div class="flex flex-row items-center text-center my-0.75 w-full">
      <h3 class="text-base text-right uppercase pr-3 w-full">
        {{ 'E-Mail'|t }}
      </h3>
      <div class="text-lg text-left pl-3 w-full">
        <a href="mailto:contact@ilkino.de">contact@ilkino.de</a>
      </div>
    </div>
    <div class="flex flex-row items-center text-center my-0.75 w-full">
      <h3 class="text-base text-right uppercase pr-3 w-full">
        {{ 'Office/shipment address'|t }}
      </h3>
      <div class="text-lg text-left pl-3 w-full">
        Millfilm GmbH, Maybachufer 24, 12047 Berlin
      </div>
    </div>

</div>

  {% set impressum = craft.entries.section('pages').slug('impressum').one() %}
  {% set datenschutz = craft.entries.section('pages').slug('datenschutz').one() %}
  <p class="text-center">
    Copyright {{ "now"|date('Y') }} © IL KINO<br/>
    {% if impressum is defined %}
    <a class="font-normal" href="{{impressum.url}}">{{impressum.title}}</a>
    {% endif %}
    /
    {% if datenschutz is defined %}
    <a class="font-normal" href="{{datenschutz.url}}">{{datenschutz.title}}</a>
    {% endif %}
  </p>
</footer>
{% endcache %}