{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
  {% cache if not craft.app.config.general.devMode %}
    <link rel="preconnect" href="https://ilkino.imgix.net">
  {% endcache %}
{% endblock %}

{% block headJs %}
  {{ include('_partials/head-siteurl') }}
{% endblock %}

{% block content %}
{% cache if not craft.app.config.general.devMode %}

  <main class="relative">
    {#
    <h1 class="w-full py-8 md:py-24 text-2xl md:text-3xl leading-none text-center font-bold bg-red-700 text-white uppercase">
        {{ 'IL KINOPROGRAMM'|t }}
    </h1>
    #}

    <section class="bg-red-red-orange pb-9 md:pb-18">
      {# Heading #}
      <h1 class="py-9 md:py-18 text-2xl md:text-3xl leading-none text-center font-bold text-white uppercase">
          {{ 'Alle Filme'|t }}
      </h1>

      {# TODO: Make the 'movies' partial so it can reused here! #}
      {% set movies = craft.program.upcomingMovies() %}
      <div class="container padded mx-auto justify-center flex flex-wrap gap-8">
        {% for movie in movies %}
          <div class="w-96 max-w-[80vw] md:w-60 text-white">
              {{ include('_partials/movie') }}
          </div>
        {% endfor %}
      </div>
    </section>

  </main>

  {{ sprig('_partials/movie-popups') }}
{% endcache %}
{% endblock %}

{% block footer %}
  {{ include('_partials/global-footer') }}
{% endblock %}
