{% if name is defined and name %}
    {{ hiddenInput(name, '') }}
{% endif -%}

{% set elements = (elements is defined ? elements : []) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set sourceElementId = (sourceElementId is defined and sourceElementId ? sourceElementId : null) -%}

{% from "_includes/forms" import text %}

<div id="{{ id }}" class="elementselect tagselect">
    <div class="elements">
        {% for element in elements %}

            {% set languageCode = (element.versionCode|length ? element.versionCode.label : '') %}
            {% set audioLanguage = element.audioLanguage ? element.audioLanguage.one() : '' %}
            {% set subtitlesLanguage = element.subtitlesLanguage ? element.subtitlesLanguage.one() : '' %}


            {# include "_elements/element" with { context: 'field' } #}
            <div class="element small removable border"
                 data-id="{{ element.id }}"
                 data-editable

                 data-type="craft\elements\Tag"
                 data-site-id="1"
                 data-status="enabled"
                 data-label="{{ element.title }}"
                 data-url=""
                 data-level=""
                 title="{{ element.title }} – IL KINO Berlin (de)"
                 tabindex="0">
                 <input type="hidden" name="{{ name }}[]" value="{{ element.id }}">
                 <a class="delete icon" title="Remove"></a>
                 <div class="label">
                     <span><strong>{{ (languageCode) ?? languageCode }}</strong></span>
                     {% set iconClass = 'languageIcon' ~ (audioLanguage ? '' : ' missing') %}
                     <span>{{ svg('@webroot/assets/icons/audio.svg')|attr({ class: iconClass }) -}}</span>
                     <span class="status live"></span>
                     {% set iconClass = 'languageIcon' ~ (subtitlesLanguage ? '' : ' missing') %}
                     <span>{{ svg('@webroot/assets/icons/subtitles.svg')|attr({ class: iconClass }) -}}</span>
                     <span class="status disabled"></span>
                 </div>
            </div>
        {% endfor %}
    </div>

    <div class="texticon add icon">
        {{ text({
            width: 'auto',
            placeholder: selectionLabel,
        }) }}
        <div class="spinner hidden"></div>
    </div>
</div>

{% css %}
    .border {
        border: 1px solid rgba(51, 64, 77, 0.2);
    }

    .languageIcon {
        width: 14px;
        height: 10px;
        fill: #3f4d5a;
    }

    .missing {
        fill: #ef4e4e;
    }

{% endcss %}

{% set jsSettings = {
    id: id|namespaceInputId,
    name: name|namespaceInputName,
    tagGroupId: tagGroupId,
    sourceElementId: sourceElementId ?: null,
    targetSiteId: targetSiteId
} %}

{% js %}
    new Craft.TagSelectInput({{ jsSettings|json_encode|raw }});
{% endjs %}
