{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
{% cache if not craft.app.config.general.devMode %}

  <main class="relative bg-red-red-orange bg-cover bg-fixed py-9 md:py-18">
    <div class="padded flex justify-center">
      <div class="px-4 md:px-24 py-9 md:py-12 rounded bg-white shadow-lg">
        {{ include('_partials/bodytext') }}
      </div>
    </div>
  </main>

{% endcache %}
{% endblock %}

{% block footer %}
  {{ include('_partials/global-footer') }}
{% endblock %}
