{% extends "_layout" %}

{% set transform = {
    mode: 'crop',
    width: 400,
    height: 300,
    format: 'jpg',
    quality: 80,
    position: 'top-center'
  } %}


{% block content %}

  <article class="relative py-12 px-6 md:px-24 bg-white text-black">
    <div class="absolute top-0 bottom-0 left-0 w-0 md:w-24 bg-gradient-to-b from-red to-orange-light"></div>

    <h1 class="text-5xl md:text-7xl mb-6 font-regular bg-gradient-to-r from-red to-orange-light bg-clip-text text-transparent">{{ entry.title }}</h1>

    <div class="container m-auto max-w-4xl text-center text-lg md:text-2xl text-light leading-tight mb-12">
      {{ entry.ingress }}
    </div>

    {% set sections = entry.sections.with(['sections.images']).all() %}
    {% if sections|length %}
      {% for section in sections %}

        {% if section.type == 'imageGrid' %}
          <div class="flex flex-col md:flex-row flex-wrap w-full md:w-4/5 mx-auto">
            {% set images = section.images.all() %}
            {% for image in images %}

              <div class="w-full md:w-1/3 p-1.5">
                  {% do image.setTransform(transform) %}
                  {{ tag('img', {
                      src: image.url,
                      width: image.width,
                      height: image.height,
                      srcset: image.getSrcset(['1x', '1.5x', '2x']),
                      alt: '',
                      class: 'w-full',
                      sizes:'(max-width: 575px) 100vw, (max-width: 991px) 70vw, 50vw',
                  }) }}

                  {{ image.description }}

                  {% if image.getFolder() == 'Press' %}
                    <a class="font-normal underline" target="_blank" href="{{ image.url }}">
                      (Hi-res)
                    </a>
                  {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if section.type == 'text' %}
          <div class="flex flex-col md:flex-row w-full md:w-4/5 mx-auto md:border-t-3">
            <div class="w-full md:w-1/4 xl:w-1/5">
              <h2 class="break-words text-lg lg:text-2xl leading-tight py-1.5 md:py-6 md:pr-3 border-b-3 md:border-b-0 md:border-r-3 border-red">
                {{ section.heading }}
              </h2>
            </div>
            <div class="w-full md:w-3/4 xl:w-4/5 text-base md:text-lg pt-6 px-2 md:pl-6 md:pr-0">
              {{ section.body|retcon([
                ['change', 'h1,h2', 'h3'],
                ['attr', 'h3', { class: 'text-xl font-semibold mb-0.5' }],
                ['attr', 'h4', { class: 'text-lg font-semibold mb-0.5' }],
                ['attr', 'ul', { class: 'list-disc list-inside mb-1' }],
                ['attr', 'p', { class: 'mb-2' }],
                ['attr', 'p + p', { class: 'mt-2' }],
                ['attr', 'p > a', { class: 'underline' }],
                ['attr', 'figure', { class: 'mb-2' }]
              ]) }}
            </div>
          </div>

          {% if section.images|length > 0 %}
            <div class="article-slider-wrapper relative w-4/5 mx-auto mb-6">

              {# TODO: Remove #}
              {% set imgTransform = {
                mode: 'crop',
                width: 800,
                height: 600,
                quality: 75,
                position: 'center-center'
              } %}

              <div class="article-slider">
                {% set images = section.images.all() %}
                {% for image in images %}

                  <div class="max-h-72">
                      {% do image.setTransform(transform) %}
                      {{ tag('img', {
                          src: image.url,
                          width: image.width,
                          height: image.height,
                          srcset: image.getSrcset(['1x', '1.5x', '2x']),
                          alt: '',
                          class: 'h-auto w-full',
                          load: 'lazy',
                          sizes:'(max-width: 575px) 100vw, (max-width: 991px) 70vw, 50vw',
                      }) }}
                  </div>
                {% endfor %}
              </div>

              {# Slider controls #}
              <div class="pointer-events-none slider-controls w-full absolute vertical-center flex flex-row items-start justify-between">
                <button class="pointer-events-auto prev ml-6 md:ml-0 p-1.5 border rounded-full md:border-0">
                  <img class="h-6 w-6" src="/assets/img/icons/prev-round-white.svg">
                </button>
                <button class="pointer-events-auto next mr-6 md:mr-0 p-1.5 border rounded-full md:border-0">
                  <img class="h-6 w-6" src="/assets/img/icons/next-round-white.svg">
                </button>
              </div>

            </div>
          {% endif %}
        {% endif %}

      {% endfor %}
    {% endif %}

  </article>
{% endblock %}
