{% extends "_layoutProgram" %}
{% import "_includes/macros.twig" as macros %}

{% block content %}

{% cache if not craft.app.config.general.devMode %}

  {% set movies = craft.program.movies %}
  {% set shows = craft.program.shows %}

  {{ sprig('_components/loadPopus') }} 

  {% set programs = entry.files %}
  {% if programs|length > 0 %}
    <div class="bg-white">
      <div class="text-right container mx-auto bg-white px-3 md:px-0 py-3 md:py-6">
        <a class="underline text-red-dark" href="{{programs[0].url}}" target="_blank">
          Download
          <span class="hidden md:inline">{{programs[0].title}}</span>
        </a>
      </div>
    </div>
  {% endif %}

  {# START: Testing language choice #}
  {#
  <div class="container mx-auto">
    <h3>Test</h3>
    {{ 'Ich verstehe'|t }}
    <button onclick="dimShows('');">{{ 'Beide'|t }}</button>
    <button onclick="dimShows('de');">{{ 'Deutsch'|t }}</button>
    <button onclick="dimShows('en');">{{ 'Englisch'|t }}</button>
  </div>

  {% js %}
    
    let allShows = document.querySelectorAll('[data-friendlylangs]');
    let showingLang = '';

    function dimShows(lang) {

      if (lang != showingLang) {
        for (let index = 0; index < allShows.length; index++) {
          const show = allShows[index];

          show.classList.remove('hidden');

          if (!show.getAttribute('data-friendlylangs').includes(lang)) {
            show.classList.add('hidden');
          }
          showingLang = lang;
          console.log('Showing lang: ' + showingLang);
        }
      } else {
          console.log('Already showing lang, dummy: ' + showingLang);
      }
    }
  
  {% endjs %}
  #}
  {# END: Testing language choice #}

  <header class="py-6 md:py-16 bg-white">
    <h1 class="text-3xl md:text-6xl font-normal text-black">{{ entry.title }}</h1>
  </header>

  <main class="bg-white overflow-auto">
  {% set update = craft.entries().section('updates').type('updates').one() %}
  {% if update %}
    <div class="bg-black text-white px-3">
      <h2 class="text-2xl text-center">{{ update.title }}</h2>
      <div class="text-xl text-center">{{ update.ingress }}</div>
    </div>
  {% endif %}


  {# TODO: Move this to function(?) and _global (and collection) #}
  {% set upComingShowsByDate  = shows|group("displayDate|date('Y-m-d')")|sort %}
  {% set lastFilm = upComingShowsByDate|first|last %}

  {# Get special "periods" (e.g. periods we are closed) #}
  {% set periods = craft.entries.section('updates').type('periodInfo').orderBy('startDate ASC').all() %}


  {% set today = now|date('z') %}
  {% set lastProgramDay = upComingShowsByDate|keys|last|date('z') %}
  {% set end = (lastProgramDay-today) %}

  {% set useContext = 'program-page' %}

  {# Hack not to show period updates repeatedly #}
  {% set periodsShown = [] %}
  {# TODO: 100 is random, trying to accomodate problems with ..end, but don't know what it is #}
  {% for offset in 0..100 %}
  {# for date, shows in upComingShowsByDate #}

    {# TODO: Standarise and deal with all this in _global #}
    {# TODO: NB: Using "today" is not good, it's predefined in Craft! #}
    {% set today = clone(now)|date_modify('-3 hours')|date_modify('+'~offset~' days')|date('Y-m-d') %}

    {# Show period update, if any (we only do one per date!) #}
    {% set update = null %}
    {% for period in periods %}
      {% if period.id not in periodsShown and today >= period.startDate|date('Y-m-d') and today < period.endDate|date('Y-m-d') %}
        {% set update = period %}
        {{ include('_components/program/_period') }}
        {% set periodsShown = periodsShown|merge([period.id]) %}
      {% endif %}
    {% endfor %}


    {# Checking whether we need a placeholder for today #}
    {% if today in upComingShowsByDate|keys %}
      {% set filmsToday = true %}
      {% set shows = upComingShowsByDate[today] %}
      {{ include('_components/program/_programday') }}

    {% else %}
      {% set filmsToday = false %}
    {% endif %}

    {# TODO: Hack to always "have" film today #}
  {% endfor %}

  </main>

{% endcache %}

{% endblock %}
