{% extends "_layoutProgram" %}

{% block content %}
<div class="relative w-full">


  <article class="py-12 px-6 md:px-24 bg-black text-white">

    <div class="absolute top-0 bottom-0 left-0 w-0 md:w-24 bg-gradient-to-b text-white from-red to-orange-light"></div>

    <div class="flex flex-col md:flex-row flex-wrap w-full md:w-4/5 mx-auto">

      {% set image = entry.image.one() %}
      {% if image %}
        {% set optimizedImage = image.articlePhoto %}
        <img load="lazy" src="{{ optimizedImage.placeholderBox() }}" srcset="{{ optimizedImage.srcset() }}" sizes="100vw" />
      {% endif %}

      <div class="container m-auto max-w-4xl">
        <h1 class="text-5xl md:text-7xl text-center w-full my-6 font-regular bg-gradient-to-r from-red to-orange-light bg-clip-text text-transparent">
          {{ entry.title }}
        </h1>

        <div class="text-lg md:text-xl font-light">
          {{ entry.ingress }}
        </div>

        <div class="text-base md:text-lg py-6">
          {{ entry.description }}
        </div>
      </div>

      {% set group = 'series' %}
      {% set movies = entry.movies %}
      {% if movies|length > 0 %}

        {# TODO: Set the gradient in Tailwind somehow #}
        {% set bgCss = (group == 'current')
                    ? 'bg-red-red-orange'
                    : 'bg-black'|t %}

        <section class="text-white {{ bgCss }}">
          <h2 class="section-heading pt-9 pb-12">
            {{ 'Vorstellungen'|t }}
          </h2>
          <ul class="container mx-auto md:flex md:flex-wrap md:justify-between md:gap-4">
            {% for movie in movies %}
              {{ include('_components/movie') }}
            {% endfor %}
          <ul>

        </section>
      {% endif %}

    </div>


  </article>
</div>

  {% cache globally using key "movie-popups" %}
    {% set movies = craft.program.movies %}
    {{ sprig('_components/loadPopus') }}
  {% endcache %}

{% endblock %}
