{% set movies = craft.program.movies %}
{% set shows = craft.program.shows %}

{# Set the startdate to Thursday, and set week offset #}
{% set queryParams = craft.app.request.queryParams %}
{% set weekOffset = ('startWeek' in queryParams|keys) ? queryParams['startWeek'] : 0 %}
{% set foldable = ('foldable' in queryParams|keys) ? queryParams['foldable'] : true %}

{% set modifier = now|date('w') == '4' ? 'today midnight' : 'last thursday midnight' %}
{% set baseDate = clone(now)|date_modify(modifier) %}
{% set startDate = baseDate|date_modify(weekOffset~" weeks")|date() %}
{% set weeksToShow = 2 %}
{% set endDate = startDate|date_modify(weeksToShow~" weeks")|date_modify("-1 day")|date() %}

{% set upComingShowsByDate = shows|group("showTime|date_modify('-3 hours')|date('Y-m-d')") %}

{# Filtering the selection we want #}
{% set upComingShowsByDate = upComingShowsByDate|filter((v, k) => k|date('Ymd') >= startDate|date('Ymd'))|filter((v, k) => k|date('Ymd') <= endDate|date('Ymd')) %}

{# TODO: See if should be nore in header #}
<!doctype html>
<html style="font-size: 62.5%" class="no-js" lang="en">

<head>
    <title>IL KINO Programm {{ startDate|date('d.m.') }}–{{ endDate|date('d.m.') }}</title>
    {{ craft.vite.script("src/js/app.js") }}
    <link rel="stylesheet" href="/assets/css/paged.interface.css">

    <style type"text/css">

    /* - * - * - * - * - * - * - * - * - * - */
    /* X.0 Custom styles */

    html {
        --paged-layout: booklet;
    }

    .columns-wrapper {
        columns: 3 auto;
    }

    @page { size: A5 portrait; }

    h2.break {
        page-break-before: always;
    }
    </style>
</head>

<body class="w-full">

    <header class="text-center">
        <h1>IL KINOPROGRAMM</h1>
        <div>{{startDate}}–{{endDate}}</div>
    </header>
{#
    <div class="columns-wrapper">
        {% for today, shows in upComingShowsByDate %}
            <div class="mb-3">
                <h2 class="text-lg font-bold">{{ today|date('l d.m.') }}</h2>
                {% for show in shows %}
                <div class="py-1.5">
                    <div class="font-bold inline-block">
                        {{ show.showTime|date('H:i') }}
                    </div>
                    <div class="inline-block">
                        {{ show.shadowTitle }}
                    </div>
                </div>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
    
    <div>
        <h2 class="break">Just making a new page</p>
        <p>Adding some text to it</p>
    </div>
#}

    <div class="print-program-wrapper">
        {% set useContext = 'program-page' %}
        {% set filmsToday = true %}
        {% for today, shows in upComingShowsByDate %}
            {{ include('_components/program/_programday') }}
        {% endfor %}
    </div>

<style type"text/css">

/*
@page {
  margin: 10mm;
}
*/

/* - * - * - * - * - * - * - * - * - * - */
/* 1.0 CSS to make A4 print preview as default web view */

/*
:root {
  --pagedjs-margin-left: 23mm;
  --pagedjs-margin-right: 23mm;
}
*/

@media screen {

    .pagedjs_pages {
        /*
        width: 80%;
        margin: 0 auto;
        height: 210mm;
        */
    }

    .pagedjs_page {
        /*
        background-color: #f7f7f7;
        border: 1px solid grey;
        width: 297mm;
        height: 210mm;
        */
    }

/*
    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width));
        height: calc(var(--pagedjs-height));
        flex: 0; flex-wrap: wrap;
        margin: 0 auto; justify-content: center;
    }

    .pagedjs_page {
        margin: 10mm; border: solid 1px gray;
    }
*/
}

/* - * - * - * - * - * - * - * - * - * - */
/* 1.5 Some Custom Font Families */

/*
@font-face {
	font-family: 'Poppins';
	font-weight: normal;
}

@font-face {
	font-family: 'Poppins';
	font-weight: bold;
}

@font-face {
	font-family: 'Poppins';
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Custom Mono';
	font-weight: normal;
}

@font-face {
	font-family: 'Custom Mono';
	font-weight: bold;
}
*/

/* - * - * - * - * - * - * - * - * - * - */
/* 2.0 General Formatting */
/*
html { font-family: 'Poppins', sans-serif; }
h1 { font-size: 16pt; line-height: 1.5em; }
h2 { font-size: 12pt; line-height: 1.5em; }
p {	text-align: justify; line-height: 1.4rem; }
a { color: #347dbd; }
a:hover { color: #FC814A; }
mark { color: purple; background-color: inherit; }
light-mark { color: purple; }
img { max-width: calc(100% - 3rem); }
.img-75mm { height: 75mm; }
*/

/*
center { border: 0.5px solid gray; padding: 1.5rem; }

pre {
	background-color: #f0f0f0;
	font-family: 'Custom Mono', monospace;
	padding: 1rem;
	font-size: smaller;
	white-space: pre-wrap;
}
code { margin-bottom: 1.5rem; display: block;}
figure {
	margin-block-start: 2rem; margin-block-end: 2rem;
	margin-inline-start: 0rem; margin-inline-end: 0rem;
}
figcaption { caption-side: top; padding-bottom: 0.75rem;
	border-bottom: 0.5px solid gray; margin-bottom: 1.5rem;
	color: gray; font-weight: bold;} 
*/

/* - * - * - * - * - * - * - * - * - * - */
/* 3.1 Page Size */
/* @page { size: A4; } */


/* 3.2 Page Breaks */
/*
.page-break { break-after: page; }
h2:not(.no-break) { break-before: page; margin-block-start: 0rem; margin-block-end: 1.66rem; }
h2.no-break:not(.top) { margin-block-start: 3rem; margin-block-end: 1.66rem;}
h2.top { margin-block-start: 0rem; margin-block-end: 1.66rem; }

h3:not(.top) {margin-block-start: 2.49rem; margin-block-end: 0.83rem;}
h3.top { margin-block-start: 1.66rem; margin-block-end: 0.83rem; }
*/

/* - * - * - * - * - * - * - * - * - * - */
/* X.1 Custom styles */
/*
.print-program-wrapper {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.daywrapper * {
    page-break-inside: avoid;
}

.daywrapper.program {
    display: table-row;
    border-top: 1pt solid black;
    page-break-inside: avoid;
}

.daywrapper.program > time {
    padding-bottom: 1cm;
    display: table-cell;
}

.daywrapper.program ul {
    padding-bottom: 1cm;
    display: table-cell;
    width: auto;
    page-break-inside: avoid;
}

.daywrapper.program li {
    display: block;
}

.daywrapper.program li > * {
    display: inline-block;
}
*/

</style>

<script src="/assets/js/paged.polyfill.min.js"></script>
<script src="/assets/js/imposition.js"></script>

</body>