{% extends "_printlayout" %}
{% import "_includes/macros.twig" as macros %}

{% block header %}
{% endblock %}

{% block content %}

  {% set movies = craft.program.movies %}
  {% set shows = craft.program.allShows %}

  {# Set the startdate to Thursday, and set week offset #}
  {% set queryParams = craft.app.request.queryParams %}
  {% set weekOffset = ('startWeek' in queryParams|keys) ? queryParams['startWeek'] : 0 %}
  {% set foldable = ('foldable' in queryParams|keys) ? queryParams['foldable'] : true %}
  
  {% set modifier = now|date('w') == '4' ? 'today midnight' : 'last thursday midnight' %}
  {% set baseDate = clone(now)|date_modify(modifier) %}
  {% set startDate = baseDate|date_modify(weekOffset~" weeks")|date() %}
  {% set weeksToShow = 2 %}
  {% set endDate = startDate|date_modify(weeksToShow~" weeks")|date_modify("-1 day")|date() %}

  {% set upComingShowsByDate = shows|group("showTime|date_modify('-3 hours')|date('Y-m-d')") %}

  {# Filtering the selection we want #}
  {% set upComingShowsByDate = upComingShowsByDate|filter((v, k) => k|date('Ymd') >= startDate|date('Ymd'))|filter((v, k) => k|date('Ymd') <= endDate|date('Ymd')) %}

  {# Hack for pagination #}
    {% set page1 = upComingShowsByDate|slice(0,4) %}
    {% set page2 = upComingShowsByDate|slice(4,3) %}
    {% set page3 = upComingShowsByDate|slice(7,4) %}
    {% set page4 = upComingShowsByDate|slice(11,3) %}

    {#
    {% set upComingShowsByDate = page4|merge(page1)|merge(page2)|merge(page3) %}
    #}

    {# Hack within hack (or possibly a better way?) #}
  {% if foldable %}
    {% set pages = {
      '4': page4,
      '1': page1,
      '2': page2,
      '3': page3,
    } %}
  {% else %}
    {% set pages = {
      '1': page1,
      '2': page2,
      '3': page3,
      '4': page4,
    } %}
  {% endif %}

  <header class="bg-gradient-to-r from-orange to-teal text-white p-12">
    <h1>Program print</h1>
    <p>{{ startDate|date('d.m.Y') }}–{{ endDate|date('d.m.Y') }}</p>
    <p>({{ baseDate|date('d.m.Y')}} )</p>
    <p>({{ upComingShowsByDate|length }})</p>
  </header>

  {#{% for date, shows in upComingShowsByDate %}#}
  {% for pageNum, page in pages %}

    <div style="break-before: column;">

    {% for date, shows in page %}

      {% set useContext = 'program-page' %}

        <table class="table-day">
          {% if pageNum == 1 and loop.index == 1 %}
          <tr>
            <td colspan="2" class="pb-6">
              <h2 class="date text-center">IL KINOPROGRAMM<h2>
              <h3 class="text-center">{{startDate}}–{{endDate}}<h3>
            </td>
          </tr>
          {% endif %}
          <tr class="border-t-print border-grey-lighter">
            <td class="date-column">
              <h2 class="date pl-0 border-r-print border-red">
                <div class="">{{ date|date('D', locale='de') }}</div>
                <div class="">{{ date|date('d.m.') }}</div>
              </h2>
            </td>
            <td class="movie-column">
              {% for show in shows %}
                {% if movies[show.movieID] is defined %}
                  {% set success = show.setMovie(movies[show.movieID]) %}
                  {% set movie = show.movie %}
                {% endif %}

                {% if show.isMovieSet() %}
                  <table class="table-show">
                    <tbody>
                      <tr>
                        <td class="pr-1.5">
                          {{ show.showTime|date('H:i') }}
                        </td>

                        {# Tagline #}
                        {#
                        {% if show.tagline %}
                          <td>
                            <span class="text-tagline whitespace-nowrap bg-red-dark mb-0 p-0.75 rounded mr-1.5 text-white font-semibold uppercase leading-none">
                              {{ show.tagline }}
                            </span>
                          </td>
                        {% endif %}
                        #}

                        <td class="w-full">
                          {% if show.tagline %}
                            <div class="text-tagline whitespace-nowrap text-red-dark mb-0 font-semibold uppercase leading-none">
                              {{ show.tagline }}
                            </div>
                          {% endif %}
                          <div>
                            {# Title #}
                            <span class="text-title leding-none pr-0.75 text-black uppercase font-semibold">
                              {{- show.showTitle -}}
                              {% if show.altTitle %}
                                  <span class="normal-case pt-0.75 font-normal">{{ show.altTitle }}</span>
                              {% endif %}
                            </span>

                            {# Language version #}
                            <span class="text-language font-light inline-block whitespace-nowrap">
                              {% if show.eventIDs %}
                                {% if show.eventIDs[0].versionCode.value == 'd' %}
                                        Deutsche Fassung
                                {% elseif show.eventIDs[0].versionCode.value == 'live' %}
                                        Live performance in {{ show.eventIDs[0].audioLanguage[0]|lower }}
                                {% elseif show.eventIDs[0].versionCode.value == 'xx' %}
                                        Ohne Dialog / Untertiteln
                                {% else %}
                                  {{ movie.originalLanguage|join(', ') ?: show.eventIDs[0].audioLanguage|join(', ') ?: 'Originalsprache' }}

                                {# TODO: Make something smarter here #}
                                  {% if show.eventIDs[0].versionCode.value == 'ov' %}
                                    {{ 'ohne Untertiteln'|t }}
                                  {% elseif show.eventIDs[0].subtitlesLanguage %}
                                    {% if show.eventIDs[0].subtitlesLanguage|length == 1 %}
                                      mit {{ show.eventIDs[0].subtitlesLanguage[0]|lower ~ 'en Untertiteln' }}
                                    {% else %}
                                      mit {{ show.eventIDs[0].subtitlesLanguage[0]|lower ~ 'en ' }}
                                      und {{ show.eventIDs[0].subtitlesLanguage[1]|lower ~ 'en Untertiteln' }}
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            </span>
                          </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                {% endif %}

              {% endfor %}
            </td>
          </tr>
        </table>

    {% endfor %}

  </div>

  {% endfor %}

  {% css %}
      @media print {
        @page {
          size: A4 landscape;
          margin: 2.5cm 1.5cm;
        }

        body {
          background-color: #fff;
          margin: 0;
          font-size: 8pt !important;
          -webkit-print-color-adjust: exact;

          column-count: 2;
          column-fill: auto;
          column-width: 12cm;
          column-height: 8cm;
          column-gap: 2cm; /* Just an estimate, not accurate */

          line-height: 1em;
        }

        header, footer {
            display: none !important;
        }

        table {
          width: 100%;
        }

        table.table-day {
          margin-bottom: 0.25cm;
          page-break-inside: avoid;
        }

        table.table-show {
          margin-top: 0.2cm;
          margin-bottom: 0.2cm;
        }

        table, table tr td, table tr th {
          /* page-break-inside: avoid; */
        }

        h2.date {
          font-size: 12pt;
          line-height: 1.5em;
        }

        .date-column {
          width: 2cm;
          vertical-align: top;
          page-break-inside: avoid;
        }

        .movie-column {
          padding-left: 0.25cm;
        }

        .text-tagline {
          font-size: 6pt;
        }

        .text-title {
          font-size: 8pt;
          line-height: 1em;
        }

        .text-language {
          font-size: 7pt;
          line-height: 1em;
        }

      }
  {% endcss %}

{% endblock %}
