{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CinemaProgram plugin for Craft CMS
 *
 * Dcps Widget Settings
 *
 * @author    kris@ilkino.de
 * @copyright Copyright (c) 2018 kris@ilkino.de
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}

{{ forms.textField({
    label: 'Weeks ahead',
    instructions: 'How long ahead to show movies.',
    id: 'message',
    name: 'message',
    value: widget['message']})
}}
