{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CinemaProgram plugin for Craft CMS
 *
 * Dcps Widget Body
 *
 * @author    kris@ilkino.de
 * @copyright Copyright (c) 2018 kris@ilkino.de
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% set movies = craft.entries()
                .section('movies')
                .type('movie')
                .startingDate('>= ' ~ clone(now).modify('today').format('Y-m-d H:i:s'))
                .orderBy('startingDate asc')
                .limit(10)
                .all()
%}

<p>Status for DCPs/Blu-Rays for the upcoming films.</p>
<table class="data fullwidth">
    <tbody>
        {% for movie in movies %}
        <tr>
            <td class="thin light white-space-nowrap">{{movie.startingDate|date('M d')}}</td>
            <td><a href="/admin/cinema-program#{{movie.movieID}}">{{movie.title}}</a></td>
            <td class="thin">
                {% set class = movie.prepared ? 'green' : 'red' %}
                {% set mark = movie.prepared ? '&#x2713;' : '&#x2718;' %}
                <strong class="{{class}}">{{mark|raw}}</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
