{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CinemaProgram plugin for Craft CMS
 *
 * Kdms Widget Body
 *
 * @author    kris@ilkino.de
 * @copyright Copyright (c) 2018 kris@ilkino.de
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% set movies = craft.entries()
                .section('movies')
                .type('movie')
                .format('dcp')
                .kdms('not :empty:')
                .limit(10)
                .all()
%}

<p>Note to self: Delete this widget.</p>
