{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
  {% cache if not craft.app.config.general.devMode %}
    <link rel="preconnect" href="https://ilkino.imgix.net">
  {% endcache %}
{% endblock %}

{# TODO: Make a better "state engine" #}
{% block headJs %}
  {{ include('_partials/head-siteurl') }}
{% endblock %}

{% block content %}
{% cache if not craft.app.config.general.devMode %}

  <main class="relative bg-red-red-orange bg-cover bg-fixed text-white">
    {# Heading #}
    {#<div class="content-section bg-beige text-red-500 pb-9 md:pb-18">#}
    <div class="container padded mx-auto pb-9 md:pb-18">

      {% set programs = entry.files %}
      {% if programs|length > 0 %}
        <aside class="flex justify-end items-center gap-2 text-right py-4 md:py-6">
          {{ _self.dropdown() }}
          <a class="inline-flex justify-center gap-x-1.5 rounded-md border border-white border-opacity-50 text-sm md:text-base text-white px-2 md:px-3 py-1 md:py-2 font-medium"
             href="{{programs[0].url}}" target="_blank">
            Download
            {{ svg('@webroot/assets/img/icons/download.svg')|attr({ class: 'size-5 md:size-6 fill-white' }) }}
          </a>
        </aside>
      {% endif %}

      <div class="container padded mx-auto px-1 py-2 rounded bg-white shadow-lg">
        <h1 class="py-9 md:py-18 text-2xl md:text-3xl uppercase leading-none text-center font-bold text-red-500">
          {{ 'IL KINOPROGRAMM'|t }}
        </h1>
        {% set upComingShowsByDate = craft.program.getUpcomingShowsByDate() %}
        {% for date, shows in upComingShowsByDate %}
          {# TODO: Check if this max width (also on frontpage) rather should be done on container #}
          <div class="max-w-6xl mx-auto mb-8 md:mb-16 md:px-6">
            {{ include('_partials/program-day') }}
          </div>
        {% endfor %}
      </div>
    </div>

  </main>

  {{ sprig('_partials/movie-popups') }}
{% endcache %}
{% endblock %}

{% block footer %}
  {{ include('_partials/global-footer') }}
{% endblock %}

{# Work in progress #}
{% macro dropdown() %}
  {# TODO: Add ARIA info #}
  <div class="inline-flex items-center">
    <span class="hidden md:inline-block pr-2">
      {{ 'Sprachwal:'|t }}
    </span>
    {% set label = 'Filmsprache'|t %}
    {% set options = {
      all: 'Egal'|t,
      de: 'Deutsch'|t,
      en: 'Englisch'|t
    } %}

    <div x-data="{ open: false, label: '{{label}}', options: {{ options|json_encode() }} }"
        @keydown.escape.stop="open = false"
        @click="open = !open"
        @click.outside="open = false"
        class="relative inline-block text-base text-left text-red-500">
      <div>
        {#
        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 font-medium text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
        #}
        <button type="button"
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md border border-white border-opacity-50 text-sm md:text-base text-white px-2 md:px-3 py-1 md:py-2 font-medium"
                id="menu-button"
                aria-expanded="true"
                aria-haspopup="true">
          <span x-text="label">{{ label }}</span>
          <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>

      <!--
        Dropdown menu, show/hide based on menu state.

        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
      <div x-cloak x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <div class="block px-4 py-2 text-xs font-medium uppercase text-grey-darker">
            {{ 'Sprache oder Untertiteln'|t }}
          </div>
          {% for key, option in options %}
            <div @click="$store.selectedLangs.set('{{key}}'); label = '{{option}}'" class="block hover:bg-grey-lightest px-4 py-2 font-medium" role="menuitem" tabindex="-1" id="menu-item-{{loop.index}}">
              {{ option }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}