{% extends "_layout_oldweb" %}

{% set entry = craft.entries.section('posterlist').one() %}

{# Get all movies #}
{% set allMovies = craft.entries()
                         .section('posters')
                         .type('poster')
                         .with('posterImg')
                         .orderBy('sortTitle')
                         .limit(null)
                         .all()
%}
{% set moviesByLetter = allMovies|group('sortTitle|trim[:1]|upper') %}

{% set typeClasses = {
    a: 'bg-green-dark text-white',
    b: 'bg-blue text-white',
    c: 'bg-yellow-dark text-black',
}
%}

{% block header %}
    <header class="text-white pt-12">
        <img class="m-auto w-1 sm:w-auto sm:h-12 md:h-18 mb-6 md:mb-9" src="/assets/img/logo-kino-white.png" alt="IL KINO logo"/>
    </header>
{% endblock %}

{% block content %}

<div class="relative p-6 my-2 text-lg w-full md:w-3/5 m-auto border border-orange bg-white opacity-90 text-center rounded">
    <div class="film-slider-nav font-bold text-3xl text-center">
        {{entry.info}}
    </div>

    <div class="p-3 text-center text-sm md:text-base font-semibold">
        {% set currentSite = craft.app.sites.currentSite %}
        {% for siteInGroup in currentSite.getGroup.getSites() %}
            {% if siteInGroup.id != entry.siteId %}
                {% set entryForOtherSite = craft.entries.id(entry.id).site(siteInGroup).one() %}
                {% set locale = craft.app.i18n.getLocaleById( siteInGroup.language ) %}
                <a href="{{ entryForOtherSite.getUrl() }}">({{ locale.displayName|capitalize }} Version)</a>
            {% endif %}
        {% endfor %}
    </div>

    {{entry.body}}

</div>

<div id="posterlist" class="pt-9 m-auto max-w-9/10 lg:max-w-4/5 rounded" style="background-color: #f7f6f5;">

    <h1>{{entry.title}}</h1>
    {% if currentUser %}
        <a class="block text-center" href="/admin/entries/posters">Edit poster list</a>
    {% endif %}

    <ul class="text-2xl text-center my-12">
        {% for letter in moviesByLetter|keys %}
            <li class="inline-block"><a href="#{{letter}}">{{letter}}</a></li>
        {% endfor %}
    </ul>

    <div class="flex flex-row flex-wrap justify-center px-6">
    {% for letter, movies in moviesByLetter %}

        <h2 id="{{ letter }}" class="font-bold text-4xl text-center w-full bg-grey-lightest mx-12 mt-6">{{ letter }}</h2>

            {% for movie in movies %}

                {% if movie.numSmall or movie.numLarge %}
                    <div class="p-3 md:p-6 w-full sm:w-1/2 md:w-1 lg:w-1/4 xl:w-1/5 mb-6 poster-width">
                        {% if movie.posterImg %}
                            <img class="w-full" load="lazy" src="{{ movie.posterImg[0].url }}">
                        {% endif %}

                        {% if currentUser %}
                            <a class="font-semibold text-xs uppercase p-1 block text-center" href="/admin/entries/posters/{{movie.id}}" target="_blank">Edit</a>
                        {% endif %}

                        <h3 class="font-bold text-xl leading-none my-1.5 md:min-h-12 text-center">{{ movie.title }}</h3>
                        <h4 class="font-semibold uppercase text-xs text-grey-dark md:pt-1 text-center">Size / price category:</h4>

                        {% if movie.numSmall %}
                            {% set type = movie.priceSmall.label|lower %}
                            {% set typeClass = typeClasses[type] ?? '' %}
                            {% set desc = 'Normal ' ~ (currentUser ? '('~movie.numSmall~')' : '(A1 size)') %}

                            {{ _self.posterButton(type, typeClass, desc) }}
                        {% endif %}

                        {% if movie.numLarge %}
                            {% set type = movie.priceLarge.label|lower %}
                            {% set typeClass = typeClasses[type] ?? '' %}
                            {% set desc = 'Large ' ~ (currentUser ? '('~movie.numLarge~')' : '(A0 size)') %}

                            {{ _self.posterButton(type, typeClass, desc) }}
                        {% endif %}

                    </div>

                {% endif %}
            {% endfor %}
    {% endfor %}
</div>

</div>
{% endblock %}

{% block footer %}

{% endblock %}


{% macro posterButton(type, typeClass, desc) %}

    <a class="w-full block border-0 rounded shadow w-3/4 md:w-full no-underline my-1.5 p-1 {{typeClass}} opacity-75"
        style="font-feature-settings: 'lnum'"
        href="https://ilkino-berlin.de/poster-packages/il-kino-survival-kit-{{type}}" target="_ilkino">
        <div class="w-full inline font-semibold text-sm uppercase no-underline px-1">{{desc}}
            <span class="float-right font-bold text-base px-1.5 rounded-tr rounded-br {{typeClass}}">{{type|upper}}</span>
        </div>
    </a>

{% endmacro %}

{% css %}

body {
    background-image: url('/tempassets/images/bg-cinema.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-repeat: no-repeat;
}

@media (min-width: 576px) {
    .poster-width {
        min-width: 212px !important;
    }
}

{% endcss %}
