{% from "_includes/forms" import text %}

{% set id = id~'-'~name -%}
{% set elements = (elements is defined ? elements : []) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set sourceElementId = (sourceElementId is defined and sourceElementId ? sourceElementId : null) -%}
{% set tagGroupId = (tagGroupId is defined and tagGroupId ? tagGroupId : null) -%}

{% set type = (type is defined ? type : '') -%}

{% set selectionLabel = selectionLabel ?? 'Add language' %}

{% spaceless %}
<div id="{{ id }}" class="elementselect tagselect">
    <div class="elements">
        {% for lang, displayLang in elements %}

            {% if lang|length %}

            {# TODO: Make this also work for countries #}

                <div class="element small removable"
                     data-type="craft\fields\PlainText"
                     data-id={{lang}}
                     data-site-id="1"
                     data-status="enabled"
                     data-label={{displayLang}}
                     data-url=""
                     data-level=""
                     title={{displayLang}}
                     data-editable=""
                     tabindex="0">

                     <input type="hidden"
                            name="{{name}}[]"
                            value="{{lang}}">
                     <a class="delete icon"
                        title="Remove">
                     </a>

                     <div class="label">
                         <span class="title">{{displayLang}}</span>
                     </div>
                </div>

            {% endif %}

        {% endfor %}
    </div>

    <div class="texticon add icon">
        {{ text({
            width: 'auto',
            placeholder: selectionLabel,
        }) }}
        <div class="spinner hidden"></div>
    </div>
</div>
{% endspaceless -%}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% set jsSettings = {
    id: id|namespaceInputId,
    name: name|namespaceInputName,
    sourceElementId: sourceElementId ?: null,
} %}

{% js %}
    new Craft.LanguageTagSelectInput({{ jsSettings|json_encode|raw }});
{% endjs %}
<!--{{jsSettings|json_encode|raw}}-->
