{% requireLogin %}

<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>Gutscheine IL KINO</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  {{ craft.vite.script("src/js/app.js") }}
</head>
<body>
  <main class="container mx-auto mt-12">
    <h1 class="text-2xl text-left">Create Gutscheine</h1>
    <p>Here the description</p>

    <div>
      <form id="gutschein" class="flex flex-row gap-4 items-end">

        <div class="flex flex-col">
          <label for="orderid">Order ID</label>
          <input type="text"
                id="orderid"
                name="orderId"
                placeholder="Order ID"
                class="border border-grey p-1.5 h-12"
          >
        </div>

        <div class="flex flex-col">
          <label for="purchasedate">Purchase date</label>
          <input type="date"
                id="purchasedate"
                name="purchaseDate"
                placeholder="Purchase date"
                class="border border-grey p-1.5 h-12"
                value="{{now|date('Y-m-d')}}"
          >

        </div>

        <div class="flex flex-col">
          <label for="type">Gutschein type</label>
          <select id="type"
                  name="type"
                  class="border border-grey p-1.5 h-12"
                  onchange="onTypeChange(this)"
          >
            <optgroup label="Normal">
              <option value="1">1 Film</option>
              <option value="2">15€</option>
              <option value="3">30€</option>
              <option value="4">50€</option>
              <option value="6">10-er</option>
            </optgroup>
            <optgroup label="Others">
              <option value="5">Blank</option>
              <option value="7">Stempel</option>
            </optgroup>
          </select>

          <input type="hidden"
                id="typename"
                name="typeName"
                value="None"
          >
        </div>

        <div id="add" onclick="addToList();" class="bg-black text-white p-3 cursor-pointer">
          Add to list 
        </div>

        <a href="" id="link" target="_blank" onclick="generateGutschein();" class="bg-black text-white p-3">
          Generate Gutschein
        </a>

      <form>
    </div>

    <div class="mt-12">
      <table>
        <thead>
          <th class="w-48 text-left">Order ID</th>
          <th class="w-48 text-left">Purchase date</th>
          <th class="w-48 text-left">Gutschein Type</th>
          <th class="w-48 text-left">Link to PDF</th>
        </thead>
        <tbody id="gutscheine-list">
        </tbody>
      </table>
    </div>

  </main>

  <script type="text/javascript">
    function generateGutschein() {
      const form = document.getElementById('gutschein');
      const formData = new FormData(form);

      const orderId = formData.get('orderId');
      const purchaseDate = formData.get('purchaseDate');
      const type = formData.get('type');

      console.log(orderId);
      console.log(purchaseDate);
      console.log(type);

      const linkEl = document.getElementById('link');
      linkEl.href = '{{ siteUrl }}' + 'gutscheine?orderId=' + orderId + '&purchaseDate=' + purchaseDate + '&type=' + type;
    }

    function onTypeChange(type) {
      const typeNameEl = document.getElementById('typename');
      typeNameEl.value = type.options[type.selectedIndex].text;

    }

    function addToList() {
      const form = document.getElementById('gutschein');
      const formData = new FormData(form);

      const orderId = formData.get('orderId');
      const purchaseDate = formData.get('purchaseDate');
      const type = formData.get('type');
      let typeName = formData.get('typename');

      // Don't understand why this should be needed
      const typeNameEl = document.getElementById('typename');
      typeName = typeNameEl.value;


      const table = document.getElementById('gutscheine-list');
      const row = table.insertRow(0);

      const cell1 = row.insertCell(0);
      const cell2 = row.insertCell(1);
      const cell3 = row.insertCell(2);
      const cell4 = row.insertCell(3);

      const link = '{{ siteUrl }}' + 'gutscheine?orderId=' + orderId + '&purchaseDate=' + purchaseDate + '&type=' + type;
      const linkEl = document.createElement('a');
      const linkText = document.createTextNode("View Gutschein");
      linkEl.appendChild(linkText);
      linkEl.title = linkText;
      linkEl.href = link;
      linkEl.target = '_blank';

      cell1.innerHTML = orderId;
      cell2.innerHTML = purchaseDate;
      cell3.innerHTML = typeName + '(' + type + ')';
      cell4.appendChild(linkEl);

}
</script>
</body>