{% requireLogin %}

{% set imgixUrl = 'https://ilkino.imgix.net/craft_assets/gutscheine/' %}
{% set filename = 'ILKINO-Gutscheine.pdf' %}

{% set urlParams = craft.app.request.queryParams %}

{% set orderId = urlParams['orderId'] ?? '' %}
{% set purchaseDate = urlParams['purchaseDate'] ?? now %}
{% set type = urlParams['type'] ?? 0 %}
{% set validToDate = '31.12.' ~ purchaseDate|date_modify('+3 years')|date('Y') %}
{% set validToText = 'Valid to ' ~ validToDate %}

{% set reverse = true %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Gutschein #{{orderId}} IL KINO</title>
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script>
    const { jsPDF } = window.jspdf;
    </script>
    -->
    {#
    {{ craft.vite.script("src/js/app.js") }}
    #}
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h1 class="text-2xl text-left font-normal">
        Gutschein IL KINO #{{ orderId }}
    </h1>
    
    <div class="flex">
        {% if type >= 1 and type <= 7 %}
            {% for i in 0..1 %}

                {% set pages = [
                    (type * 2) - 1,
                    (type * 2)]
                %}
                {% set pages = reverse ? pages|reverse : pages %}

                {% set params = {
                    'w': '1004',
                    'h': '650',
                    'page': pages[i],
                    'txt': ((pages[i] is even) ? validToText ~ ' / ' : '') ~ ('#' ~ orderId)|url_encode(),
                    'txt-align': 'bottom,right',
                    'txt-size': 24,
                    'txt-y': 610,
                    'txt-x': (pages[i] is even) ? 640 : 130,
                    'txt-color': (pages[i] is odd) ? 'fff' : '000',
                } %}

                {% set query = params|map((value, key) => "#{key}=#{value}")|join('&') %}

                <img class="border border-dotted border-grey border-r-0"
                    style="width: 8.5cm; height: 5.5cm;"
                    src="{{ imgixUrl ~ filename ~ '?' ~ query }}"
                    alt="{{ filename }}"
                >
            {% endfor %}
        {% endif %}
    </div>

    <div class="mt-12">
        <p class="text-center text-xl mt-6">❤️ Wilkommen im IL KINO ❤️</p>
        <p class="text-center text-sm">
            Program auf unserer Webseite <strong>ilkino.de</strong>.<br>
            Das Gutschein ist gultig bis <strong>{{ validToDate }}</strong>
        </p>
    </div>


<style type"text/css">
@page { size: A4; }

@page {
  margin: 10mm;
}

/* - * - * - * - * - * - * - * - * - * - */
/* 1.0 CSS to make A4 print preview as default web view */

:root {
  --pagedjs-margin-left: 23mm;
  --pagedjs-margin-right: 23mm;
}

@media screen {

    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width));
        flex: 0; flex-wrap: wrap;
        margin: 0 auto; justify-content: center;

    }

    .pagedjs_page {
        margin: 10mm; border: solid 1px gray;
    }
}

/* - * - * - * - * - * - * - * - * - * - */
/* 1.5 Some Custom Font Families */

@font-face {
	font-family: 'Poppins';
	font-weight: normal;
}

@font-face {
	font-family: 'Poppins';
	font-weight: bold;
}

@font-face {
	font-family: 'Poppins';
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Custom Mono';
	font-weight: normal;
}

@font-face {
	font-family: 'Custom Mono';
	font-weight: bold;
}

/* - * - * - * - * - * - * - * - * - * - */
/* 2.0 General Formatting */
html { font-family: 'Poppins', sans-serif; }
h1 { border-bottom: 1px solid black; margin-bottom: 2rem; padding-bottom: 1rem; }
h2 { border-bottom: 0.1875rem solid black; margin-bottom: 1rem; padding-bottom: 0.5rem; }
p {	text-align: justify; line-height: 1.4rem; }
a { color: #347dbd; }
a:hover { color: #FC814A; }
mark { color: purple; background-color: inherit; }
light-mark { color: purple; }
img { max-width: calc(100% - 3rem); }
.img-75mm { height: 75mm; }

center { border: 0.5px solid gray; padding: 1.5rem; }

pre {
	background-color: #f0f0f0;
	font-family: 'Custom Mono', monospace;
	padding: 1rem;
	font-size: smaller;
	white-space: pre-wrap;
}
code { margin-bottom: 1.5rem; display: block;}
figure {
	margin-block-start: 2rem; margin-block-end: 2rem;
	margin-inline-start: 0rem; margin-inline-end: 0rem;
}
figcaption { caption-side: top; padding-bottom: 0.75rem;
	border-bottom: 0.5px solid gray; margin-bottom: 1.5rem;
	color: gray; font-weight: bold;} 

/* - * - * - * - * - * - * - * - * - * - */
/* 3.1 Page Size */
@page { size: A4; }


/* 3.2 Page Breaks */
.page-break { break-after: page; }
h2:not(.no-break) { break-before: page; margin-block-start: 0rem; margin-block-end: 1.66rem; }
h2.no-break:not(.top) { margin-block-start: 3rem; margin-block-end: 1.66rem;}
h2.top { margin-block-start: 0rem; margin-block-end: 1.66rem; }

h3:not(.top) {margin-block-start: 2.49rem; margin-block-end: 0.83rem;}
h3.top { margin-block-start: 1.66rem; margin-block-end: 0.83rem; }

</style>

</body>