<!DOCTYPE html>
<html>
  <head>
    <title>Gmail API Quickstart</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Tools index</h1>
    <ul>
        <li><a href="/gutscheine/create" class="">Create Gutscheine</a></li>
        <li><a href="/gutscheine" class="">Gutscheine template</a></li>
        <li><a href="/social" class="">Social Media</a></li>
        <li><a href="/mailtest" class="">Mail test</a></li>
    </ul>
  </body>
</html>