{% requireLogin %}

{% if craft.app.request.queryParams %}
  {% set authCode = craft.app.request.queryParams['code'] %}
  {% set scope = craft.app.request.queryParams['scope'] %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <title>Gmail API Quickstart</title>
    <meta charset="utf-8" />
    {{ craft.vite.script("src/js/app.js") }}
  </head>
  <body>
    <p>Gmail API Quickstart</p>

    <p>{% hook 'mail-test2' %}</p>

    {# Hacky test #}
    {% set types = {
      '€9.00': 1,
      '€11.00': 1,
      '€15.00': 2,
      '€30.00': 3,
      '€50.00': 4,
      '€70.00': 5,
    } %}

    {% if messages is defined %}

      <div class="p-6 mb-12">

        <ul>
          {% for message in messages %}
            {% if message.order %}
              {% set orderDetails = message.order.orderDetails %}
              <li class="bg-white border border-grey-lightest rounded p-3 mb-0.75 hover:cursor-pointer"
                  onclick="document.getElementById('{{orderDetails.orderNumber}}').classList.toggle('hidden')">
                <div class="text-xs">
                  {{ message.date|date('Y-m-d') }} &middot; {{ orderDetails.email }}
                </div>
                <div class="text-normal">
                  {{ orderDetails.orderDesc }}
                  {% if orderDetails.orderDesc starts with 'Gutschein' %}

                    x {{ orderDetails.orderQty }}
                    {% for i in range(1, orderDetails.orderQty) %}
                      {% set orderNumber = (orderDetails.orderQty > 1)
                            ? orderDetails.orderNumber ~ '-' ~ i ~ '/' ~ orderDetails.orderQty
                            : orderDetails.orderNumber
                      %}
                      &middot;
                      <a target="_blank" href="{{ siteUrl }}/gutscheine?orderId={{orderNumber}}&purchaseDate={{message.date|date('Y-m-d')}}&type={{types[orderDetails.orderPrice]}}">
                        Gutschein #{{orderNumber}}
                      </a>
                    {% endfor %}

                  {% endif %}
                </div>
                <div id="{{orderDetails.orderNumber}}" class="hidden py-3 px-6 mt-2 bg-grey-lightest">
                  {{ message.order.html|raw }}
                </div>
              </li>
            {% else %}
              <li class="bg-red-lightest border border-grey-lighter rounded p-3">
                <div class="text-xs">
                  {{ message.date|date('Y-m-d') }}
                </div>
                <div class="text-normal">
                  {{ message.subject }}
                </div>
              </li>

            {% endif %}
              
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </body>
</html>