{% extends "_layoutProgram" %}
{% set entry = craft.entries.section('homepage').with(['headerPhoto']).one() %}

{% block content %}

    {% for testMovie in movies %}

        <div class="bg-grey p-12 flex items-start gap-4">

            {% set image = testMovie.stills[0] %}
            {% set stillSquare = image.stillsSquare %}
            {% set fileName = image.fileName %}

            {% set focalPointX = image.hasFocalPoint ? image.focalPoint|first : '0.5' %}
            {% set focalPointY = image.hasFocalPoint ? image.focalPoint|last : '0.5' %}

            {% set fpParams = '&fp-x=' ~ focalPointX ~ '&fp-y=' ~ focalPointY %}

            {% set imgixUrl = 'https://ilkino.imgix.net/craft_assets/stills/' %}
            {% set params = 'crop=focalpoint&domain=ilkino.imgix.net&fit=crop&fm=pjpg&ixlib=php-3.3.1&q=82&usm=20' %}

            {% set overlay = 'https://ilkino.imgix.net/craft_assets/photos/Overlay.jpg' %}

            {% set origParams = [
                'crop=focalpoint',
                'domain=ilkino.imgix.net',
                'fit=crop',
                'fm=pjpg',
                'ixlib=php-3.3.1',
                'q=82',
                'usm=20',
            ] %}

            {% set extraParams = [
                'txt=' ~ testMovie.title|url_encode,
                'txt-color=F7F7F7',
                'txt-align=middle,center',
                'txt-size=72',
                'txt-font=HelveticaNeue-Bold',
                'txt-shad=0.5',
                'txt-fit=max',
                'txt-pad=20',
            ] %}
            {% set extraParams = '' %}
            
            {% set size = '&h=700' ~ '&w=700' %}
            {% set query = '?' ~ params ~ size ~ '&' ~ extraParams|join('&') %}

            <img class=""
                src="{{ imgixUrl ~ fileName ~ query ~ fpParams }}"
                width="338"
                height="338"
                alt="Still image from the film {{ testMovie.title }}"
            >

            {% set size = '&h=338' ~ '&w=600' %}



            {% set alpha = overlay ~ '?blend-alpha=30&blend=' ~ overlay %}
            {% set multiply = '&blend-mode=multiply&blend-aplha=30&blend=' ~ alpha %}

            {% set alpha = '&blend-mode=normal&blend-alpha=50&blend=' ~ overlay %}
            {% set duotone = '&duotone=900A0A,FCC500&duotone-alpha=100' %}

            {% set query = '?' ~ params ~ size ~ fpParams ~ '&' ~ duotone %}

            {# Text testing #}
            {% set textParams = [
                'txt-size=36',
                'txt-lead=0',
                'txt-color=f7f7f7',
                'w=600',
                'txt-pad=30',
                'txt-font=HelveticaNeue-Bold',
                'txt=' ~ testMovie.title|replace(" ", "+"),
            ] %}
            {% set mark = 'https://ilkino.imgix.net/' ~ '~text?' ~ textParams|join('&') %}

            <img class=""
                src="{{ imgixUrl ~ fileName ~ query ~ '&mark-align=center,bottom&mark=' ~ mark|url_encode() }}"
                width="600"
                height="338"
                alt="Still image from the film {{ testMovie.title }}"
            >

        </div>

    {% endfor %}

{% endblock %}