{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Cinema program" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header #}
{% block actionButton %}

      <!--input class="btn submit" type="submit" value="{{ 'Update program'|t }}"-->

    <div id="status"></div>
    <form method="post" action="" accept-charset="UTF-8" id="updateForm">
        <div class="btngroup">
            <input type="hidden" name="action" value="cinema-program/update-program/load-data">
            {{ redirectInput('ilkino/cinema-program') }}
            {{ csrfInput() }}
            <input class="btn submit" type="submit" value="{{ 'Update program'|t }}">
        </div>
    </form>

{% endblock %}

{# JavaScript for ajax call #}
{% js %}

// Perform submit
$("#updateForm").submit(function (e) {
    e.preventDefault();

    // NB! Reload only seems to work sometimes
    loadData().done(update).done( window.location.reload() );
});

// Default AJAX settings
$.ajaxSetup({
    type: 'post',
    url: '',
    success: function (response) {

    },
});

// Execute ajax call to load external data
function loadData() {

    $('#updateForm input[name="action"]').val('cinema-program/update-program/load-data');
    data = $("#updateForm").serialize();

    return $.ajax({
        data: data,
        error: function (XMLHttpRequest, textStatus) {
            console.log("Status: " + textStatus);
            $("#status").html( '<b>Unable to load data</b><br/>'
                            + 'Most likely one of the XMLs couldn\'t be accessed. Try again later.');
        }
    });

}

// Execute ajax call to do the actual update of Craft
function update() {

    $('#updateForm input[name="action"]').val('cinema-program/update-program/dummy-update');
    data = $("#updateForm").serialize();

    return $.ajax({
        data: data,
        error: function (XMLHttpRequest, textStatus) {
            console.log("Status: " + textStatus);
            $("#status").html( '<b>Unable to perform update</b><br/>'
                            + 'The external data loaded, but update couldn\'t run properly. Check logs.');
        }
    });
}

{% endjs %}
