{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# JS and CSS files for Full Calendar #}
{# TODO: Install as Node Modules #}
{% set fullCalendarJsUrl = "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.min.js" %}

{# do view.registerJsFile( momentJsUrl ) #}
{# do view.registerJsFile( fullCalendarJsUrl ) #}
{# do view.registerCssFile( fullCalendarCssUrl ) #}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Cinema program" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# NB! Should be moved to a service(?), ref Cache Flag plugin #}
{% set tabs = {
        overview : {
            label : 'Overview',
            url : url('cinema-program')
        },
        programEmail : {
            label : 'Program Email',
            url : url('cinema-program/programEmail')
        },
        program : {
            label : 'Program Print',
            url : url('cinema-program/program')
        },
        calendar : {
            label : 'Calendar',
            url : url('cinema-program/calendar')
        },
        update : {
            label : 'Update logs',
            url : url('cinema-program/update')
        }
    }
%}
{% set selectedTab = 'calendar' %}

{# The content of the CP Section#}
{% block content %}
    <div id="calendar"></div>
    <div id="json"></div>
{% endblock %}

{% js %}

$(function() {

    // Initialize the calendar
    $('#calendar').fullCalendar({
        events: function(start, end, timezone, callback) {
            getProgram(start, end, timezone, callback);
        },
        defaultView: 'agendaWeek',
        allDaySlot: false,
        slotDuration: '00:30:00',
        slotLabelFormat: 'HH:mm',
        scrollTime: '12:00:00',
        firstDay: 4,
        aspectRatio: 2,
    })

});

function getProgram(start, end, timezone, callback) {

    var movies = [];
    var events = [];

    $.getJSON('/movies.json').done(function(response) {

        var response = response.data;
        for (var i = 0; i < response.length; i++) {
            movies['m' + response[i].movieID] = response[i];
        }

    }).then(function() {

        return $.getJSON('/program.json');

    }).done(function(response) {

        var response = response.data;

        $.each(response, function(index, show) {

            movie = movies['m' + show.movieID];

            // In case the merging didn't work, set dummy values
            if ( !movie ) {
                movie = {
                    title: '(UNKNOWN)' + '\nCouldn\'t read title' + '\nMovieID = ' + show.movieID + '',
                    duration: ''
                }
            }

            events.push({
                title:   movie.title,
                start: show.start,
                end:   moment( show.start ).add( movie.duration, 'm' ).toDate(),
            });

        });

        callback(events);
    });
}

{% endjs %}
