{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Cinema program" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# NB! Should be moved to a service(?), ref Cache Flag plugin #}
{% set tabs = {
        overview : {
            label : 'Overview',
            url : url('cinema-program')
        },
        programEmail : {
            label : 'Program Email',
            url : url('cinema-program/programEmail')
        },
        program : {
            label : 'Program Print',
            url : url('cinema-program/program')
        },
        calendar : {
            label : 'Calendar',
            url : url('cinema-program/calendar')
        },
        update : {
            label : 'Update logs',
            url : url('cinema-program/update')
        }
    }
%}
{% set selectedTab = 'overview' %}

{# Content that should appear in the page header #}
{% block actionButton %}

    <!--input class="btn submit" type="submit" value="{{ 'Update program'|t }}"-->

    <form id="updateForm" method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="cinema-program/update-program/run-update">
        {{ redirectInput('ilkino/cinema-program') }}
        {{ csrfInput() }}
        <input class="btn submit" type="submit" value="{{ 'Update program'|t }}">
    </form>

{% endblock %}

{# The content of the CP Section#}
{% block content %}
{% css %}
    .center {
        text-align: center !important;
    }
    .red {
        color: #da5a47;
    }
    .green {
        color: #27AE60;
    }

    .running {
        color: #0d78f2;
    }
    .pending {
        color: #b9bfc6;
    }
    .done {
        color: #27AE60;
    }
    .failed {
        color: #da5a47;
    }

    #joblist {
        font-size: 16px;
        padding-left: 20px;
    }

    .white-space-nowrap {
        white-space: nowrap;
    }
    a.fieldtoggle {
        margin: 0;
    }
    .details {
        background-color: #eff8ff;
    }
{% endcss %}

    <div id="main-table">
        {% set newMovies = craft.entries()
                        .section('movies')
                        .type('movie')
                        .tmdbId(':empty:')
                        .orderBy('startingDate asc')
                        .with(['poster'])
                        .limit(null)
                        .all()
        %}


        {% set cleanup = craft.program.cleanup() %}

        <h1>Cleanup {{ cleanup ? 'performed' : 'failed' }}</h1>
        <ul>
        {% for toDelete in cleanup %}
            <li>{{ toDelete.title }}</li>
        {% endfor %}
        </ul>

        <h1>New movies</h1>

        <table class="data fullwidth collapsible film-list">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Info</th>
                    <th>Whatever</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in newMovies %}
                <tr>
                    <td>
                        <img src="{{(movie.poster and movie.poster|length) ? movie.poster[0].url : ''}}" width="100px">
                    </td>
                    <td>
                        {{ forms.text({
                                name: 'title',
                                value: movie.title,
                                placeholder: 'Title',
                                class: 'input-heading',
                            })
                        }}
                        {{ forms.text({
                                name: 'director',
                                value: movie.director,
                                placeholder: 'Director',
                                class: 'input-heading',
                                size: 20,
                            })
                        }}
                        <label for="duration">Duration</label>
                        {{ forms.text({
                                name: 'duration',
                                value: movie.duration,
                                placeholder: 'Duration',
                                class: 'input-heading',
                                size: 20,
                            })
                        }}
                        <label for="year">Year</label>
                        {{ forms.text({
                                name: 'year',
                                value: movie.year,
                                placeholder: 'Year',
                                class: 'input-heading',
                                size: 20,
                            })
                        }}
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% css %}

.film-list td {
    vertical-align: top;
}

.film-list label {
    font-weight: bold;
    color: #606d7b;
}

.film-list input.input-heading {
    font-size: 16px;
    font-weight: bold;
}

.film-list input:not(:focus):not(:hover) {
    border: 1px solid transparent;
    box-shadow: none;
    background-color: transparent;
}

.sfilm-list input.input-heading:hover, .sfilm-list input.input-heading:focus {
    border: inherit;
    background-color: inherit;

    /*
    border-radius: 3px;
    border: 1px solid rgba(96, 125, 159, 0.25);
    background-color: #fbfcfe;
    box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
    background-clip: padding-box;
    */
}
{% endcss %}


    </div>
{% endblock %}

{% block details %}

    {# If there are jobs running (not only ours) #}
    {% if jobs %}

        {% set movies = {'label': 'Loading movies from Cinetixx', 'jobId': null} %}
        {% set shows = {'label': 'Loading shows from Cinetixx', 'jobId': null} %}
        {% set finalise = {'label': 'Adding shows to movies', 'jobId': null} %}

        {% for job in jobs %}

            {% if ('feedme' in job.data.className()) and job.data.feed.id == 4 %}

                {% set movies = movies|merge({
                    'jobId': job.id
                }) %}

            {% elseif ('feedme' in job.data.className()) and job.data.feed.id == 2 %}

                {% set shows = shows|merge({
                    'jobId': job.id
                }) %}

            {% elseif ('cinemaprogram' in job.data.className()) %}

                {% set finalise = finalise|merge({
                    'jobId': job.id
                }) %}

            {% endif %}

        {% endfor %}

        {% if (shows or movies or finalise) %}
            <div class="meta">
                <h2>Updating program …</h2>
                    {% set jobids = [movies.jobId, shows.jobId, finalise.jobId]|join(',') %}
                    <ol id="joblist" data-jobids="{{ jobids }}">
                        <li {{ movies.jobId ? 'id=job-'~movies.jobId }}
                            class="{{ movies.jobId ? 'pending' }}"
                        >
                            {{ movies.label }} <span class="progress"></span>
                        </li>
                        <li {{ shows.jobId ? 'id=job-'~shows.jobId }}
                            class="{{ shows.jobId ? 'pending' }}"
                        >
                            {{ shows.label }} <span class="progress"></span>
                        </li>
                        <li {{ finalise.jobId ? 'id=job-'~finalise.jobId }}
                            class="{{ finalise.jobId ? 'pending' }}"
                        >
                            {{ finalise.label }} <span class="progress"></span>
                        </li>
                    </ol>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}

{% js %}

// Update progress START
var jobs = $('#joblist').length
var runningTask = null; // Need to make this cleaner
var jobIds = null;

if (jobs) {
    jobIds = $('#joblist').data('jobids').split(',');
    updateProgress();
} else {
    console.log('No update running');
}

function updateProgress() {
    var test = Craft.postActionRequest('queue/get-job-info', $.proxy(function(taskInfo, textStatus) {
        if (textStatus == 'success') {
            for (var i = 0; i < taskInfo.length; i++) {
                taskInfo[i]
            }
            setProgress(taskInfo[0]);
        }
    }, this));

}

function setProgress(taskInfo) {

    if ( taskInfo && jobIds.includes(taskInfo.id) ) {

        var id = taskInfo.id;

        // If no task currently running, or moved to a new one
        // NB! Should store our three job ids for easier access? Or some more robust check?
        if (id != runningTask) {

            markAsDone( $('#job-'+runningTask) );

            runningTask = ($('#job-'+id).length) ? id : null;
        }

        if (runningTask) {
            updateStatus(taskInfo);
        }

        if (taskInfo.status != 'error') {
            // Keep checking for the task status every 500ms
            setTimeout(updateProgress, 100);
        }

    // If running task has ended
    } else {

        // Set running task to done
        markAsDone( $('#job-'+runningTask) );

        $('#details').animate( {opacity:0.0}, 500, function() { setTimeout(removeSideBar, 500) });
    }
}

function removeSideBar() {
    $('#main-content').removeClass('has-details');
    $('#details').remove();
}

function markAsDone(el) {

    // Marking task as done
    el.removeClass('running');
    el.addClass('done');
    el.find('.progress').html('Done!');

    // Making sure previous tasks also are done
    if(el.prevAll()) {
        el.prevAll().removeClass('running');
        el.prevAll().addClass('done');
        el.prevAll().find('.progress').html('Done!');
    }
}

function updateStatus(taskInfo) {
    var id = taskInfo.id;

    if ($('#job-'+id).length) {
        $('#job-'+id).removeClass('pending');
        $('#job-'+id).addClass('running');
        $('#job-'+id+' .progress').html(taskInfo.progress+'%');
    } else {
        console.log('Can\'t find ' + '#job-'+id);
    }
}


// Running update START
function runShowFeed() {
    return runTask('/admin/feed-me/feeds/run/', 2, '?direct=1');
}

function runMovieFeed(jqXhr) {
    return runTask('/admin/feed-me/feeds/run/', 4, '?direct=1');
}

function runRefresh(jqXhr) {
    return runTask('/admin/cinema-program/', 'refresh');
}

function runQueue(jqXhr) {
    return Craft.postActionRequest('queue/run');
}

function runTask(url, id, paramString = '') {

    var feedUrl = url + id + paramString;

    return $.ajax({
        type: "get",
        url: feedUrl,
        success: function (response) {
            //$('#result').append('<li>' + 'Successfully ran task ' + id + '</li>');
        },
        error: function (XMLHttpRequest, textStatus) {
            $('#result').append('<li>' + 'Error running task ' + id + '</li>');
        }
    });
}

function runConsole() {

    $('#result').append('<li>' + 'Updating program …' + '</li>');

    /* TEST */
    runShowFeed()
    .then(runMovieFeed)
    .then(runRefresh)
    .then(runQueue)
    .done(function() {
        $('#result').append('<li>' + 'Done!' + '</li>');
    });
}

function runUpdate() {
    return $.ajax({
        type: "get",
        url: '/admin/cinema-program/run-update',
        success: function (response) {
            //$('#result').append('<li>' + 'Successfully ran task ' + id + '</li>');
        },
        error: function (XMLHttpRequest, textStatus) {
            $('#result').append('<li>' + 'Error running task ' + id + '</li>');
        }
    });
}

function test() {
    Craft.postActionRequest('queue/get-job-info', $.proxy(function(taskInfo, textStatus) {
        if (textStatus == 'success') {
            //this.showTaskInfo(taskInfo[0]);
            console.log(taskInfo[0]);
            console.log('Progress: ' + taskInfo[0].progress);
        }
    }, this));
}

// Running update END

/*
var data = {
    action: 'form-builder/setting/get-settings-for-site',
    siteId: siteId
};
// include csrf token
var tokenName = Craft.csrfTokenName;
data[tokenName] = Craft.csrfTokenValue;
$.ajax({
    type: "post",
    url: '',
    data: data,
    success: function (response) {
            ...
    },
    error: function (XMLHttpRequest, textStatus) {
        console.log("Status: " + textStatus);
    }
});
*/
{% endjs %}
