{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "cinema-program/_layouts/common.twig" %}
{#% extends '_layouts/cp' %#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Cinema program" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Get a URL to an image in our AssetBundle #}
{% set logoUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/cinemaprogram/dist', true) ~ '/img/logo-ilkino.svg' %}
{% set logoPath = view.getAssetManager().getPublishedPath('@ilkino/cinemaprogram/assetbundles/cinemaprogram/dist', true) ~ '/img/logo-ilkino.svg' %}

{# NB! Should be moved to a service(?), ref Cache Flag plugin #}
{% set tabs = {
        overview : {
            label : 'Overview',
            url : url('cinema-program')
        },
        programEmail : {
            label : 'Program Email',
            url : url('cinema-program/programEmail')
        },
        program : {
            label : 'Program',
            url : url('cinema-program/program')
        },
        programPrint : {
            label : 'Program (in progress)',
            url : url('cinema-program/program_print2')
        },
        calendar : {
            label : 'Calendar',
            url : url('cinema-program/calendar')
        },
        update : {
            label : 'Update logs',
            url : url('cinema-program/update')
        }
    }
%}
{% set selectedTab = 'programPrint' %}

{# Set the startdate to Thursday, and set week offset #}
{% set queryParams = craft.app.request.queryParams %}
{% set weekOffset = ('startWeek' in queryParams|keys) ? queryParams['startWeek'] : 0 %}
{% set modifier = now|date('w') == '4' ? 'today midnight' : 'last thursday' %}
{% set baseDate = clone(now)|date_modify(modifier) %}
{% set startDate = baseDate|date_modify(weekOffset~" weeks")|date() %}

{% set weeksToShow = 2 %}

{# Get movies #}
{% set movies = craft.entries()
                         .section('movies')
                         .type('movie')
                         .orderBy('nextScreening asc')
                         .shows(':notempty:')
                         .with([
                            ['shows', { orderBy: 'showTime asc' }],
                            'originalLanguage',
                            'poster',
                            'stills',
                         ])
                         .limit(null)
                         .indexBy('movieID')
                         .all()
%}

{% block header %}
    {{ block('pageTitle') }}
    {% block contextMenu %}
    <div id="sites-btn" class="btn menubtn" data-icon="world">View</div>

        <div class="menu">
            <ul class="padded">
                <li>
                    <a href="{{ url('cinema-program/programEmail') }}">
                        Email
                    </a>
                    <a href="{{ url('cinema-program/calendar') }}">
                        Calendar
                    </a>
                </li>
            </ul>
        </div>

    {% endblock %}
{% endblock %}

{# The content of the CP Section#}
{% block content %}

    <div id="week-selector">
        {% set k = 4 %}
        {% for i in range(0, k) %}
            {% set active = (i == weekOffset) ? "color: black; font-weight: bold" : "" %}
            <a href="?startWeek={{i}}" class="button" style="{{active}}">
                {{ baseDate|date_modify( "+"~i~" week")|date("d.m.") }} – {{ baseDate|date_modify( "+" ~ (i + weeksToShow) ~ " weeks")|date("d.m.") }}
            </a>
        {% endfor %}
    </div>

    <article id="print-content">

        {% for i in range (1, 100) %}
            <div style="background-color: #eee">Testing line number {{ loop.index }}</div>
        {% endfor %}

    </article>

{% endblock %}

{% css %}

    #week-selector .button {
        display: inline-block;
        border-radius: 5px;
        padding: 7px 14px;
        border: none;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        color: #3f4d5a;
        background-color: rgba(96, 125, 159, 0.25);
    }

    .heading {
        text-align: center;
        margin-bottom: 9pt;
    }

    .heading h1 {
        margin-bottom: 0;
        font-size: 18pt;
    }

    .heading p {
        margin-top: 0;
    }

    .print-footer {
        margin-top: 0.5cm;
        padding-top: 0.5cm;
        text-align: center;
        border-top: 1px solid #eee;
    }

    table.full {
        margin-bottom: 9pt;
        width: 100%;
        table-layout: fixed;
    }

    td {
        padding: 0 9pt 0 9pt !important;
        white-space: nowrap;
    }

    td.small {
        width: 7%;
    }

    td.movieTitle {
        max-width: 75%;
        width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td.language {
        font-size: 8pt;
    }

    td.date {
        font-weight: bold;
        border-right: 1px solid #ddd;
        padding-left: 0 !important;
    }

    td.date > div {
        text-align: center;
    }

    span.highlight {
        color: #943336;
    }

    .day {
        font-size: 14pt;
        text-transform: uppercase;
    }

    .audio {
        display: inline-block;
        width: 50%;
    }

    .icon-filminfo {
        fill: #999;
        display: inline-block;
        height: 9px;
        margin-left: 2pt;
    }

    .logo {
        fill: #000 !important;
        height: 30px;
        padding-top: 5px;
    }

    .pagebreakbefore:not(:first-child) {
        margin-top: 1cm;
        padding-top: 1cm;
        border-top: 1px solid #ddd;
    }


    #print-content {
        background-color: #f7f7f7;
        column-count: 2;
        /* column-width: 11cm; */
    }

    @media print {
        @page {
          size: A4 landscape;
          margin: 2.5cm 1.5cm;
          column-gap: 3cm; /* Just an estimate, not accurate */
        }

        body {
            background-color: #fff;
            margin: 0;
            font-size: 9pt;
            -webkit-print-color-adjust: exact;
        }

        #content-header, footer {
            display: none !important;
        }

        #print-content {
            column-count: 2;
            column-width: 11cm;
            column-gap: 4cm; /* Just an estimate, not accurate */
        }

        .pagebreakbefore:not(:first-child) {
            page-break-before: always;
            margin: 0;
            padding: 0;
            border: none;
        }

        #page-container,
        #main-content,
        #content {
            padding: 0 !important;
        }

        #content-pane,
        #content {
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
        }

        #content-container,
        #main-content {
            width: 100% !important;
            max-width: 100% !important;
        }

        #global-sidebar,
        #global-header,
        #header-container,
        #tabs,
        #details-container,
        #week-selector {
            display: none;
        }

    }

{% endcss %}
