{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "_layouts/base.html" %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# The title of this CP section #}
{% set title = "IL KINOPROGRAMM" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Getting the Thursday to start from #}
{% set thursdayOffset = 4 %}
{% set currentDayOfWeek = now|date("w") %}
{% set weekDayOffset = (currentDayOfWeek - thursdayOffset) %}

{# Getting week offset, or start from current week (offset 0) #}
{% set queryParams = craft.app.request.queryParams %}
{% set weekOffset = ('startWeek' in queryParams|keys) ? queryParams['startWeek'] : 0 %}

{# Set the startdate to Thursday, and set week offset #}
{% set startDate = clone(now)|date_modify(weekDayOffset~" days")|date_modify(weekOffset~" weeks")|date() %}

{% set weeksToShow = 2 %}

{# Get movies #}
{% set movies = craft.entries()
                         .section('movies')
                         .type('movie')
                         .orderBy('nextScreening asc')
                         .shows(':notempty:')
                         .with([
                            ['shows', { orderBy: 'showTime asc' }],
                            'originalLanguage',
                            'poster',
                            'stills',
                         ])
                         .limit(null)
                         .indexBy('movieID')
                         .all()
%}

{# The content of the printable program #}
{% block body %}

    {% for week in range(0, weeksToShow-1) %}
        <div class="pagebreakbefore">
            {% set startDate = startDate|date_modify(week~" weeks")|date() %}
            <h1>IL KINOPROGRAM {{ startDate|date('d.m.Y') }}–{{ startDate|date_modify( "+6 days")|date('d.m.Y') }}</h1>

            {% set shows = craft.entries()
                                     .section('shows')
                                     .where(['>=', 'field_showTime', startDate|date('c')])
                                     .andWhere(['<', 'field_showTime', startDate|date_modify("+1 week")|date('c')])
                                     .with(['eventIDs'])
                                     .orderBy('showTime asc')
                                     .limit(null)
                                     .all()
            %}
            {% set showsByDate  = shows|group("showTime|date_modify('-3 hours')|date('Y-m-d')") %}

            {% for date, shows in showsByDate %}

                <table class="main">
                    {% for show in shows %}
                        {% set movie = movies[show.movieID] %}
                        <tr>
                            {% if loop.index == 1 %}
                                <td class="date " rowspan="{{shows|length}}">
                                    <div class="day">{{ date|date('D', locale='de') }}</div>
                                    <div class="date">{{ date|date('d.m.') }}</div>
                                </td>
                            {% endif %}
                            <td class="">{{ show.showTime|date('H:i') }}</td>
                            <td class="movieTitle">{{ movie.tagline ? movie.tagline ~ ': ' : '' }}{{ movie.title }} {{ movie.altTitle ? ' – ' ~ movie.altTitle : '' }}</td>
                            <!--td class="small">{{ show.eventIDs[0].versionCode.label }}</td-->
                            {% if show.eventIDs[0].versionCode.value == 'd' %}
                                <td class="">
                                    {{ svg('@webroot/assets/icons/audio.svg')|attr({class: 'icon-filminfo'}) -}}
                                    Deutsche Fassung
                                </td>
                                <td class="">
                                </td>
                            {% else %}
                                <td class="">
                                    {{ svg('@webroot/assets/icons/audio.svg')|attr({class: 'icon-filminfo'}) -}}
                                    {{ movie.originalLanguage[0] ?? 'Originalsprache' }}
                                </td>
                                <td class="">
                                    {{ svg('@webroot/assets/icons/subtitles.svg')|attr({class: 'icon-filminfo'}) -}}
                                    {{ show.eventIDs[0].subtitlesLanguageTest.one() }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}

{% css %}

    body {
        background-color: #fff;
        margin: 0cm;
        font-size: 9pt;
    }

    h1 {
        text-align: center;
    }

    table.main {
        margin-bottom: 9pt;
        width: 100%;
        table-layout: fixed;
    }

    td {
        padding: 0 9pt 0 9pt !important;
        white-space: nowrap;
    }

    td.small {
        width: 5%;
    }

    td.movieTitle {
        max-width: 75%;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        -webkit-print-color-adjust: exact;
    }

    td.language {
        width: 15%;
        vertical-align: top;
    }

    td.date {
        font-weight: bold;
        border-right: 1px solid #ddd;
    }

    td.date > div {
        text-align: center;
    }

    .day {
        font-size: 14pt;
        text-transform: uppercase;
    }

    .pagebreakbefore:not(:first-child) {
        page-break-before: always;
    }

    .audio {
        display: inline-block;
        width: 50%;
    }

    .icon-filminfo {
        fill: #3f4f5a;
        display: inline-block;
        height: 10px;
        margin-left: 2pt;
    }

    @media print {
        @page {
          size: A4;
        }
    }

{% endcss %}
