{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "cinema-program/_layouts/common.twig" %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Cinema program" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# NB! Should be moved to a service(?), ref Cache Flag plugin #}
{% set tabs = {
        overview : {
            label : 'Overview',
            url : url('cinema-program')
        },
        programEmail : {
            label : 'Program Email',
            url : url('cinema-program/programEmail')
        },
        program : {
            label : 'Program Print',
            url : url('cinema-program/program')
        },
        calendar : {
            label : 'Calendar',
            url : url('cinema-program/calendar')
        },
        update : {
            label : 'Update logs',
            url : url('cinema-program/update')
        }
    }
%}
{% set selectedTab = 'programEmail' %}

{# Thursday is 4 because week starts on Sunday, but it's 0 indexed #}
{% set startDay = 4 %}
{# Get today's day of week #}
{% set dayOfWeek = "now"|date("w") %}
{# Get start of current Kinowoche (to be used for fetching before/after) #}
{% set kwStart = "now"|date_modify( (startDay - dayOfWeek) ~ " days")|date() %}
{# Set end day to start pulling shows for #}
{% set kwEnd = kwStart|date_modify( "+1 week" )|date() %}

{% set queryParams = craft.app.request.queryParams %}
{% if 'startWeek' in queryParams|keys %}
    {% set offset = queryParams['startWeek'] %}
{% else %}
    {% set offset = 2 %}
{% endif %}



{# Find Kinowoche to use for email (based on default or param) #}
{% set kwEmailStart = kwStart|date_modify( "+"~offset~" weeks")|date() %}
{% set kwEmailEnd = kwEmailStart|date_modify( "+1 weeks")|date() %}


{# Get movies and shows #}
{% set currentMovies = craft.entries( { section: 'movies',
                                        orderBy: 'startingDate asc',
                                        limit: null,
                                        with: [
                                            [ 'shows', {
                                                showTime: ['and', '>= ' ~ kwEmailStart|date('c'), '< ' ~ kwEmailEnd|date('c') ],
                                                orderBy: 'showTime asc'
                                            } ]
                                        ] }).all() %}

{% block header %}
    {{ block('pageTitle') }}
    {% block contextMenu %}
    <div id="sites-btn" class="btn menubtn" data-icon="world">View</div>

        <div class="menu">
            <ul class="padded">
                <li>
                    <a href="{{ url('cinema-program/programEmail') }}">
                        Email
                    </a>
                    <a href="{{ url('cinema-program/calendar') }}">
                        Calendar
                    </a>
                </li>
            </ul>
        </div>

    {% endblock %}
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <div id="main-table">

        <h1 id="subject">Programm des IL KINO in Berlin für die Woche {{ kwEmailStart|date('d.m.Y') }}–{{ kwEmailEnd|date_modify( "-1 day")|date('d.m.Y') }}</h1>
        <p>
            <a id="emailLink" href="">Open email</a>
        </p>

        {% apply spaceless %}
        <div id="program">
            <p class="intro">Guten Tag,<br>
               hier kommt das Programm des IL KINO in Berlin für die Woche {{ kwEmailStart|date('d.m.Y') }}–{{ kwEmailEnd|date_modify( "-1 day")|date('d.m.Y') }}
            </p>

            {% for movie in currentMovies %}
                {% if movie.shows|length > 0 %}
                <div class="movie field">
                    <h2 class="title">{{ movie.title }}
                        ({% for langCode in movie.langCodes %}
                            {{- (not loop.first) ? '/' -}}
                            {{- langCode -}}
                        {% endfor %})
                    </h2>
                    {% set shows = movie.shows %}
                    {# for lang, s in movie.shows|group(movie.languageCode) #}
                    {% for lang, showsByLang in shows|group('eventIDs[0].versionCode.label') %}
                        {% if movie.langCodes|length > 1 %}
                            <h3 style="color: red">{{ lang }}:</h3>
                        {% endif %}

                        <ul>
                            {% for show in showsByLang %}
                            <li class="show">
                                <span>{{ show.showTime|date('D d.m. H:i') }} Uhr </span>
                            </li>
                            {% endfor %}
                        </ul>

                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endapply %}
    </div>
{% endblock %}

{% block details %}

    <div class="meta">
        <h2>Choose Kinowoche</h2>
        <ul>
            {% set k = 4 %}
            {% for i in range(0, k) %}
                <li>
                    {% set active = (i == offset) ? "color: black; font-weight: bold" : "" %}
                    <a href="?startWeek={{i}}" style="{{active}}">{{ kwStart|date_modify( "+"~i~" week")|date("d.m.") }} – {{ kwEnd|date_modify( "+"~i~" week")|date("d.m.") }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{# JavaScript for ajax call #}
{% js %}

$( "#emailLink" ).click(function (e) {

//    program = $.trim( $( "#program" ).html() );

    program = $.trim( $( "#program .intro" ).text() );

    $( "#program .movie" ).each(function() {
        program += "<p>";
        program += "<b>" + $.trim( $( this ).find( ".title" ).text() ) + "</b>";

        $( this ).find(".show").each(function() {
            program += "<br>" + $.trim( $( this ).html() );
        });

    program += "</p>";
    });

    var subject = encodeURIComponent( $("#subject").text() );
//    var body    = encodeURIComponent( $("#program").html() );
    var body    = encodeURIComponent( program );
    var to      = 'cine-marketing@gmx.de; kino@krankikom.de; kino@tel-a-vision.de';
    var cc      = 'Madeleine Jessell <madeleine.jessell@gmail.com>;'
                  + 'Anne Piest  <annekpst@gmail.com>;'
                  + 'Anja Wutej  <anja@ilkino.de>;'
                  + 'Contact  <contact@ilkino.de>;';

    $( this ).attr("href", "mailto:" + to + "?cc=" + cc + "&subject=" + subject + "&body=" + body);

});

{% endjs %}
