{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}

{% set title = "Cinema Program Settings"|t('cinema-program') %}
{% set sidebar = '' %}

{% set tabs = {
    'general': {'label': 'General', 'url': '#general'},
    'feeds': {'label': 'Feed Settings', 'url': '#feeds'},
    'legacy': {'label': 'Legacy', 'url': '#legacy'},
} %}

{% block content %}

    <div id="general">
        <div class="field">
            <div class="heading">
                <label>Taglines to automatically extract</label>
            </div>
            <div class="instructions">If any of these titles appear in the title from Cinetixx, they will be added as taglines</div>
            <div class="input ltr">
                {{ forms.editableTable({
                    label: 'Taglines',
                    id: 'taglines',
                    name: 'taglines',
                    static: false,
                    staticRows: false,
                    initJs: true,
                    cols: {
                      title: {
                          heading: 'Tagline',
                          type: 'singleline',
                      },
                    },
                    rows: settings.taglines,
                    minRows: 1,
                    maxRows: 30,
                  })
                }}
            </div>
        </div>
    </div>

    <hr>

    <div id="general">
        <h2>Field Update Mappings</h2>
        {% for feed in feeds %}

            <div class="field">
                <div class="heading">
                    <label>{{ feed.name }}</label>
                </div>
                <div class="instructions">Choose which fields should be updated from Cinetixx after the first time</div>
                <div class="input ltr">
                    {{ forms.editableTable({
                        label: 'Field Update Mapping',
                        id: 'skipFieldUpdateMapping-'~feed.id,
                        name: 'skipFieldUpdateMapping['~feed.id~']',
                        static: false,
                        staticRows: false,
                        initJs: true,
                        cols: {
                          field: {
                              heading: 'Field Name',
                              type: 'singleline',
                          },
                          node: {
                              heading: 'Node',
                              type: 'singleline',
                          },
                          update: {
                              heading: 'Update',
                              type: 'lightswitch',
                          },
                        },
                        rows: settings.skipFieldUpdateMapping[feed.id],
                        minRows: 1,
                        maxRows: 30,
                      })
                    }}
                </div>
            </div>

        {% endfor %}
    </div>

    <hr/>

    <div id="legacy">

        {{ forms.textField({
            label: 'Cinetixx URL',
            instructions: 'URL to XML with program data from Cinetixx.',
            id: 'ctxURL',
            name: 'ctxURL',
            value: settings['ctxURL']})
        }}

        {{ forms.textField({
            label: 'Kinoheld URL',
            instructions: 'URL to XML with program data from Kinoheld.',
            id: 'khdURL',
            name: 'khdURL',
            value: settings['khdURL']})
        }}

        <div class="field">
          <div class="heading">
              <label id="mappings-label" for="Mapping">Mapping</label>
              <div class="instructions"><p>Mapping values of Craft field handles and XML tags, and what to use for what entries.</p></div>
        {{ forms.editableTable({
            label: 'Mapping',
            id: 'mapping',
            name: 'fieldMap',
            static: false,
            staticRows: false,
            initJs: true,
            cols: {
              craft:        { heading: 'Craft handle',    type: 'textField', },
              cinetixx:     { heading: 'Cinetixx handle', type: 'textField', },
              useForMovies: { heading: 'Movies',          type: 'checkbox',  },
              useForShows:  { heading: 'Shows',           type: 'checkbox',  },
              type:         { heading: 'Force type',      type: 'select',
                                options: [
                                    { label: 'Number', value: 'int' },
                                    { label: 'Text', value: 'text' },
                                    { label: 'URL', value: 'url' },
                                    { label: 'Language', value: 'lang' },
                                    { label: 'Poster', value: 'posters' },
                                    { label: 'Stills', value: 'stills' },
                                    { label: '(None)', value: 'none' },
                                ]
              },
            },
            rows: settings['fieldMap'],
            minRows: 1,
            maxRows: 30,
          })
        }}
          </div>
        </div>

        {% for groupName, settings in settings['fieldGroupMaps'] %}
            <h2>Group: {{ groupName }} </h2>
            <div class="field">
              <div class="heading">
                  <label id="{{ groupName }}-label" for="{{ groupName }}">Super Table handle: {{ groupName }}</label>
                  <div class="instructions"><p>Mapping Super Table fields in Craft to XML tags.</p></div>
                  {{ forms.editableTable({
                      label: groupName,
                      id: 'fieldGroupMaps-' ~ groupName,
                      name: 'fieldGroupMaps[' ~ groupName ~ ']',
                      static: false,
                      staticRows: false,
                      initJs: true,
                      cols: {
                        craft:        { heading: 'Craft handle',    type: 'textField', },
                        cinetixx:     { heading: 'Cinetixx handle', type: 'textField', },
                        useForMovies: { heading: 'Movies',          type: 'checkbox',  },
                        useForShows:  { heading: 'Shows',           type: 'checkbox',  },
                        type:         { heading: 'Force type',      type: 'select',
                                          options: [
                                              { label: 'Number', value: 'int' },
                                              { label: 'Text', value: 'text' },
                                              { label: 'URL', value: 'url' },
                                              { label: 'Language code', value: 'lang' },
                                              { label: 'Audio language', value: 'audio' },
                                              { label: 'Subtitles', value: 'subs' },
                                              { label: '(None)', value: 'none' },
                                          ]
                        },
                      },
                      rows: settings,
                      minRows: 1,
                      maxRows: 30,
                    })
                  }}
              </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
