{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program testUpdate.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\cinemaprogram\\CinemaProgramAsset") %}
{% do view.registerAssetBundle("ilkino\\cinemaprogram\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Cinema program" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('cinema-program') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@ilkino/cinemaprogram/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# NB! Should be moved to a service(?), ref Cache Flag plugin #}
{% set tabs = {
        overview : {
            label : 'Overview',
            url : url('cinema-program')
        },
        programEmail : {
            label : 'Program Email',
            url : url('cinema-program/programEmail')
        },
        calendar : {
            label : 'Calendar',
            url : url('cinema-program/calendar')
        },
        update : {
            label : 'Update logs',
            url : url('cinema-program/update')
        }
    }
%}
{% set selectedTab = 'overview' %}

{# Content that should appear in the page header #}
{% block actionButton %}

    <!--input class="btn submit" type="submit" value="{{ 'Update program'|t }}"-->

    <form id="updateForm" method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="cinema-program/update-program/update-program-new">
        {{ redirectInput('ilkino/cinema-program') }}
        {{ csrfInput() }}
        <input class="btn submit" type="submit" value="{{ 'Update program (new)'|t }}">
    </form>

{% endblock %}

{# The content of the CP Section#}
{% block content %}

    <div id="main-table">
        <h1>Test update</h1>

        <h2>Shows to delete</h2>

        <table class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>(Column 2)</th>
                    <th>(Column 3)</th>
                </tr>
            </thead>
            <tbody>
            {% for show in variables.showsToDelete %}
                <tr>
                    <th>{{ show.title|date('D M d') }}</th>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>


{% block details %}

    <div class="meta">
        <h2>Status data here if needed</h2>
        <div id="status"></div>
    </div>

{% endblock %}
