{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cinema program plugin for Craft CMS 3.x
 *
 * Cinema program index.twig
 *
 * @author    Kris
 * @copyright Copyright (c) 2018 Kris
 * @link      http://ilkino.de
 * @package   CinemaProgram
 * @since     1.0.0
 */
#}

{% extends "cinema-program/_layouts/common.twig" %}
{% import "_includes/forms" as forms %}

{% set plugin = craft.app.plugins.getPlugin('cinema-program') %}

{% set movies = craft.entries({
                         section: 'movies',
                         type:    'movie',
                         orderBy: 'title asc',
                         limit:   null,
                       }).all()
%}


{# NB! Should be moved to a service(?), ref Cache Flag plugin #}
{% set tabs = {
        overview : {
            label : 'Overview',
            url : url('cinema-program')
        },
        programEmail : {
            label : 'Program Email',
            url : url('cinema-program/programEmail')
        },
        program : {
            label : 'Program Print',
            url : url('cinema-program/program')
        },
        calendar : {
            label : 'Calendar',
            url : url('cinema-program/calendar')
        },
        update : {
            label : 'Update logs',
            url : url('cinema-program/update')
        }
    }
%}
{% set selectedTab = 'update' %}

{# Content that should appear in the page header #}
{% block actionButton %}

      <!--input class="btn submit" type="submit" value="{{ 'Update program'|t }}"-->

    <form method="post" action="" accept-charset="UTF-8" id="updateForm">
        <div class="btngroup">
            <input type="hidden" name="action" value="cinema-program/update-program/load-data">
            {{ redirectInput('ilkino/cinema-program') }}
            {{ csrfInput() }}
            <input class="btn submit" type="submit" value="{{ 'Update program'|t }}">
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit"
                            data-action="cinema-program/update-program/remote-update"
                            data-redirect="ilkino/cinema-program">
                            {{ 'Update program (no AJAX)'|t }}</a>
                    </li>
                </ul>

                <hr>

                <ul>
                    <li><a class="formsubmit"
                            data-action="cinema-program/update-program/temp-migration"
                            data-confirm="{{ 'Are you REALLY sure you want to perform migration?'|t }}"
                            data-redirect="ilkino/cinema-program">
                            {{ 'Temp migration to Super Table'|t }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </form>

{% endblock %}

{# The content of the CP Section#}
{% block content %}

    {% for movie in movies %}
        {% if movie.checkTmdb %}

            <div class="pane">
                <h2>{{ movie.title }}</h2>
                {% hook 'tmdb-lookup' %}
            </div>

        {% endif %}
    {% endfor %}

{% endblock %}
