{# -- Base HTML layout template that all HTML requests inherit from -- #}
{% extends craft.app.request.isAjax() and not craft.app.request.getIsPreview()
    ? "_boilerplate/_layouts/base-ajax-layout.twig"
    : "_boilerplate/_layouts/base-web-layout.twig"
%}

{% block htmlTag %} 
    <html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% endblock htmlTag %}

{# -- Page content that should be included in the <head> -- #}
{% block headContent %}
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ currentSite.group.name }}</title>
    <meta name="description" content="Independent cinema, bar and bistro in Neukölln, Berlin">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{% if title is defined %}{{ title }} - {% endif %}{{ currentSite.group.name }}">
    <meta property="og:description" content="Independent cinema, bar and bistro in Neukölln, Berlin">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ alias('@baseUrl') }}">

    {# -- Any <meta> tags that should be included in the <head> #}
    {% block headMeta %}
        <meta property="og:image" content="https://ilkino.de/assets/img/og-image.jpg">
    {% endblock headMeta %}

    {# -- Any <link> tags that should be included in the <head> #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <link rel="prefetch" href="{{ currentSite.baseUrl }}movie-program">

    {# Preloading fonts (latin + latin-ext) #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2"
            rel="preload" crossorigin as="font" type="font/woff2">
    <link href="https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2"
            rel="preload" crossorigin as="font" type="font/woff2">
    {% block headLinks %}
    {% endblock headLinks %}

    {# -- Inline and polyfill JS #}
    {% include "_boilerplate/_partials/head-js.twig" %}

    {# -- Any JavaScript that should be included before </head> -- #}
    {% block headJs %}
    {% endblock headJs %}

    {# -- Inline and critical CSS #}
    <style>
        [v-cloak] {display: none !important;}
        {# -- Any CSS that should be included before </head> -- #}
        {% block headCss %}
        {% endblock headCss %}
    </style>
    {# TODO: Consider changing to the include version 
    {% include "_boilerplate/_partials/critical-css.twig" %}
    #}

{% endblock headContent %}

{# -- Page content that should be included in the <body> -- #}
{% block bodyContent %}
    {# -- Page content that should be included in the <body> -- #}
    {% block bodyHtml %}
    {% endblock bodyHtml %}

    {#-- Site-wide JavaScript --#}
    {# -- Inline JS #}
    {# TODO: Start using if needed (example is not relevant, I think) 
    {% include "_boilerplate/_partials/body-js.twig" %}
    #}

    {# -- Any JavaScript that should be included before </body> -- #}
    {% block bodyJs %}
    {% endblock bodyJs %}
{% endblock bodyContent %}