<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('/cinema-program/update-program/add-tmdb-info') }}
    {{ redirectInput('cinema-program/update') }}
    {{ hiddenInput('movieId', movieId) }}
    {{ hiddenInput('tmdbId', movie.tmdbId) }}

    <nav id="tabs">
        <ul>
            <li data-id="info">
                <a id="tab-info" class="tab sel" href="#tmdb-{{movie.tmdbId}}-info" title="Info">Info</a>
            </li><li data-id="stills">
                <a id="tab-stills" class="tab" href="#tmdb-{{movie.tmdbId}}-stills" title="Pictures">Pictures</a>
            </li><li data-id="posters">
                <a id="tab-posters" class="tab" href="#tmdb-{{movie.tmdbId}}-posters" title="Posters">Posters</a>
            </li><li data-id="videos">
                <a id="tab-videos" class="tab" href="#tmdb-{{movie.tmdbId}}-videos" title="Videos">Videos</a>
            </li>
        </ul>
        <a id="overflow-tab-btn" data-icon="ellipsis" class="btn menubtn hidden" role="combobox" tabindex="0" aria-owns="menu.Garnish975288867" aria-haspopup="true" aria-expanded="false"></a>

    </nav>

    <!--div class="nav">
        <a href="#">Info</a>
        <a href="#">Pictures</a>
        <a href="#">Posters</a>
        <a href="#">Videos</a>
    </div-->

    <div id="tmdb-{{movie.tmdbId}}-info" class="content-pane">
        <h3>Info</h3>
        <p>Director: {{movie.director|join(', ')}}</p>
        <p>Year: {{movie.year}}</p>
        <h4>English synopsis</h4>
        <p>{{movie.synopsis}}</p>
    </div>

    <div id="tmdb-{{movie.tmdbId}}-stills" class="content-pane hidden">
        {% if movie.stills|length > 0 %}
            <h3>Stills</h3>
            {% for still in movie.stills %}
                <img src="{{still}}">
            {% endfor %}
        {% endif %}
    </div>

    <div id="tmdb-{{movie.tmdbId}}-videos" class="content-pane hidden">
        {% if movie.videos is defined %}
            {% for video in movie.videos %}
                <img src="{{video}}/mqdefault.jpg">
            {% endfor %}
        {% endif %}
    </div>

    <p><input type="submit" class="btn submit" value="Update with selected information"></p>
    <p><a href="/tmdb-update/run/{{movieId}}/{{movie.tmdbId}}">Update with selected information</a></p>
    <p><input type="button" onclick="updateMovie({{movieId}}, {{movie.tmdbId}});" class="btn submit" value="Test AJAX update"></p>
</form>

