{% switch movies|length %}

    {% case 0 %}

        <p>Not found in The Movie Database. Should we stop looking for it?</p>
        <div class="btn">Stop looking for this movie</div>

    {% case 1 %}

        {% set movie = movies[0] %}
        {% include "cinema-program/_includes/tmdb/movie-details" %}

    {% default %}

        <form method="post" accept-charset="UTF-8" name="tmdb-{{movieId}}">
        {{ csrfInput() }}
        {{ actionInput('/cinema-program/update-program/add-tmdb-info') }}
        {{ redirectInput('cinema-program/update') }}
        {{ hiddenInput('movieId', movieId) }}
            <div style="display: flex; flex-wrap: wrap; justify-content: flex-start">

                {% for movie in movies %}

                    {% set poster = movie.poster_path %}
                    <div style="margin-bottom: 12px; margin-right: 12px; border: 1px solid #ddd; border-radius: 8px;">
                        <label style="width: 140px; display: flex; flex-direction: column; align-items: center; padding: 6px;">
                            {% set title = movie.title ~ ' (' ~ movie.release_date|date('Y') ~ ')' %}
                            {# TODO: Find out how to access globals here #}

                            <input type="radio" style="align-self: center; margin-bottom: 12px;" name="tmdb-{{movieId}}-radio" value="{{movie.id}}">
                            <h2>{{title}}</h2>
                            {% if poster %}
                                <img src="{{ poster }}" style="width: 120px; margin: 0 6px;">
                            {% endif %}
                            <p>
                                <a href="https://www.themoviedb.org/movie/{{movie.id}}" target="_blank">
                                    TMDB
                                </a>
                            </p>
                        </label>
                    </div>
                {% endfor %}

            </div>
            <input type="button" class="btn submit" onclick="selectAndUpdateMovie({{movieId}});" value="Update with selected movie">
        </form>

{% endswitch %}

{% if movies|length == 1 %}

{% endif %}

{% js %}

function selectAndUpdateMovie(movieId) {
    var selection = document.querySelector('input[name="tmdb-'+movieId+'-radio"]:checked');
    if (selection) {
        tmdbId = selection.value;
        updateMovie(movieId, tmdbId);
    } else {
        alert('Select a movie first');
    }
}

function updateMovie(movieId, tmdbId) {

    var data = {
        movieId: movieId,
        tmdbId: tmdbId,
    };

    Craft.sendActionRequest('POST', 'cinema-program/update-program/add-tmdb-info', {data})
    .then((response) => {
        jobs = response.data.jobs; // Array of jobs. Do something nifty with it
    })
    .catch(({response}) => {
        // Handle non-2xx responses ...
    });
}

{% endjs %}