{# -- Layout template for HTML pages -- #}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{# TODO: Consider whether using this 
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}
#}

{# -- Page body -- #}
{% block bodyHtml %}

    {# -- Info header, including _navbar.twig -- #}
    {# TODO: Consider whether using this (sounds smart, but only for global nav?)
    {% include "_partials/info-header.twig" %}
    #}
    {% block header %}
        <header>
            {{ include('_partials/global-mainmenu') }}
        </header>
    {% endblock %}

    {# -- Primary content block -- #}
    {% block content %}
    {% endblock %}

    {# -- Content that appears below the primary content block -- #}
    {% block subcontent %}
    {% endblock %}

    {# -- Info footer -- #}
    {# TODO: Consider whether using this 
    {% include "_partials/info-footer.twig" %}
    #}

    {# -- HTML Footer -- #}
    {# TODO: Consider whether using this 
    {% include "_partials/global-footer.twig" %}
    #}

    {% block footer %}
        <footer>
            {{ include('_partials/global-footer') }}
        </footer>
    {% endblock %}


{% endblock bodyHtml %}