<section class="frontpage-about bg-dark-grey" id="about">
  <aside class="section-header-photo"><span class="show-for-sr">Interior picture of IL KINO</span></aside>
  <article class="row column">
    <h1>Welcome to IL KINO</h1>
    <p><strong>IL KINO</strong> is a 52-seat <strong>cinema</strong> with an accompanying <strong>bar</strong>
       and <strong>bistro</strong> a few steps from Maybachufer in Neukölln.</p>
  </article>

</section>
