{% import "_includes/macros.twig" as macros %}


  {# Always showing popup wbile developing #}
  {% css %}
     div.reveal-overlay {
         display: block !important;
         background-color: rgba(255, 255, 255, .75);
     }
     article.reveal {
         display: block !important;
     }

     body > footer {
         filter: blur(2px);
     }
  {% endcss %}

  {# If movie has upcoming shows and is not part of a series #}
  {# -> What to do with announced movies without shows posted? #}
  {# TODO: Move to separate template, but keep iteration here – pass id #}
  {% if movie.shows|length > 0 %}

  {# MOVIE POPUP #}
  <article id="movie-popup-{{ movie.movieID }}" class="reveal rounded shadow-xl md:max-h-40 p-0 bg-grey-lightest" data-reveal data-reset-on-close="true">

    {#
     #  Header image and title
     #}
    <header class="relative">
        {% set still = movie.stills[0] ?? defaults.stills[1] %}
        {% if still %}
          <img class="movie-still" data-src="{{ still.url }}" data-srcset="{{ still.getUrl('popupStill1x') }} 1x, {{ still.getUrl('popupStill2x') }} 2x" alt="{{ still.title }}" onerror="removeImg(this)" />
        {% endif %}

        {% set headerSize = (movie.title|length > 26) ? 'text-3xl' : 'text-5xl' %}
        <h1 class="{{ headerSize }} absolute bottom-0 w-full p-6 to-black text-center text-grey-lightest text-shadow leading-none m-0 scrolling-touch sm:scrolling-auto overflow-x-auto ">{{ movie.title }}</h1>
    </header>

    {#
     #  "Body" container
     #}
    <div class="px-6 py-3">
        {#
         #  Film details
         #}
        <aside class="text-center text-sm mb-3 font-semibold text-grey-darker leading-tight">
            {{ movie.director ? ['By ', movie.director, ' · ']|join }}
            {{ movie.genre    ? [movie.genre, ' · ']|join }}
            {{ movie.duration ? [movie.duration, ' mins · ']|join }}
            {{ movie.country  ? [movie.country]|join }}
            {{ movie.year     ? [', (', movie.year, ')']|join }}
            <br/>

            {{ macros.getLabels(movie.languageCode) }} – {{ movie.audioLanguage }} with {{ movie.subtitlesLanguage }} subtitles
        </aside>

        {#
         #  Tickets
         #}
        <div class="my-3 flex flex-wrap">
            {% set shows = movie.shows ?? null %}
            {% if shows %}
                {% for show in shows %}
                    {% set avail = (show.showTime|date('YmdHi') > clone(now).modify('-30 minutes')|date('YmdHi')) ? true : false %}
                    <button id="ticketbutton-{{ show.showID }}" type="button"
                            class="w-1/4 text-left border-r border-grey-darker {{ not avail ? 'disabled' }}" data-movieid="{{ movie.movieID }}" data-ticketurl="{{ show.ticketUrl }}">
                        <time class="font-semibold text-red-dark px-1.5" datetime="{{ show.showTime.format('c') }}">
                            {{ show.showTime|date('D d.m.') }} {{ show.showTime|date('H.i') }}
                            {% if movie.languageCode|length > 1 %}
                                <span class="date">({{ show.languageCode[0].label }})</span>
                            {% endif %}
                        </time>
                    </button>
                {% endfor %}
            {% else %}
                {# NB! Need to have some better message here #}
                <p>No tickets released yet</p>
            {% endif %}
        </div>

        <div class="my-3">
            {{ movie.synopsis }}
        </div>

    <div class="tabs-content content" data-tabs-content="movie-tabs-{{ movie.movieID }}">

      <div class="tabs-panel" id="kinoheld-panel-{{ movie.movieID }}">
        <button class="ticketBackButton" data-movieid="{{ movie.movieID }}">Back</button>
        <iframe src="about:blank" class="kinoheld"></iframe>
      </div>

      {% if movie.trailerUrlParsed| length > 0 %}
      <div class="tabs-panel media-panel" id="media-panel-{{ movie.movieID }}">
        <div class="responsive-embed widescreen">
          <iframe class="video" data-src="{{ movie.trailerUrlParsed }}" width="566" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}

    </div>

</div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </article>
  {% endif %}
