{% cache if not craft.app.config.general.devMode %}

{% set upComingShowsByDate = craft.program.getUpcomingShowsByDate(7) %}
{% set movies = craft.program.movies %}

{#
 # TODO: NB! Install the lazySizes object fit extension, and if needed, the parent fit extension
 # https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
 # https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/parent-fit
 #}
{% set still = craft.program.nextShowStill %}
{% set still = (still is defined and not null) ? still : defaults.stills[3].stillsSquare %}

<header class="w-full relative bg-fixed bg-cover bg-bottom bg-black text-white overflow-y-hidden"
        {# style="background-image: url('{{still.stillsWide.src(800)}}'); background-size: cover;" #}
>

    <picture>
        <source srcset="{{ still.stillsSquare.srcsetWebp() }}"
                media="(max-width:575px)"
                sizes="100vw"
                type="image/webp"
        >
        <source srcset="{{ still.stillsSquare.srcset() }}"
                media="(max-width:575px)"
                sizes="100vw"
        >

        <source srcset="{{ still.stillsWide.srcsetWebp() }}"
                sizes="100vw"
                type="image/webp"
        >
        <source srcset="{{ still.stillsWide.srcset() }}"
                sizes="100vw"
        >

        <img class="w-full h-full absolute top-0 object-cover desaturate"
                src="{{ still.stillsSquare.placeholderBox() }}"
                width="350"
                height="350"
                fetchPriority="high"
                alt="Still image from random film as background decoration"
        >
    </picture>

    <div class="overlay bg-black opacity-75 w-full h-full absolute top-0"></div>

    {#
     # Slides
     #}
    {% set useContext = 'frontpage-header' %}
    <div class="relative container m-auto header-program mx-auto">

      {# TODO: Estimate the height of the Slide Track to avoid jumping on Splide initialisation.
       #       Or can we actually get the first slides rendered height?
       #       If so, why does it jump? Is it becaues it gets the full Splide height before reverting?
       #       I guess that must be the thing ...
       #}
      <div id="embla-program-slider" class="embla max-w-6xl m-auto" aria-labelledby="frontpage-program-label">
        {% set display = 'frontpage-header' %}

        <h2 id="frontpage-program-label" class="section-heading pt-9 pb-6 md:pt-16">
          {{ 'Programm'|t }}
        </h2>

        {#
        # Temporary alert
        #}
        {% set update = craft.entries().section('updates').type('updates').one() %}
        {% if update %}
          <div class="bg-white text-black relative md:top-3 p-3 w-full border border-white">
            <h2 class="text-2xl text-center">{{ update.title }}</h2>
            <div class="etxt-lg md:text-xl text-center">{{ update.ingress }}</div>
          </div>
        {% endif %}

        <div class="flex align-center justify-center m-0 pb-3 md:pb-9 md:gap-4">
          <button aria-label="Previous day" class="embla__prev pointer-events-auto hidden p-3">
            {{ svg('@webroot/assets/img/icons/prev-round-outline.svg')|attr({ class: 'h-6 w-6', alt: 'Previous day' }) }}
          </button>
          {# TODO: Better to just make the dots here, instead of creating them in Embla, since we know how many we want #}
          {# NB: Need to see this up towards "period updates", or empty days, as we are currently not guaranteed 7 consecutive days #}
          <ul class="embla__dots h-12 flex align-center flex-wrap justify-center" role="tablist" aria-label="Select day"></ul>
          <button aria-label="Next day" class="embla__next pointer-events-auto hidden p-3">
            {{ svg('@webroot/assets/img/icons/next-round-outline.svg')|attr({ class: 'h-6 w-6', alt: 'Previous day' }) }}
          </button>
        </div>

        <div class="embla__viewport" aria-live="polite" aria-atomic="true">
          <div class="embla__container flex" role="presentation">

            {#
             #  TODO: This whole bit with period updates in unbelievably hacky,
             #        and should be fixed in a way that makes sense.
             #}

            {# Get special "periods" (e.g. periods we are closed) #}
            {% set periods = craft.entries.section('updates').type('periodInfo').orderBy('startDate ASC').all() %}
            {# A bit hacky, but in case we have a very short period closed #}

            {% set firstPass = true %}
            {% for offset in 0..6 %}
            {# for date, shows in upComingShowsByDate #}

              {# TODO: Standarise and deal with all this in _global #}
              {# TODO: Stupid to use "today" as name and change it for every loop #}
              {% set today = clone(now)|date_modify('-3 hours')|date_modify('+'~offset~' days')|date('Y-m-d') %}

              {# Show period update, if any (we only do one per date!) #}
              {% set update = null %}
              {% for period in periods %}
                {% if today >= period.startDate|date('Y-m-d') and today < period.endDate|date('Y-m-d') %}
                  {% set update = period %}
                  {% set difference = date(period.endDate).diff(date(today)) %}
                  {% set daysLeft = difference.days %}
                  {% set newOffset = offset + daysLeft %}
                {% endif %}
              {% endfor %}

              {# This is all just hacky. Fix it. #}
              {% set skipDay = false %}
              {% if update and not firstPass %}
                {% set skipDay = true %}
              {% endif %}
              {# (Hacky mess delimiter) #}

              {% if today in upComingShowsByDate|keys %}
                {% set filmsToday = true %}
                {% set shows = upComingShowsByDate[today] %}

              {% else %}
                {% set filmsToday = false %}
              {% endif %}

              {% set skipDay = (not filmsToday) ? true : skipDay %}

              {% if not skipDay %}
                <div class="embla__slide px-3 md:px-6" role="tabpanel" data-paginationtext="{{ today|date('D') }}" data-ariapaginationtext="{{ today|date('l') }}">
                  {% if update and firstPass %}
                    {% set firstPass = false %}
                    {{ include('_components/program/_period') }}
                  {% else %}
                    {{ include('_components/program/_programday') }}
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      {% set program = craft.entries.section('program').one() %}
      <div class="text-center py-12">
        <a class="bg-white text-black text-lg px-3 py-1.5 font-normal rounded" href="{{program.url}}">
          {{ 'Ganzes Programm'|t }}
        </a>
      </div>

    </div>

</header>

{% endcache %}