{% import "_includes/macros.twig" as macros %}

{% set startDay = 4 %}
{# Thursday = 4, it is 0 indexed #}
{% set dayOfWeek = "now"|date("w") %}
{# Today's day of week #}
{# Get the thursday of _next_ week #}
{% set splitDate = "now"|date_modify( (startDay - dayOfWeek + 6) ~ " days")|date() %}
{% set primaryColor = 'red-dark' %}
{% set bgColor = 'beige-light' %}

{% cache using key "frontpage-movies" if not craft.app.config.general.devMode %}

{% set movies = craft.program.upcomingMovies %}

{# Filtering out movies that don't have upcoming screenings (today was last screening) #}
{% set movies = movies|filter( movie => (
      movie.shows|filter(
        show => show.showTime|date('YmdHi') >= now|date('YmdHi')
      )
    )|length > 0
  ) %}

{# Grouping movies in "Current" and "Upcoming" based on the next screening #}
{% set moviesGrouped = movies|group(
      e => (e.nextScreening|date('Ymd') <= splitDate|date('Ymd'))
        ? 'current'
        : 'upcoming'
    )
  %}

	{% for group, movies in moviesGrouped %}
	{# TODO: This is probably not reliable, as it is keeping also films from last Thursday(?) #}
		{% if movies|length > 0 %}

		{# TODO: Set the gradient in Tailwind somehow #}
		{% set bgCss = (group == 'current')
                   ? 'bg-red-red-orange'
                   : 'bg-black'|t %}

			<section class="text-white {{ bgCss }}"> <h2 class="section-heading pt-6 pb-9">
				{{ (group == 'current') ? 'Diese Woche'|t : 'Demnächst'|t }}
			</h2>
			<div id="{{group}}-movies2" class="swiper">
				<div class="swiper-wrapper mx-auto">
					{% for movie in movies %}
						<div class="swiper-slide max-w-9/10 !w-72 md:!w-60">
							{{ include('_components/movie2') }}
						</div>
					{% endfor %}
				</div>
				{#
												          <div class="navigation text-white text-center flex gap-2 justify-center">
												              <button class="embla__prev">Prev</button>
												              <button class="embla__next">Next</button>
												          </div>
												          #}
				<div class="navigation flex align-center justify-between m-0 pb-3 md:pb-9 mx-3 md:mx-9">
					<button class="swiper-button-prev pointer-events-auto ml-0.75 md:ml-0 p-3">
						<img class="h-12 w-12" src="/assets/img/icons/prev-round-outline.svg" alt="Previous day">
					</button>
					<button class="swiper-button-next pointer-events-auto mr-0.75 md:mr-0 p-3">
						<img class="h-12 w-12" src="/assets/img/icons/next-round-outline.svg" alt="Next day">
					</button>
				</div>

			</div>
		</section>
	{% endif %}
{% endfor %}

{% endcache %}
