{% import "_includes/macros.twig" as macros %}
{% set upComingShowsByDate  = shows|group("showTime|date_modify('-3 hours')|date('Y-m-d')") %}

<!-- TODO: Check what the ID was for and remove it if not needed -->
<article id="frontpage-program"
         class="relative grow-0 bg-white text-black border-1 border-yellow-dark shadow-lg w-full md:w-4/5 lg:w-1/2 max-w-2xl sm:-mt-3 lg:-mb-3 m-auto md:pb-9"
         role="region"
         aria-label="Cinema program">

    <div id="program-slider" class="program-slider relative">

        {% for date, shows in upComingShowsByDate %}

        {# If the last show of the day has started, don't show the day in the program (should account for shows into 3am) #}
        {% set lastShow = shows|last %}
            {% if lastShow.showTime|date('YmdHi') > now|date('YmdHi') %}

                <section class="program-slider  w-full p-6 xs:p-3 {{ loop.index == 1 ? '' : 'hidden' }}">
                    <h1 class="date-header text-lg md:text-xl text-center leading-none mt-3 mb-9 cursor-pointer" data-date="{{date|date('Y-m-d')}}">
                        {{ date|date('l d.m.', locale='de-DE') }}
                    </h1>

                    <ul class="table">
                      {% for show in shows %}

                          {# Add movie entry to the show (basically making a reverse "eager-load", since we have loaded them anyways) #}
                          {% if movies[show.movieID] is defined %}
                            {% set success = show.addMovie(movies[show.movieID]) %}
                          {% endif %}

                          {% set inPast = show.showTime|date('YmdHi') < now|date('YmdHi') %}

                          {% if show.isMovieSet() %}

                              {% if show.tagline %}
                              <li class="table-row cell-before">
                                  <aside class="table-cell text-sm text-red-dark font-semibold uppercase leading-none">{{ show.tagline }}</aside>
                              </li>
                              {% endif %}

                          <li class="show table-row w-full {{ inPast ? 'in-past' }}"
                              data-showid="{{ show.showID }}"
                              data-movieid="{{ show.movieID }}"
                              data-open="movie-popup-{{ show.movieID }}"
                              data-friendlydate="{{ show.showTime|date('D d.m. H:i') }}"
                              data-showtime="{{show.showTime|date('c')}}">

                              <time class="table-cell pb-3 pd:mb-6 w-15 xs:w-12 md:w-18 text-base md:text-lg text-grey font-normal" datetime="{{show.showTime|date('Y-m-d')}}">
                                  {{ show.showTime|date('H:i') }}
                              </time>

                              <div class="table-cell pb-3 pb:mb-6 text-lg md:text-xl hover:text-orange-dark cursor-pointer uppercase font-semibold leading-5">
                                    {{- show.showTitle -}}
                                    {% if not inPast %}
                                    <!--span class="lang-code text-sm leading-none"
                                          aria-label="Italienisch mit deutschen Untertiteln" data-microtip-position="up" role="tooltip" data-microtip-size="medium"
                                          >{{- show.langCode -}}</span-->
                                    <div class="normal-case inline-block text-2xs sm:text-xs font-semibold text-grey leading-none">
                                        {{ (show.langCode) }}
                                    </div>
                                    {% endif %}

                                    {% if show.altTitle %}
                                        <div class="table-cell text-base normal-case font-semibold text-grey leading-none">{{ show.altTitle }}</div>
                                    {% endif %}
                                </div>
                          </li>

                          {% endif %}

                      {% endfor %}
                    </ul>
                </section>
            {% endif %}
        {% endfor %}

    </div>

    <div class="relative md:absolute bottom-0 px-6 pb-3">
      <div class="text-center text-base font-normal mb-6">
        <a class="rounded shadow px-3 py-1.5 bg-yellow-dark text-black font-normal" href="/program">Zum Programm</a>
      </div>

      <div class="text-xs text-grey-dark">
        <strong>OmU</strong> = deutschen U.t. /
        <strong>OmeU</strong> = englischen U.t. /
        <strong>OV</strong> = ohne U.t. /
        <strong>dF</strong> = Deutsche Fassung
      </div>
    </div>

    <div class="slider-controls slider-controls-program w-full absolute top-0 mt-7">
        <button class="prev ml-1.5 md:ml-6">
            <svg class="button-icon  fill-current absolute" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>
        </button>
        <button class="next mr-1.5 md:mr-6">
            <svg class="button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
        </button>
    </div>

    <div id="program-nav" class="w-full h-full absolute top-38 visible hidden">
        <div id="datepicker-container" class="m-auto w-4/5 md:w-3/5"></div>
    </div>

</article>
