{% import "_includes/macros.twig" as macros %}

{% set upcomingEvents = craft.entries()
                         .section('shows')
                         .specialEvent(true)
                         .showTime('>= ' ~ clone(now).modify('today').format('Y-m-d H:i:s'))
                         .orderBy('showTime asc')
                         .limit(null)
                         .all()
%}
{% set primaryColor = 'black' %}
{% set bgColor = 'yellow' %}

<section class="bg-yellow">
  <header>
      <h1 class="text-center">Special events</h1>
  </header>

  <div id="special-events" class="m-auto flex flex-wrap" role="region" aria-label="Special events">
      {% for event in upcomingEvents %}
          {% set movie = currentMoviesById[event.movieID][0] %}
          {{ include('_components/movie') }}
      {% endfor %}
  </div>

  <div id="special-events" class="container m-auto" role="region" aria-label="Special events">
      <ul class="flex flex-wrap md:m-auto md:w-5/6">
        {% for event in upcomingEvents %}
        <li class="table w-full sm:w-1/2 py-6 px-3 hover:cursor-pointer text-yellow-darker hover:text-black" data-movieid="{{ event.movieID }}" data-open="movie-popup-{{ event.movieID }}">
            <div class="table-cell w-15">
                <!--div class="h-15 flex bg-yellow text-black border-r-3 border-black font-bold text-center"-->
                <div class="h-15 flex bg-yellow-dark rounded-full font-bold text-center">
                    <time class="m-auto leading-reduced" datetime="{{event.showTime|date('Y-m-d')}}">
                        <div class="text-sm uppercase">{{ event.showTime|date('M') }}</div>
                        <div class="text-xl">{{ event.showTime|date('d') }}</div>
                    </time>
                </div>
            </div>
            {% set movie = craft.entries.section('movies').movieID( event.movieID ).one() %}
            <div class="pl-6 table-cell table-cell-middle">
                <div class="">
                    <div class="w-full text-xl font-bold leading-none uppercase">{{ movie.title }}</div>
                    {% if event.tagline %}
                    <div class="w-full text-lg leading-none font-semibold normal-case">{{ event.tagline }}</div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
      </ul>
    </div>
</section>
