    {% set backdropTransform = {
      mode: 'crop',
      width: 1200,
      quality: 25,
      position: 'center-center'
    } %}
    {% set headerPhoto = series.stills[0] %}
    {% do headerPhoto.setTransform(backdropTransform) %}

    <li class="px-6 py-2 relative">
      <img class="w-full h-full absolute top-0 object-cover desaturate" src="{{ headerPhoto.url }}" alt="Event photo" load="lazy">
      <div class="overlay bg-black opacity-75 w-full h-full absolute top-0"></div>

      <div class="w-full container mx-auto relative">
        <div class="text-xl border-b-3 border-white">
          <div class="day inline-block md:w-full">
            {{ series.startDate|date('D d.m.', locale='de') }}&mdash;{{ series.endDate|date('D d.m.', locale='de') }}
          </div>
        </div>
        <div class="w-full py-6 relative series-slider-wrapper">
          <h2 class="text-lg font-semibold">{{ series.title }}</h2>
          <div class="mb-6 text-base">{{ series.description }}</div>

            <div class="w-full pb-6 px-3 md:px-16 mx-auto">
              <div class="m-auto series-slider">
                  {% for movie in movies %}
                    {{ include('_components/movie') }}
                  {% endfor %}
              </div>
            </div>

            {# Slider controls #}
            <div class="pointer-events-none slider-controls w-full vertical-center flex flex-row items-start justify-between">
              <button class="prev ml-3 md:ml-0 p-1.5 opacity-75 pointer-events-auto">
                <img class="h-9 w-9" src="/assets/img/icons/prev-round-white.svg">
              </button>
              <button class="next mr-3 md:mr-0 p-1.5 opacity-75 pointer-events-auto">
                <img class="h-9 w-9" src="/assets/img/icons/next-round-white.svg">
              </button>
            </div>
        </div>

          </div>

        </div>
      </div>

    </li>