<section class="row expanded series text-white {{ cycle(['bg-blue', 'bg-grey'], loop.index0) }}">

  <header class="row">
    <h1>{{ series.title }}</h1>
    {% if series.startDate %}
    <div class="dates">
      <date>{{ series.startDate.format('d.m.') }}</date>{% if series.endDate %}&mdash;<date>{{ series.endDate.format('d.m.') }}</date>{% endif %}
    </div>
    {% endif %}

    <p class="description">{{ series.description|nl2br|raw }}</p>
  </header>

  <ul class="events row inline-list small-up-1 medium-up-2">
    {% set movies = craft.entries.relatedTo({
      sourceElement: series,
      field: 'movies'
    }) %}

    {% for movie in movies %}
    <li class="column small-12 medium-6 event">
      {% if movie.shows|length %}
      <div class="dateWrapper">
        <time class="date" datetime="{{movie.showTime|date('Y-m-d')}}">
          <div class="month">{{ movie.shows.first|date('M') }}</div>
          <div class="day">{{ movie.shows.first|date('d') }}</div>
        </time>
      </div>
      {# NB! JUST FOR TEST! #}
      {% else %}
      <time class="date" datetime="{{movie.showTime|date('Y-m-d')}}">
        <div class="month">{{ random(['jan', 'feb', 'mar', 'apr', 'mai', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'des']) }}</div>
        <div class="day">{{ random(30)+1 }}</div>
      </time>
      {% endif %}
      <div class="description">
        <h2 class="title">{{ movie.title }}</h2>
        <!--div class="tagline">{{ movie.tagline }}</div-->
      </div>

    </li>
    {% endfor %}
  </ul>

</section>
