{% set update = craft.entries.section('updates').one() %}
<article class="text-white w-full text-lg md:w-4/5 lg:w-1/2 xl:w-1/2 max-w-2xl px-3 py-9 md:px-0 mx-auto lg:pl-9     bulletin section">

    <div class="text-sm font-bold uppercase">{{ update.kicker }}</div>
    <h1 class="text-lg md:text-xl text-left leading-none border-b-4 border-white my-3 pb-2">{{ update.title }}</h1>
    <div class="article-body">
      {{ update.body | retconAttr('p', { class: 'text-lg' }) | retconAttr(['ul', 'ol'], { class: 'pl-1' }) | retconAttr('li', { class: 'list-disc' }) }}
    </div>

    {% set upcomingEvents = craft.entries()
                             .section('shows')
                             .specialEvent(true)
                             .showTime('>= ' ~ clone(now).modify('today').format('Y-m-d H:i:s'))
                             .orderBy('showTime asc')
                             .limit(null)
                             .all()
    %}

    <div role="region" aria-label="Special events">
        <ul>
          {% for event in upcomingEvents %}
          {% set movie = craft.entries.section('movies').movieID( event.movieID ).one() %}

          {% if movie %}
              <li class="table w-full hover:cursor-pointer text-yellow-darker hover:text-black" data-movieid="{{ event.movieID }}" data-open="movie-popup-{{ event.movieID }}">
                  <div class="table-cell w-15">
                      <!--div class="h-15 flex bg-yellow text-black border-r-3 border-black font-bold text-center"-->
                      <div class="h-15 flex font-bold text-center">
                          <time class="m-auto leading-reduced" datetime="{{event.showTime|date('Y-m-d')}}">
                              <div class="text-sm uppercase">{{ event.showTime|date('M') }}</div>
                              <div class="text-xl">{{ event.showTime|date('d') }}</div>
                          </time>
                      </div>
                  </div>
                  <div class="pl-6 table-cell table-cell-middle">
                      <div class="">
                          <div class="w-full text-xl font-bold leading-none uppercase">{{ movie.title }}</div>
                          {% if event.tagline %}
                          <div class="w-full text-lg leading-none font-semibold normal-case">{{ event.tagline }}</div>
                          {% endif %}
                      </div>
                  </div>
              </li>
          {% endif %}

          {% endfor %}
        </ul>
      </div>

</article>
