b, strong {
    font-weight: 500;
}
footer strong {
    font-weight: 700;
}

small {
    font-size: 60%;
}

.padded {
  @apply w-full px-3 md:px-8;
}

/* Alpine.js x-cloak */
[x-cloak] { display: none !important; }

.desaturate {
  filter: gray;
   filter: grayscale(100%);
   filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

/* Hack for iOS */
/* NB! Seems not to be needed, see: https://v2.tailwindcss.com/docs/upgrading-to-v2#the-scrolling-touch-and-scrolling-auto-utilities-have-been-removed */
@supports (-webkit-overflow-scrolling: touch) {
   header {
       background-attachment: scroll !important;
   }
}

.absolute-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@screen md {
  .md-vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}



.cell-before::before {
    display: block;
    content: '';
}

/** GLOBAL MENU **/
    .menu-item {
      @apply p-3 no-underline;
    }

    .menu-item:hover, .menu-item.active {
      @apply bg-white text-black;
    }

/** ARTICLE STYLES **/
    .article-body h1 {
      @apply text-4xl font-normal text-left mt-6 mb-3;
    }

    .article-body h2 {
      @apply text-xl font-normal mt-6 mb-1.5;
    }

    .article-body h3 {
      @apply text-lg font-normal mt-6 mb-1.5;
    }

    .article-body h4 {
      @apply text-base font-semibold mt-3 mb-0.75;
    }

    .article-body ul, ol {
      @apply pl-6 mb-3;
    }

    .article-body ul > li {
      @apply list-disc;
    }

    .article-body ol > li {
      @apply list-decimal;
    }

    .article-body a {
      @apply underline font-semibold;
    }

    .article-body img {
      @apply border-0 border-white;
    }

.is-dragging {
    pointer-events: none;
    }

.reveal-overlay {
    background-color: rgba(200, 200, 200, .75);
}

@screen xs {
   .program.container {
       max-width: 100% !important;
   }
}

.gallery-img {
   object-fit: cover;
}

/* Test */
/* TODO: Figure how to reference actual color scheme */
.bg-red-red-orange {
  background-image:
  radial-gradient(ellipse at bottom right,#FCC500,rgba(252,197,0,0) 30%),
  linear-gradient(90deg,#A00B17 0,#BD2A20 50%);
}

.bg-teal-teal-blue {
  background-image:
  radial-gradient(ellipse at bottom right,rgba(26, 64, 98, 1),rgba(26, 64, 98, 0) 30%),
  linear-gradient(90deg,rgba(0, 174, 239, 1) 0,rgba(128, 214, 247, 1) 50%);
}

@layer utilities {
  .h-dvh {
    height: 100vh; /* fallback for Opera, IE and etc. */
    height: 100dvh;
  }
}
