/* TODO: Review EVERYTHING and remove as much as possible */

section > header,
section > .header {
    @apply mb-6;
}

@screen sm {
    section > header,
    section > .header {
        @apply my-12;
    }
}

h1 {
    @apply leading-none font-bold text-center;
}

.section-heading {
    @apply text-2xl font-bold uppercase text-center mx-6 md:mx-16;
}

a {
    color: inherit;
    @apply font-semibold;
}

:focus {
    outline: 0 !important;
}

.lining-num {
    font-variant-numeric: lining-nums;
}

/* Program day */

/*
 * Old class, see if used anywhere else
.in-past * {
    @apply text-grey-light !important;
}
*/

.daywrapper {

    @apply container flex flex-col md:flex-row mx-auto mt-0 px-3 md:px-0 md:border-t-3;

    time.date {
        @apply w-full md:w-36;
        > h2 {
            @apply py-3 text-xl md:text-2xl font-medium border-b-3 md:border-b-0 md:border-r-3;
            .day
                { @apply inline-block md:w-18; }
            .date
                { @apply inline-block md:w-full; }
        }    
    }

    ul.show-list
        { @apply w-full; }
    li.show
        { @apply flex items-center gap-4 md:gap-6 w-full py-3 md:px-4 border-b cursor-pointer transition; }
    time.showtime
        { @apply flex-none w-12 md:w-15 my-1.5 py-1 text-sm md:text-base text-center leading-tight font-medium rounded; }
    .tagline
        { @apply text-xs whitespace-nowrap uppercase leading-none; }
    .outer-title-wrapper
        { @apply lg:flex lg:flex-row items-center; }
    .inner-title-wrapper
        { @apply pr-6 text-base md:text-lg group-hover:text-orange-dark cursor-pointer font-medium leading-tight; }
    .title
        { @apply pr-1.5 md:pr-3; }
    .alt-title
        { @apply text-base normal-case pt-0.75 font-normal; }
    .language
        { @apply font-light text-xs md:text-sm inline-block; }

    /*** In past modifications ***/
    li.show.in-past {
        .showtime
            { @apply text-opacity-40; }
        .inner-title-wrapper
            { @apply text-grey-light; }
    }

}

.daywrapper.program {
    @apply mb-9 md:mb-24 border-black text-black;

    time.date > h2 { @apply border-red; }
    ul.show-list { @apply pl-6; }
    time.showtime { @apply bg-grey-lighter text-black; }

    .tagline { @apply text-red font-semibold; }

    /*** In past modifications ***/
    li.show.in-past {
        .tagline { @apply text-grey-light; }
    }
}

.daywrapper.frontpage-header {
    @apply mb-0 border-white text-white;

    time.date > h2 { @apply border-white; }
    ul.show-list { @apply pl-0 md:pl-6; }
    time.showtime { @apply bg-grey-lighter/20 text-white; }

    .tagline { @apply text-white bg-red p-1 rounded-sm inline-block; }
    .outer-title-wrapper { @apply my-0.75 md:my-1; }

    /*** In past modifications ***/
    li.show.in-past {
        .tagline { @apply bg-grey-lighter/20 text-opacity-40; }
    }
}

/* Movie Popup Ticket List */
.ticket-list,
.ticket-featured {
    @apply mb-3;

    li {
        @apply w-full text-red-500 text-xl md:text-lg font-semibold;

        &.in-past {
            @apply text-grey hover:cursor-not-allowed;
        }
    }

}

.ticket-list li {
    @apply px-1.5 py-2 border-b border-red-500 hover:cursor-pointer;
    &:first-child { @apply border-t; }
    .desc, button { @apply hidden; }
}

.ticket-featured li {
    @apply mb-1.5 p-3 bg-beige-200 rounded;
    .footnote { @apply hidden; }
    .show-time {
        @apply flex-row justify-center md:justify-between gap-2 text-center md:text-left;
        .time { @apply items-center justify-center; }
    }
    .version { @apply text-center md:text-left; }
    svg { @apply h-5 md:h-3; }
}

/* TODO: Not used? */
.ticket-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 6px;
    overflow: hidden;
}


#mobile-menu {
  height: 0;
  transition: height 0.4s linear;
}

#mobile-menu.open {
  height: auto;
}

/* purgecss ignore */
.grid-collapsed {
    grid-auto-rows: 0;
    grid-row-gap: 0;
}

.ticket-grid button {
    @apply w-full p-0 py-1.5;
    @apply border rounded-lg;
    justify-items: center;
    align-items: center;

}

.btn {
    @apply relative;
    @apply bg-black text-white lining-num;
    font-feature-settings: "lnum";

    &:hover {
        @apply bg-teal text-black border-teal;
    }
}

.btn-disabled, .btn-disabled:hover {
    @apply bg-grey-light;
    @apply text-grey;
    @apply border-transparent;
    @apply cursor-not-allowed;
}

.btn-selected {
    @apply border;
    @apply border-red-dark;
}

.btn-more {
    @apply bg-teal;
    @apply text-black;
}

.btn-play {
    fill: rgba(255,255,255,0.6);
    @apply h-18 w-6 absolute-center;
}

.btn-play:hover {
    fill: rgba(255,255,255,1);
}

.icon-filminfo {
    fill: rgba(255,255,255,1);
    @apply inline-block h-3;
}

.ribbon {
    --f: 4px; /* control the folded part*/
    --t: 10px; /* the top offset */
    
    position: absolute;
    max-width: 90%;
    inset: auto calc(-1*var(--f)) var(--t) auto;
    padding: 0 10px var(--f) 10px;
    border-radius: 0 0.25rem 0 0;
    clip-path: 
    polygon(0 0,
            100% 0,
            100% calc(100% - var(--f)),
            calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)),
            0 calc(100% - var(--f))
    );

    @apply bg-orange-light text-black;

    font-size: 14px;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}


/* Can likely be removed (replaces by Tailwind on the element */
.sticker-flag {
    @apply h-3 rounded;
    @apply absolute top-2 right-0 -mr-0.75;
}

/*
.datepicker-slider {
    .tns-nav-active > div {
        @apply bg-grey-lightest;
        @apply text-black;
    }
}
.datepicker-controls > button {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

*/

/* Showing for screen reader, lifted from Foundation */
.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.show-on-focus:active,
.show-on-focus:focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/* TinySlider styles */
/* TODO: Move to vendor? */
/* TODO: Remove when TinySlider is out for picture galleries */
.slider-controls > button {

    &:disabled {
      @apply opacity-25;
    }
}

.slider-nav-header .tns-nav-active {
  @apply border-white;
  border-bottom: 2px solid;
}

.slider-controls-program > button {
  @apply rounded-full;
  @apply h-9;
  @apply w-9;
  @apply bg-white;
  @apply opacity-75;

  -webkit-box-shadow: 0 0 0 2px #ffed4a;
          box-shadow: 0 0 0 2px #ffed4a;

  & .button-icon {
      position: absolute;
      left: 30%;
      top: 30%;
      width: 40%;
      height: 40%;
  }
}

.dropdown-arrow {
    @apply w-6;
    @apply h-6;
    @apply m-auto;
    @apply -mb-1;
    @apply bg-white;
    border-width: 1px 1px 0 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.film-slider-nav span[aria-disabled = "true"] {
    @apply border-b-3;
    @apply border-red-dark;
    @apply cursor-default;
}
.film-slider-nav span:focus {
    @apply outline-none;
}

/*
 * Original round with yellow ring
 */
 /*
.slider-controls > button {
    @apply absolute;
    @apply rounded-full;
    @apply h-9;
    @apply w-9;
    @apply bg-white-2/3;

    -webkit-box-shadow: 0 0 0 1px #ffed4a;
            box-shadow: 0 0 0 1px #ffed4a;

    & .button-icon {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }
}
*/


/********/

h1 {
    @apply text-3xl;
}

@screen sm {
    h1 {
        @apply text-4xl;
    }
}


@screen md {
    h1 {
        @apply text-5xl;
    }
}

@screen xl {
    h1 {
        @apply text-7xl;
    }
}

.text-shadow {
    text-shadow: 0 2px 8px rgba(53, 53, 60, .72941),
                 0 0 5px rgba(51, 53, 62, .6902),
                 0 0 15px rgba(121, 125, 148, .67843);
}

.to-black {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%);
}

.blur {
    filter: blur(2px);
}

.border-box {
    box-sizing: border-box;
}

.table-cell-middle {
    vertical-align: middle;
}
