<div class="container mx-auto mt-0 mb-9 md:mb-24 p-9 bg-beige rounded-xl text-center text-red">
    <h2 class="section-heading">{{ update.startDate|date('j. F') }}–{{ update.endDate|date('j. F') }}</h2>
    <div class="text-2xl">{{ update.title }}</div>
    {{ update.description }}
</div>
