{% set bgColor = (useContext == 'frontpage-header') ? 'bg-transparent' : 'bg-white' %}
{% set textColor = (useContext == 'frontpage-header') ? 'text-white' : 'text-black' %}
{% set topBorder = (useContext == 'frontpage-header') ? 'border-white' : 'border-black' %}
{% set vBorder = (useContext == 'frontpage-header') ? 'border-white' : 'border-white' %}
{% set hBorder = (useContext == 'frontpage-header') ? 'border-white' : 'border-red' %}

{% set defaultCss = {
  'textColor' : 'text-black',
  'textDimmed' : 'text-grey-light',
  'borderColor' : 'border-black',
  'dateSeparator' : 'border-red',
  'pillBg' : 'bg-grey-lighter',
  'tagline' : 'text-red font-semibold',
  'taglinePast' : 'text-black font-semibold text-opacity-40',
  'marginBottom' : 'mb-3 md:mb-8',
  'paddingLeft' : 'pl-2',
} %}

{# TODO: Breakout the "pill" and only use "in past" modifiers #}
{% set frontpageCss = {
  'textColor' : 'text-white',
  'textDimmed' : 'text-grey-light',
  'borderColor' : 'border-white',
  'dateSeparator' : 'border-white',
  'pillBg' : 'bg-grey-lighter/20',
  'tagline' : 'text-white bg-red p-1 mb-0.75 md:mb-1.5 rounded inline-block',
  'taglinePast' : 'text-white bg-grey-lighter/20 text-opacity-40 p-1 mb-0.75 md:mb-1.5 rounded inline-block',
  'marginBottom' : 'mb-0',
  'paddingLeft' : 'pl-0 md:pl-2',
} %}

{% set css = (useContext == 'frontpage-header') ? frontpageCss : defaultCss %}
{% set type = (useContext == 'frontpage-header') ? 'frontpage-header' : 'program' %}

{% if filmsToday %}

  {# Daywrapper #}
  <div class="daywrapper {{type}}">

    {# Date #}
    <time class="date" datetime="{{today|date('c')}}">
      <h2>
        <div class="day">{{ today|date('D') }}</div>
        <div class="date">{{ today|date('d.m.') }}</div>
      </h2>
    </time>

    {# List of shows of the day #}
    <ul class="show-list">

    {% for show in shows %}
      {% if movies[show.movieID] is defined %}
        {#
        {% set success = show.setMovie(movies[show.movieID]) %}
        #}
        {% set movie = show.movie %}
      {% endif %}

      {% set inPast = show.showTime|date('YmdHi') < now|date('YmdHi') %}

      {% if show.isMovieSet() %}

        {# TODO: Make a behaviour or preparse field for display language – or add to the language elements themselves? #}
        {# TODO: Consider removing this section #}
        {% set version = show.eventIDs[0] ?? null %}
        {% set versionCode = version.versionCode.value %}
        {% set origLangs = movie.originalLanguage %}
        {% set audioLangs = version.audioLanguage|length ? version.audioLanguage : origLangs %} {# Use original if not set on version #}
        {% set subsLangs = version.subtitlesLanguage %}

        {# Set "friendly languages" initially to false #}
        {% set friendlyAudio = (audioLangs|length == 1) ? audioLangs[0].isoCode %}
        {% set friendlySubs = subsLangs|map(l => "#{l.isoCode}") %}
        {% set friendlyLangs = [] %}

        {% set diffFromToday = show.showTime|date('Ymd') - now|date('Ymd') %}
        {% set friendlydate = (diffFromToday == 0) ? 'Heute'|t : (diffFromToday == 1) ? 'Morgen'|t : show.showTime|date('l m.d.') %}
        
        {% for lang in ['de', 'en'] %}
          {% if (friendlyAudio == lang) or (lang in friendlySubs) %}
            {% set friendlyLangs = friendlyLangs|merge([lang]) %}
          {% endif %}
        {% endfor %}

        {# Show #}
        {# TODO: Check if class "group" is used anywhere (CSS or JS – perhaps language filter?) #}
        <li class="show group {{ inPast ? 'in-past' }}"
            {# Add macro here #}
            data-showid="{{ show.showID }}"
            data-movieid="{{ show.movieID }}"
            data-uri="{{ movie.uri }}"
            data-shorttitle="{{ movie.shortTitle }}"
            data-ticketurl="{{ show.ticketUrl }}"
            data-open="movie-popup-{{ show.movieID }}"
            data-friendlydate="{{ friendlydate }}"
            data-friendlytime="{{ show.showTime|date('H:i') }}"
            data-showtime="{{show.showTime|date('c')}}"
            data-friendlylangs="{{ friendlyLangs|json_encode() }}"
            data-description="{{ show.altTitle|json_encode() }}"
        >

          {# Screening time #}
          <time class="showtime" datetime="{{show.showTime|date('Y-m-d')}}">
              {{ show.showTime|date('H:i') }}
          </time>

          <div>
            {% if show.tagline %}
              <div class="tagline">{{ show.tagline }}</div>
            {% endif %}

            <div class="outer-title-wrapper">

              {# TODO: Should it be a heading? Or have some ARIA label? #}
              <div class="inner-title-wrapper">
                <span class="title">{{- show.showTitle -}}</span>
                {% if show.altTitle %}
                  <div class="alt-title">{{ show.altTitle }}</div>
                {% endif %}

                {# TODO: Make something better here. Preparse field? #}
                <div class="language">
                  {% if version %}
                    {% if versionCode == 'd' %}
                      Deutsche Fassung
                    {% elseif versionCode == 'live' %}
                      Live performance in {{ show.eventIDs[0].audioLanguage[0]|lower }}
                    {% elseif versionCode == 'xx' %}
                      Ohne Dialog / Untertiteln
                    {% else %}

                      {# Audio language #}
                      {# Consider checking language on version before movie? #}
                      {{ origLangs|join(', ') ?: audioLangs|join(', ') ?: 'Originalsprache'|t }}

                      {# TODO: Make something smarter here #}
                      {% if versionCode == 'ov' %}
                        {{ 'ohne Untertiteln'|t }}

                      {% elseif subsLangs %}

                        {% set count = subsLangs|length %}

                        {{ 'mit'|t }}

                        {% if count == 1 %}
                          {{ subsLangs[0].declName }}
                        {% elseif count > 1 %} 
                          {{ subsLangs|slice(0, -1)|map(e => "#{e.declName}")|join(', ') }}
                          {{ 'und'|t }}
                          {{ subsLangs[subsLangs|length-1].declName }}
                        {% endif %}

                        {{ 'Untertiteln'|t }}

                      {% endif %}
                    {% endif %}
                  </div>

              </div>
            </div>

          {% endif %}
          </div>

        </li>

      {% endif %}
    {% endfor %}
    </ul>

  </div>

{% else %}

  {# TODO: On frontpage, don't skip empty days, in program list (maybe) not – at least not if many days in a row(?) #}
  {# Leaving this out for now, causing bugs #}
  {#
  <div class="pl-6 w-full">
    <ul class="w-full">
      <li class="show group flex items-center w-full py-3 border-b cursor-pointer in-past">
        <div class="lg:flex lg:flex-row items-center">
          <div class="pr-6 text-lg md:text-xl {{textColor}} uppercase font-semibold leading-5">
                {{- '(Programm kommt bald)'|t -}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  #}

{% endif %}

{% macro versionString(show) %}
  {% set version = show.eventIDs[0] %}
  {% set origLangs = movie.originalLanguage %}
  {% set versionValue = version.versionCode.value %}

  {% set specialCases = ['d', 'live', 'xx', 'music'] %}
  {% if version.versionCode.value not in specialCases %}
    {% set audioLangs = origLangs|join(', ') ?: audioLangs|join(', ') ?: 'Originalsprache'|t %}
    {% set subsLangs = origLangs|join(', ') ?: audioLangs|join(', ') ?: 'Originalsprache'|t %}
    
  {% endif %}

{% endmacro %}