<!-- MENU -->
<div class="bg-black text-white text-center py-6">

  {# Main menu (hidden on mobile) #}
  <nav class="hidden md:flex  px-6 flex-row content-center">
    <a href="{{ siteUrl }}" aria-label="Homepage" class="inline-block flex-none">
      {{ svg('@webroot/assets/img/logo-ilkino-white.svg')|attr({
        class: 'm-auto sm:h-6 md:h-9 w-full',
        width: 118,
        height: 36,
      }) }}
    </a>

    {% set menu = craft.entries().section('mainMenu').with('internalLink').level(1).all() %}
    <ol class="inline-block mx-auto my-1.5 flex-auto">
      {% for menuItem in menu %}
        {% set isInternal = (menuItem.internalLink|length > 0) %}
        {% set url = isInternal ? menuItem.internalLink[0].url : menuItem.externalLink %}
        {% set isActive = url == entry.url %}
        {% if url is defined %}
          <li class="inline-block">
            <a class="menu-item {{ isActive ? 'active' }}"
               {{ not isInternal ? 'target="_blank"' }}
               href="{{ url }}">{{ menuItem.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>

    {% include '_components/_languageSwitcher' with {'type': 'desktop'} %}

    <div class="mx-auto text-center flex-none">
      <a href="https://facebook.com/ilkinoberlin" target="_blank" class="p-1.5">
        {{ svg('@webroot/assets/img/icon-facebook.svg')|attr({ class: 'inline-block h-9 w-9', alt: 'IL KINO on Facebook' }) }}
      </a>
      <a href="https://instagram.com/ilkinoberlin" target="_blank" class="p-1.5">
        {{ svg('@webroot/assets/img/icon-instagram.svg')|attr({ class: 'inline-block h-9 w-9', alt: 'IL KINO on Instagram' }) }}
      </a>
    </div>

  </nav>

  {# Mobile menu #}
  <nav class="flex flex-row px-6 place-content-between md:hidden">
    <a href="{{ siteUrl }}" aria-label="Homepage" class="">
      {{ svg('@webroot/assets/img/logo-ilkino-white.svg')|attr({
        class: 'm-auto h-6',
        width: 79,
        height: 24,
      }) }}
    </a>
    <div class="flex-none flex flex-row content-center">
      {% include '_components/_languageSwitcher' with {'type': 'mobile'} %}
      <div id="mobile-menu-toggle" class="inline-block">
        {{ svg('@webroot/assets/img/icons/menu.svg')|attr({ class: 'm-auto h-6 w-6', alt: 'Menu' }) }}
      </div>
    </div>
  </nav>

</div>

<div id="mobile-menu" class="bg-black text-white pb-6 hidden">
  <ul class="px-12 pb-0">


    {% for menuItem in menu %}
      {% set isInternal = (menuItem.internalLink|length > 0) %}
      {% set url = isInternal ? menuItem.internalLink[0].url : menuItem.externalLink %}
      {% set isActive = url == entry.url %}
      {% if url is defined %}
        <li class="py-3 border-b border-white">
          <a id="mobile-menu-toggle" class=""
             {{ not isInternal ? 'target="_blank"' }}
             href="{{ url }}">{{ menuItem.title }}</a></li>
      {% endif %}
    {% endfor %}

    <li class="mx-auto text-center flex-none mt-6">
      <a href="https://facebook.com/ilkinoberlin" target="_blank" class="p-1.5 px-3">
        {{ svg('@webroot/assets/img/icon-facebook.svg')|attr({ class: 'inline-block h-12 w-12', alt: 'IL KINO on Facebook' }) }}
      </a>
      <a href="https://instagram.com/ilkinoberlin" target="_blank" class="p-1.5 px-3">
        {{ svg('@webroot/assets/img/icon-instagram.svg')|attr({ class: 'inline-block h-12 w-12', alt: 'IL KINO on Instagram' }) }}
      </a>
    </li>

  </ul>
</div>
