{% cache if not craft.app.config.general.devMode %}
{% import "_includes/macros.twig" as macros %}

{% set colors = {
           1: 'red-500',
           2: 'green-dark',
           3: 'blue',
           4: 'black',
} %}

{% set movies = craft.program.movies %}
{% for movie in movies %}
  {% set shows = movie.shows|filter(show => show.showTime|date('Ymd') >= now|date('Ymd')) %}
  {% if shows|length > 0 %}

    {# Variables #}
    {% set headerSize = (movie.title|length > 26) ? 'text-2xl md:text-3xl' : 'text-3xl md:text-4xl' %}

    {# Header image transforms #}
    {% set image = movie.stills[0] ?? defaults.stills[1] %}

    {# The actual template #}
    <template id="movie-popup-{{ movie.movieID }}">
        <div class="film-info">
            {#
            {{ svg('@webroot/assets/icons/play-button.svg')|attr({class: 'btn-play'}) }}
            #}
            <picture>
                {% set squareStill = image.stillsSquare %}
                <source media="(max-width:575px)"
                        srcset="{{ squareStill.srcsetWebp() }}"
                        sizes="100vw"
                        type="image/webp"
                >
                <source media="(max-width:575px)"
                        srcset="{{ squareStill.srcset() }}"
                        sizes="100vw"
                >

                {% set wideStill = image.stillsWide %}
                <source media="(min-width:576px)"
                        srcset="{{ wideStill.srcsetWebp() }}"
                        sizes="75vw"
                        type="image/webp"
                >
                <source media="(min-width:576px)"
                        srcset="{{ wideStill.srcset() }}"
                        sizes="75vw"
                >

                <img class="w-full h-screen-width md:h-96 object-cover"
                    src="{{ wideStill.placeholderBox() }}"
                    width="400"
                    height="336"
                    alt="Still image for {{ movie.title }}"
                />
            </picture>

            {# TODO: Drop this, and make translatable #}
            {% set movieInfo = {
                'Genre: ' : movie.genres ?? '',
                'Prod: ' : movie.countryString ~ (movie.year ? ' ('~movie.year~')' : ''),
                'Mit: ' : movie.actors ?? '',
            } %}

            <article class="w-full md:w-9/10 px-6 pt-4 pb-12 md:pb-4 m-auto text-base">
                <header class="pt-3 pb-1.5 text-center text-red-500">
                    {% if movie.tagline %}
                        <div class="text-sm">{{ movie.tagline }}</div>
                    {% endif %}
                    <h1 class="text-2xl font-normal leading-none">
                        {{ movie.title }}
                    </h1>
                    <div class="text-base">
                        {{ 'von '|t ~ movie.director }}
                    </div>
                </header>
                <aside class="text-center text-xs mb-1.5">
                    <div class="flex flex-wrap justify-center items-center gap-x-2 font-semibold">
                        <div class="flex items-center">
                            {{ svg('@webroot/assets/icons/clock.svg')|attr({class: 'icon-filminfo pr-0.75 fill-grey'}) -}}
                            {{- movie.duration }} mins
                        </div>
                        <div class="flex items-center">
                            {{ svg('@webroot/assets/icons/audio.svg')|attr({class: 'icon-filminfo pr-0.75 fill-grey'}) -}}
                            {{- movie.audioLang }}
                        </div>
                        <ul class="inline-block flex items-center justify-center gap-1 text-xs">
                            {% for version in movie.versions %}
                                <li class="bg-white text-red-500 font-semibold rounded border border-red-500 px-0.75 py-1px">{{ version.versionCode}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mt-1.5 text-xs">
                        {% for label, info in movieInfo %}
                            {% if info %}
                                <span class="text-grey text-2xs">{{ loop.index0 > 0 ? ' / ' }}</span>
                                <span class="text-grey-dark">{{ label }}</span>
                                <span class="text-black">{{ info }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </aside>

                <div class="mt-3 md:mt-6 tet-base md:text-md">
                    {# TICKETS #}
                    {% if shows|length > 0 %}
                        <div class="w-full m-auto sm:w-2/3 md:w-2/5 md:float-right md:ml-6 pb-3 text-red-500">
                            <ul class="ticket-featured hidden"></ul>
                            <ul class="ticket-list">
                                {% set specialShowCount = 0 %}
                                {% set footnotes = [] %}
                                {# TODO: Maybe move this to the languageVersion #}
                                {% set hasMultiLang = (movie.langCodes|length > 1) ? true : false %}

                                {% for show in shows %}
                                    {# Don't show old shows TODO: Does it make sense? #}
                                    {% if show.showTime|date_modify('-3 hours') > now|date_modify('today') %}
                                        {% if show.altTitle %}
                                            {% set specialShowCount = specialShowCount + 1 %}
                                            {% set footnotes = footnotes|merge({
                                                (specialShowCount): {
                                                    'index': (specialShowCount),
                                                    'date': show.showTime|date('l d.m. H:i'),
                                                    'description': show.altTitle,
                                                }
                                            }) %}
                                        {% endif %}

                                        {{ _self.show(show, 'list', hasMultiLang, specialShowCount) }}

                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="text-center">
                                <button id="btn-more-shows"
                                        data-state="closed" data-label-more="{{ 'Alle Vorstellungen'|t }}" data-label-less="{{ 'Weniger'|t }}"
                                        class="px-3 py-0.75 text-base text-red-500 border border-red-500 bg-white shadow rounded">
                                    {{ 'Alle Vorstellungen'|t }}
                                </button>
                            </div>
                            {% for footnote in footnotes %}
                                <div class="text-xs p-2 font-bold flex align-top gap-1">
                                    <div><sup>{{ footnote.index ~ ')' }}</sup></div>
                                    <div>{{ footnote.date }} <div class="font-normal">{{ footnote.description }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <p>{{ movie.synopsis }}</p>
                </div>
            </article>
        </div>

        <div class="ticket-frame hidden h-full" id="kinoheld-panel-{{ movie.movieID }}">
            <header class=" text-red-500 bg-white px-6 py-3">
                <h1 class="pt-3 text-center text-2xl font-normal leading-tight">
                    {% if movie.tagline %}
                        <div class="text-sm">{{ movie.tagline }}</div>
                    {% endif %}
                    {{ movie.title }}
                </h1>
                <div class="showtime flex justify-center items-center gap-2 m-auto">
                    <div class="date"></div>
                    {{ svg('@webroot/assets/icons/clock.svg')|attr({class: 'h-1.5 fill-red-500' }) -}}
                    <div class="time"></div>
                </div>

                <div class="text-center">
                    <button class="btn-ticket-back mt-3 px-1 py-0.75 text-sm text-red-500 border border-red-500 bg-white shadow rounded" data-movieid="{{ movie.movieID }}">
                        <div class="text-base">{{ 'Mehrere Vorstellungen'|t }}</div>
                    </button>
                </div>

                <button type="button" class="btn-ticket-back tingle-modal__back fixed bottom-3 left-3 md:hidden">
                    <span class="tingle-modal__backIcon">
                        {{ svg('@webroot/assets/icons/back.svg')|attr({class: 'w-8 h-8 fill-white' }) -}}
                    </span>
                </button>
            </header>

            <div id="kinoheld-eframe" class="px-3 md:px-6 pb-12 md:pb-6"></div>
        </div>
    </template>

  {% endif %}

{% endfor %}


{% macro show(show, type = 'list', hasMultiLang = false, specialShowCount) %}

    {# Tickets available unntil 30 mins after showstart (for online sales) #}
    {% set inPast = (show.showTime|date('YmdHi') < now|date('YmdHi')) %}
    {% set daysFromToday = (show.showTime|date('Ymd') - now|date('Ymd')) %}
    {% set day = (daysFromToday == 0) ? 'Heute'|t : (daysFromToday == 1) ? 'Morgen'|t : show.showTime|date('l d.m.') %}

    <li id="ticketbutton-{{ show.showID }}"
        class="{{ type }} {{ inPast ? 'in-past' }}"
        datetime="{{ show.showTime.format('c') }}"
        data-movieid="{{ show.movieID }}"
        data-showid="{{ show.showID }}"
        data-ticketurl="{{ show.ticketUrl }}"
        data-displaydate="{{ {'date': day, 'time': show.showTime|date('H:i')}|json_encode() }}"
    >

        <div class="show-time flex justify-between">
            <div class="day">
                {{ day }} {% if show.altTitle %}<sup class="footnote">{{ specialShowCount ~ ')' }}</sup>{% endif %}
            </div>
            <div class="time flex items-center lining-num">
                {{ show.showTime|date('H:i') }}
            </div>
        </div>

        <div class="version text-sm font-normal">
            {% if show.eventIDs[0].versionCode.value == 'd' %}
                {{ 'Deutsche Fassung'|t }}
            {% else %}
                {{ show.subtitlesLanguage|map(e => "#{e.declName}")|join(' + ')|title }} {{'U.t.'|t}}
            {% endif %}
        </div>

        {% if show.altTitle %}
            <div class="desc py-1.5 text-sm md:text-xs text-black font-normal leading-tight">
                {{ show.altTitle }}
            </div>
        {% endif %}

        <button id="btn-selected-show"
                datetime="{{ show.showTime.format('c') }}"
                data-movieid="{{ show.movieID }}"
                data-showid="{{ show.showID }}"
                data-ticketurl="{{ show.ticketUrl }}"
                data-displaydate="{{ {'date': day, 'time': show.showTime|date('H:i')}|json_encode() }}"
                {{ inPast ? 'disabled' }}
                class="block grow-0 w-1/2 md:w-full m-auto mt-1.5 md:mt-3 mb-1.5 px-3 py-1 md:py-1.5 text-lg md:text-base font-normal bg-red-500 disabled:bg-grey disabled:cursor-not-allowed text-white rounded shadow">
            Tickets
        </button>

    </li>
{% endmacro %}

{% endcache %}