{% set movieID = movie.movieID %}
{% set title = movie.title %}
{% set uri = movie.uri %}
{% set shortTitle = movie.shortTitle %}
{% set tagline = movie.tagline %}
{% set altTitle = movie.altTitle %}
{% set langCode = movie.langCode %}
{% set image = movie.stills[0] ?? defaults.stills[0] %}
{% set stillSquare = image.stillsSquare %}
{% set startingDate = movie.startingDate ?? null %}
{% set nextScreening = movie.nextScreening ?? null %}

{#
{% set stickerText = movie.shows|length > 1 ? 'ab'|t : 'Sondervorstellung'|t %}
#}
{% set stickerText = movie.shows|length > 1 ? 'ab'|t : ''|t %}

{% set showUpcomingNum = 3 %}
{% set allUpcoming = movie.shows|filter(show => show.showTime|date('YmdHi') >= now|date('YmdHi')) %}
{% set upcoming = allUpcoming|slice(0, showUpcomingNum) %}

{% set isCurrent = (group == 'current') %}
{% set isUpcoming = (group == 'upcoming') %}
{% set isSeries = (group == 'series') %}

{% if upcoming|length > 0 %}
    {% set listItemCss = (isCurrent or isUpcoming)
                       ? ''
                       : 'w-full md:w-60 px-6 md:px-0'
    %}
    <div class="{{ listItemCss }}">
        {% if image %}
            {# Piecing together RGBA CSS for overlay background #}
            {% set first = stillSquare.colorPaletteRgb[0] ?? {'r':0,'g':0,'b':0} %}
            {% set second = stillSquare.colorPaletteRgb[1] ?? {'r':0,'g':0,'b':0} %}
            {% set firstRgba = first.r ~ ',' ~ first.g ~ ',' ~ first.b  ~ ', 0.8' %}
            {% set secondRgba = second.r ~ ',' ~ second.g ~ ',' ~ second.b  ~ ', 0.8' %}

            {# Maybe simplify a bit the data sent here (also in moviepopup.js then) #}
            <div class="relative cursor-pointer rounded-lg shadow-lg"
                 data-movieid="{{ movieID }}"
                 data-uri="{{ uri }}"
                 data-shorttitle="{{ shortTitle }}"
                 data-open="movie-popup-{{ movieID }}"
                 data-bg-from="rgba({{ firstRgba }})"
                 data-bg-to="rgba({{ secondRgba }})">

                {% if tagline and (isCurrent or isUpcoming) %}
                    {# Test #}
                    {#
                    <div class="z-10 leading-none absolute bottom-0 m-auto w-full bg-white-2/3 text-black rounded-bl rounded-br shadow">
                        <span class="inline-block px-3 py-1.5 font-semibold leading-none text-xs">
                            {{ tagline }}
                        </span>
                    </div>
                    #}
                    <div class="ribbon leading-tight text-lg md:text-base">{{ tagline }}</div>

                {% endif %}

                {# Startdate sticker #}
                {% if startingDate is defined and startingDate|date('Ymd') > now|date('Ymd') %}
                    <div class="z-10 absolute top-0 right-0 m-auto bg-white text-black rounded-tr rounded-bl shadow opacity-50">
                        <span class="inline-block px-3 py-1.5 font-bold leading-none text-sm md:text-xs">
                            {{ stickerText }} {{ startingDate|date('d.m.') }}
                        </span>
                    </div>
                {% endif %}

                {# This accounts for this week, but not upcoming (but might redesign them anyways) #}
                <picture>
                    <source srcset="{{ stillSquare.srcsetWebp() }}"
                            sizes="(max-width: 767px) {{(group == 'current') ? '21rem' : '18rem' }},
                                   (max-width: 1599px) {{(group == 'current') ? '15rem' : '12rem' }},
                                   {{(group == 'current') ? '18rem' : '15rem' }}
                                   "
                            type="image/webp"
                    >
                    <source srcset="{{ stillSquare.srcset() }}"
                            sizes="(max-width: 767px) {{(group == 'current') ? '21rem' : '18rem' }},
                                   (max-width: 1599px) {{(group == 'current') ? '15rem' : '12rem' }},
                                   {{(group == 'current') ? '18rem' : '15rem' }}
                                   "
                    >

                    <img class="w-full h-auto object-cover rounded-lg shadow-lg"
                            src="{{ stillSquare.placeholderBox() }}"
                            width="240"
                            height="240"
                            load="lazy"
                            alt="Still image from the film {{ title }}"
                    >
                </picture>

            </div>

        {% endif %}

        {# Title #}
        <div class="py-3 {{ (isCurrent or isSeries)
                                            ? 'text-xl md:text-lg 2xl:text-xl'
                                            : 'text-lg md:text-base 2xl:text-lg' }}"
        >
            <h3 class="cursor-pointer leading-tighter"
                data-movieid="{{ movieID }}"
                data-uri="{{ uri }}"
                data-open="movie-popup-{{ movieID }}"
                data-bg-from="rgba({{ firstRgba }})"
                data-bg-to="rgba({{ secondRgba }})"
            >
                {{ title }}
            </h3>
            {% if (isCurrent or isSeries) %}
                {{ _self.upcomingShows(upcoming, movieID, uri, firstRgba, secondRgba) }}
            {% endif %}

            {# Subtitle #}
            {% if group == 'upcoming' %}
                <div class="text-white text-xs opacity-75">
                    {{ altTitle }} 
                </div>
            {% endif %}
        </div> 


    </div>
{% endif %}

{% macro upcomingShows(shows, movieID, uri, firstRgba, secondRgba) %}
    <ul class="leading-none">
        {% for show in shows %}
            <li class="cursor-pointer inline-block text-white text-base md:text-sm 2xl:text-base leading-none"
                data-showid="{{ show.showID }}"
                data-movieid="{{ movieID }}"
                data-open="movie-popup-{{ movieID }}"
                data-uri="{{ uri }}"
                data-showtime="{{show.showTime|date('c')}}"
                data-bg-from="rgba({{ firstRgba }})"
                data-bg-to="rgba({{ secondRgba }})"
                data-ticketurl="{{ show.ticketUrl }}"
                data-friendlydate="{{ show.showTime|date('l d.m. H:i') }}"
                data-description="{{ show.altTitle|json_encode() }}"
            >

                {# If today #}
                {% if show.showTime|date('d.m.') == now|date('d.m.') %}
                    {% set day = 'Heute'|t %}
                {# If tomorrow #}
                {% elseif show.showTime|date('d.m.') == now|date_modify('+1 day')|date('d.m.') %}
                    {% set day = 'Morgen'|t %}
                {# If within a week #}
                {% elseif show.showTime|date('c') < now|date_modify('+1 week')|date('c') %}
                    {% set day = show.showTime|date('l') %}
                {# If later #}
                {% else %}
                    {% set day = show.showTime|date('D') ~ ' ' ~ show.showTime|date('d. F') %}
                {% endif %}

                <div class="inline-block whitespace-nowrap opacity-75 hover:underline">
                    {{ day }} {{ show.showTime|date('H:i') }}

                    {% if not loop.last %}
                        <span class="inline-block opacity-50 text-xs">/</span>
                    {% endif %}
                </div>

            </li>
        {% endfor %}
        </ul>
{% endmacro %}