{% extends "_layouts/generic-page-layout.twig" %}
{% set upComingShowsByDate = craft.program.getUpcomingShowsByDate(7) %}
{% set movies = craft.program.movies %}
{% set useContext = 'frontpage-header' %}
{% set display = 'frontpage-header' %}

{% block headCss %}
.embla {
  overflow: hidden;
}
.embla__container {
/*
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%; /* Each slide covers 80% of the viewport */
*/
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
{% endblock headCss %}

{% block headLinks %}
{% endblock headLinks %}


{% block headJs %}
  {{ craft.vite.script("src/js/app.js") }}
{% endblock headJs %}

{% block content %}
    <main class="slidertest container bg-grey-lighter px-12">

        <h1>Grid to use in Embla</h1>

        {% set movies = craft.program.movies %}
        {% set chunks = movies.chunk(8) %}
        {% set group = 'current' %}
        <section id="" class="embla">
            {% for chunk in chunks %}
                <div class="embla__container grid grid-rows-2 gap-4 mb-12 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-red rounded-lg">
                    {% for movie in chunk %}
                        <div class="embla__slide p-12 rounded-lg shadow-lg bg-red-500">{{ loop.index }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>

        {% set group = 'current' %}
        <section id="grid-test" class="embla">
          <div class="embla__viewport">
            <div class="embla__container grid grid-rows-1 md:grid-rows-2 gap-4 mx-12">
                {% for movie in movies %}
                    <div class="w-full md:w-60 {{ (loop.index % 2 != 0) ? 'embla__slide' : '' }}">
                      {{ include('_components/movie') }}
                    </div>
                {% endfor %}
            </div>
          </div>
          <div class="text-white text-center flex gap-2 justify-center">
              <button class="embla__prev text-black">Prev</button>
              <button class="embla__next text-black">Next</button>
          </div>
        </section>

    </main>
{% endblock %}