{% extends "_layouts/generic-page-layout.twig" %}
{% set upComingShowsByDate = craft.program.getUpcomingShowsByDate(7) %}
{% set movies = craft.program.movies %}
{% set useContext = 'frontpage-header' %}
{% set display = 'frontpage-header' %}

{% block headCss %}
    /* Generic */
    .slidertest h1 { margin: 2rem 0; }

    .slidertest section h1 {
        font-size: 3rem;
    }

    .slidertest section {
        margin-bottom: 2rem;
    }

    /* Keen */
    #keen-slider .daywrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .embla {
        overflow: hidden;
    }
    .embla__container {
        /*
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 80%; /* Each slide covers 80% of the viewport */
        */
    }
    .embla__slide {
        flex: 0 0 100%;
        min-width: 0;
    }
{% endblock headCss %}

{% block headLinks %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
{% endblock headLinks %}

{% block headJs %}
    <!-- KEEN -->
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>
    <!-- SWIPER -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock headJs %}

{% block content %}
    <main class="slidertest container bg-grey-lighter px-12">

        <h1>Slider comparisons</h1>

        <section class="bg-grey-darker">
            <h1>Embla</h1>
            <div id="embla-program-slider" class="embla bg-black" aria-labelledby="frontpage-program-label">
                <ul class="embla__dots m-0 pb-3 md:pb-9 flex align-center flex-wrap justify-center" role="tablist" aria-label="Select day">
                </ul>
                <div class="embla__viewport">
                    <div class="embla__container">
                        {% for offset in 0..6 %}
                            {% set today = clone(now)|date_modify('+'~offset~' days')|date('Y-m-d') %}
                            {% if today|date('Y-m-d') in upComingShowsByDate|keys %}
                                {% set filmsToday = true %}
                                {% set shows = upComingShowsByDate[today] %}
                            {% else %}
                                {% set filmsToday = false %}
                            {% endif %}
                            <div class="embla__slide px-3 md:px-0" data-paginationtext="{{ today|date('D') }}" data-ariapaginationtext="{{ today|date('l') }}">
                                {{ include('_components/program/_programday') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-white text-center flex gap-2 justify-center">
                    <button class="embla__prev">Prev</button>
                    <button class="embla__next">Next</button>
                </div>
            </div>
        </section>
    
        {% set movies = craft.program.movies %}
        {% set group = 'grid' %}
        <section class="bg-grey-darker">
            <h1>Embla Movies</h1>
            <div id="embla-movie-slider" class="embla bg-red-500" aria-labelledby="frontpage-program-label">
                <div class="embla__viewport">
                    <div class="embla__container grid grid-rows-2 grid-cols-4 gap-6">
                        {% for movie in movies %}
                            <div class="{{ (loop.index % 2 != 0) ? 'embla__slide' : '' }}">
                                {{ include('_components/movie') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-white text-center flex gap-2 justify-center">
                    <button class="embla__prev">Prev</button>
                    <button class="embla__next">Next</button>
                </div>
            </div>
        </section>
    
        <section class="bg-grey-darker">
            <h1>Swiper</h1>
            <div id="" class="swiper bg-red-500" aria-labelledby="frontpage-program-label">
                <div class="swiper-wrapper container">
                    {% for movie in movies %}
                        <div class="swiper__slide">
                            {{ include('_components/movie') }}
                        </div>
                    {% endfor %}
                </div>
                <div class="text-white text-center flex gap-2 justify-center">
                    <button class="swiper-button-next">Prev</button>
                    <button class="swiper-button-prev">Next</button>
                </div>
            </div>
            <script>
            const swiper = new Swiper('.swiper', {
                /*
                // Optional parameters
                direction: 'vertical',
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                },
                */

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                slidesPerView: 4,

                grid: {
                    rows: 1,
                    fill: 'row',
                },

                /*
                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar',
                },
                */
                });
            </script>
        </section>
    
        <section>
            <h1>Keen</h1>
            <div id="keen-slider" class="keen-slider bg-black" aria-labelledby="frontpage-program-label">
                {% for offset in 0..6 %}
                    {% set today = clone(now)|date_modify('+'~offset~' days')|date('Y-m-d') %}
                    {% if today|date('Y-m-d') in upComingShowsByDate|keys %}
                        {% set filmsToday = true %}
                        {% set shows = upComingShowsByDate[today] %}
                    {% else %}
                        {% set filmsToday = false %}
                    {% endif %}
                    <div class="keen-slider__slide number-slide{{offset+1}} px-3 md:px-0" data-paginationtext="{{ today|date('D') }}" data-ariapaginationtext="{{ today|date('l') }}">
                        {{ include('_components/program/_programday') }}
                    </div>
                {% endfor %}
                <div class="text-white text-center flex gap-2 justify-center">
                    <button class="embla__prev">Prev</button>
                    <button class="embla__next">Next</button>
                </div>
                <!--ul class="splide__pagination pb-3 md:pb-9"></ul-->
            </div>
            <script type="text/javascript">
                var slider = new KeenSlider(
                    '#keen-slider',
                    {
                        loop: false,
                        created: () => {
                        console.log('created')
                        },
                    },
                    [
                        // add plugins here
                    ]
                )

            </script>
        </section>
    
    </main>
{% endblock %}