{% extends "_layouts/generic-page-layout.twig" %}
{% set upComingShowsByDate = craft.program.getUpcomingShowsByDate(7) %}
{% set movies = craft.program.movies %}
{% set useContext = 'frontpage-header' %}
{% set display = 'frontpage-header' %}

{% block headCss %}
    /* Generic */
    .slidertest h1 { margin: 2rem 0; }

    .slidertest section h1 {
        font-size: 3rem;
    }

    .slidertest section {
        margin-bottom: 2rem;
    }
{% endblock headCss %}

{% block headLinks %}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
{% endblock headLinks %}

{% block headJs %}
    <!-- SWIPER -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock headJs %}

{% block content %}
    <main class="slidertest container bg-grey-lighter px-12">

        <h1>Slider comparisons</h1>

    
        {% set movies = craft.program.movies %}
        {% set chunks = movies.chunk(12) %}

        {% set group = 'current' %}
        <section id="swiper1" class="swiper">
            {#
            <div class="swiper-wrapper grid-rows-2 gap-4 mb-12 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-red rounded-lg">
            #}
            <div class="swiper-wrapper mb-12 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-red rounded-lg">
                {% for movie in chunks[0] %}
                    <div class="swiper-slide p-12 rounded-lg shadow-lg bg-red-500">{{ loop.index }}</div>
                {% endfor %}
            </div>
            <script>
                const swiper1 = new Swiper('#swiper1', {
                    /*
                    // Optional parameters
                    direction: 'vertical',
                    loop: true,

                    // If we need pagination
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    */

                    // Navigation arrows
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },

                    slidesPerView: 4,

                    grid: {
                        rows: 2,
                        fill: 'row',
                    },

                    /*
                    // And if we need scrollbar
                    scrollbar: {
                        el: '.swiper-scrollbar',
                    },
                    */
                    });
            </script>

        </section>
    
        {% set group = 'current' %}
        <section class="bg-grey-darker">
            <h1>Swiper</h1>
            <div id="swiper2" class="swiper bg-red-500" aria-labelledby="frontpage-program-label">
                <div class="swiper-wrapper">
                    {% for movie in movies %}
                        <div class="swiper-slide">
                            {{ include('_components/movie') }}
                        </div>
                    {% endfor %}
                </div>
                <div class="text-white text-center flex gap-2 justify-center">
                    <button class="swiper-button-next">Prev</button>
                    <button class="swiper-button-prev">Next</button>
                </div>
            </div>
            <script>
            const swiper2 = new Swiper('#swiper2', {
                /*
                // Optional parameters
                direction: 'vertical',
                loop: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                },
                */

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                spaceBetween: 24,
                freeMode: true,

                slidesPerView: 5.4,
                centeredSlides: true,
                centeredSlidesBounds: true,
                slidesPerGroup: 2,
                grid: {
                    rows: 2,
                    fill: 'row',
                },

                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar',
                },
                });
            </script>
        </section>
    </main>
{% endblock %}