<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ currentSite.group.name }}</title>
  <meta name="description" content="Independent cinema, bar and bistro in Neukölln, Berlin">

  <meta property="og:title" content="IL KINO Berlin">
  <meta property="og:description" content="Independent cinema, bar and bistro in Neukölln, Berlin">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ alias('@baseUrl') }}">
  <meta property="og:image" content="https://ilkino.de/assets/img/og-image.jpg">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <link rel="prefetch" href="{{ currentSite.baseUrl }}movie-program">

  {# Preloading fonts (latin + latin-ext) #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2"
        rel="preload" crossorigin as="font" type="font/woff2">
  <link href="https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2"
        rel="preload" crossorigin as="font" type="font/woff2">

  <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#000">

{% cache if not craft.app.config.general.devMode %}
  {% if entry is defined and entry.url == siteUrl %}
    {% set still = craft.program.nextShowStill %}
    {% set still = (still is defined and not null) ? still : defaults.stills[3].stillsSquare %}

    <link rel="preload" as="image"
          imagesrcset="{{ still.stillsSquare.srcsetWebp() }}"
          imagesizes="100vw"
          type="image/webp"/>

    <link rel="preload" as="image"
          imagesrcset="{{ still.stillsWide.srcsetWebp() }}"
          imagesizes="100vw"
          type="image/webp"/>
  {% endif %}
{% endcache %}


  {# TODO: Why is this a block again? #}
  {% block head %}
    {% if not craft.app.config.general.devMode %}
      {{ craft.vite.includeCriticalCssTags() }}
    {% endif %}

    {# Setting variables used for popups and navigation #}
    {# TODO:Rewrite template structure à la Andrew #}
    {% if entry is defined %}
      {% js at head %}
        {% if entry.type.handle == 'movie' %}
          var movie = {
            'movieId': {{ entry.movieID }},
            'uri': '{{ entry.uri }}',
          };
          var siteUrl = pageUrl = '{{ siteUrl }}';
        {% else %}
          var movie = null;
          var siteUrl = '{{ siteUrl }}';
          var pageUrl = '{{ entry.url }}';
        {% endif %}
      {% endjs %}
    {% endif %}
  {% endblock %}

  <link rel="home" href="{{ siteUrl }}" />
  {{ craft.vite.script("src/js/app.js") }}

</head>
<body class="font-sans">
  {{ include('_components/_mainmenu') }}

{% block includes %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}

  {% cache globally using key "page-footer" if not craft.app.config.general.devMode %}
    {{ include('global/_footer.html') }}
  {% endcache %}
{% endblock %}

 <!-- TEST TODO: Will this be used? (Likely for loading ticket iFrame ...) -->
<div class="spinner"></div>

{% block extraHtml %}
{% endblock %}

{% block inlinescript %}
{% endblock %}

</body>
</html>
