<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ currentSite.group.name }}</title>
  <meta name="description" content="Independent cinema, bar and bistro in Neukölln, Berlin" />

  <meta property="og:title" content="IL KINO Berlin" />
  <meta property="og:description" content="Independent cinema, bar and bistro in Neukölln, Berlin" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ alias('@baseUrl') }}" />
  <meta property="og:image" content="{{ alias('@baseUrl') }}/assets/img/fb-image.jpg" />

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {{ craft.vite.script("src/js/app.js") }}

  <link rel="home" href="{{ siteUrl }}" />
</head>
<body class="font-sans">

{% block includes %}
{% endblock %}

{% block header %}
{% endblock %}

  <main role="main">
    {% block content %}
    {% endblock %}
  </main>

{% block extraHtml %}
{% endblock %}

{% block inlinescript %}
{% endblock %}

</body>
</html>
