{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
  {% cache if not craft.app.config.general.devMode %}
    {% set still = craft.program.nextShowStill %}
    {% set still = (still is defined and not null) ? still : defaults.stills[3].stillsSquare %}

    <link rel="preconnect" href="https://ilkino.imgix.net">
    <link rel="preload" as="image"
          fetchpriority="high"
          imagesrcset="{{ still.stillsSquare.srcsetWebp() }}"
          imagesizes="100vw"
          type="image/webp"/>

    <link rel="preload" as="image"
          fetchpriority="high"
          imagesrcset="{{ still.stillsWide.srcsetWebp() }}"
          imagesizes="100vw"
          type="image/webp"/>
  {% endcache %}
{% endblock %}

{% block headJs %}
  {{ include('_partials/head-siteurl') }}
{% endblock %}

{% block header %}
  {# TODO: Maybe change and cache menu globally (check if that affects highlighting active page) #}
  {% cache if not craft.app.config.general.devMode %}
    {{ include('_partials/header-image') }}
  {% endcache %}
{% endblock %}

{% block content %}
  {% cache if not craft.app.config.general.devMode %}

    <main class="relative">

      {{ include('_partials/frontpage-program') }}
      {{ include('_partials/frontpage-teaser') }}
      {{ include('_partials/cineville') }}
      {{ include('_partials/events') }}
      {{ include('_partials/movies') }}
      {{ include('_partials/newsletter') }}

    </main>

    {{ sprig('_partials/movie-popups') }}
  {% endcache %}
{% endblock %}

{% block footer %}
  {% cache globally if not craft.app.config.general.devMode %}
    {{ include('_partials/global-footer') }}
  {% endcache %}
{% endblock %}
