{% extends "_layoutProgram" %}

{% block header %}
  {% cache using key "header" if not craft.app.config.general.devMode %}
    {{ include('frontpage/_header') }}
    {# SWIPER: Work in progress #}
    {#
    {{ include('frontpage/_header2') }}
    #}
  {% endcache %}
{% endblock %}

{% block content %}

  {{ include('frontpage/_teaser') }}


  {% cache using key "frontpage-movies" if not craft.app.config.general.devMode %}
    {{ include('frontpage/_movies') }}
    {# SWIPER: Work in progress #}
    {#
    {{ include('frontpage/_movies2') }}
    #}
  {% endcache %}

  {# TEST #}
  {% cache using key "frontpage-events" if not craft.app.config.general.devMode %}
    {# set currentSeries = craft.entries.section('series').endDate.('>= ' ~ now) #}
    {% set currentSeries = craft.entries.section('series')
                              .endDate('>= ' ~ clone(now).modify('today').format('Y-m-d H:i:s'))
                              .orderBy('startDate')
                              .with(['movies'])
                              .limit(null)
                              .all() %}

    {% if currentSeries|length > 0 %}
      <section id="series" class="bg-teal-teal-blue text-black py-0 my-0">
        <h2 class="section-heading pt-9 pb-12">
          Events
        </h2>

        {% for series in currentSeries %}
          <div class="container flex flex-col md:flex-row gap-6 mx-auto px-3 md:!px-0 pb-6 md:border-t-3 border-red">
           
            {# Dates #}
            <div class="w-full md:!w-36">
              <h2 class="md:pl-0 text-2xl border-b-3 md:border-b-0 md:border-r-3 border-red">
                <div class="date inline-block md:w-full">
                  {{ series.startDate|date('d.m.') }}
                </div>
                {% if series.startDate|date('d.m.') != series.endDate|date('d.m.') %}
                  <div class="date inline-block md:w-full">
                    – {{ series.endDate|date('d.m.') }}
                  </div>
                {% endif %}
              </h2>
            </div>

            {# Content wrapper #}
            <div class="flex flex-col-reverse md:flex-row gap-6 pb-6 md:py-6 w-full">

              {# Description #}
              <div class="flex-1 w-full md:w-1/2">
                <h3 class="mb-3 text-xl md:text-2xl uppercase font-regular leading-tight">
                  {{- series.title -}}
                </h3>
                <div class="text-base md:text-lg font-light">
                  {{ series.ingress }}
                </div>
                <div class="mt-6 text-center md:text-left">
                  <a href="{{series.url}}" class="button rounded cursor-pointer text-lg px-3 py-1.5 bg-black hover:bg-grey-darker text-white">
                    {{'Mehr zum Event'|t}}
                  </a>
                </div>
              </div>

              {# Image #}
              {% set image = series.image.one() %}
              {% if image %}
              <div class="flex-1 w-full md:w-1/2">

                {% set imageOptimized = image.articlePhoto %}
                <a href="{{series.url}}">
                  <picture>
                      <source srcset="{{ imageOptimized.srcsetWebp() }}"
                              sizes="(max-width: 575px) calc(100vw - 1.5rem),
                                    (max-width: 767px) calc(576px - 1.5rem),
                                    (max-width: 1023px) calc((768px - 168px) / 2),
                                    (max-width: 1199px) calc((1024px - 168px) / 2),
                                    (max-width: 1599px) calc((1200px - 168px) / 2),
                                    calc((1600px - 168px) / 2),
                                    "
                              type="image/webp"
                      >
                      <source srcset="{{ imageOptimized.srcset() }}"
                              sizes="(max-width: 575px) calc(100vw - 1.5rem),
                                    (max-width: 767px) calc(576px - 1.5rem),
                                    (max-width: 1023px) calc((768px - 168px) / 2),
                                    (max-width: 1199px) calc((1024px - 168px) / 2),
                                    (max-width: 1599px) calc((1200px - 168px) / 2),
                                    calc((1600px - 168px) / 2),
                                    "
                      >

                      <img class="w-full h-auto object-cover rounded-lg shadow-lg"
                              src="{{ imageOptimized.placeholderBox() }}"
                              width="600"
                              height="350"
                              load="lazy"
                              alt="Poster for the series {{ series.title }}"
                      >
                  </picture>
                </a>
              </div>
              {% endif %}
            </div>
          </div>

          {# Film list, festival style #}
          <div class="container mx-auto text-center text-lg md:text-lg px-12 md:px8 pb-12">
            <h3 class="text-lg md:text-xl font-bold">{{ 'Filme'|t }}</h3>
            {% for movie in series.movies %}
              <span class="cursor-pointer hover:underline"
                    data-movieid="{{ movie.movieID }}"
                    data-uri="{{ movie.uri }}"
                    data-open="movie-popup-{{ movie.movieID }}">

                    {{ movie.title }}
              </span>
              {% if not loop.index == 0 %}
                <span class="opacity-20">/</span>
              {% endif %}
            {% endfor %}
          </div>

        {% endfor %}

      </section>
    {% endif %}
  {% endcache %}
  {# END TEST #}

   {% include('frontpage/_newsletter') %}

  {# TODO: Move this out of the index template #}
  {% cache globally using key "movie-popups" if not craft.app.config.general.devMode %}
    {{ sprig('_components/loadPopus') }}
  {% endcache %}

{% endblock %}
