/**
 * vendor.css
 *
 * All vendor CSS is imported here.
 *
 */

/* Pikaday (Datepicker) */
@import '../../node_modules/pikaday/css/pikaday.css';

/* Tiny Slider (Carousels) */
@import '../../node_modules/tiny-slider/dist/tiny-slider.css';

/* Splide (Carousels) */
@import '../../node_modules/@splidejs/splide/dist/css/splide-core.min.css';

/* Tingle (Popups) */
@import 'vendors/tingle.pcss';

/*****************************************
 *  VENDOR OVERRIDES
 *****************************************/

/*****************************************
 *  Pikaday overrides
 *****************************************/

.pika-single {
    @apply bg-white text-black rounded border border-grey-lighter;
    font-family: inherit;
}

.pika-lendar {
    @apply w-full mx-0 px-3;
}

/* TO FIX: */
.pika-label {
    @apply bg-white py-1.5 px-1 text-base leading-tight;
}

.pika-table th {
    @apply text-grey text-sm leading-loose;
}

/* Actual day */
.pika-button {
    @apply p-1.5 text-center text-base leading-tight text-black font-semibold bg-white;
    font-variant-numeric: ordinal;
    /* font-variant-numeric: lining-nums; */
}

.pika-week {
    @apply text-sm text-grey;
}

.is-today .pika-button {
    @apply text-blue;
}

.is-selected .pika-button,
.has-event .pika-button {
    @apply text-black bg-yellow-dark shadow rounded;
}

.has-event .pika-button {
    @apply bg-yellow shadow;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
    @apply bg-beige;
}

.is-disabled .pika-button {
    @apply text-grey opacity-25;
}


.is-outside-current-month .pika-button {
    @apply text-grey opacity-25;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    @apply text-black bg-yellow rounded;
}

/* styling for abbr */
.pika-table abbr {
    @apply no-underline cursor-default;
}


/*****************************************
 *  TinySlider overrides
 *****************************************/

.tns-item, tns-item img {
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

/*****************************************
 *  Splide overrides
 *****************************************/

/* Resetting Splide styles when destroying carousel */ 
.splide.splide-reset {
    & .splide__track {
        @apply px-6;
        @apply m-auto;
    }

    & .splide__list {
        @apply !flex;
        @apply flex-wrap;
        @apply gap-6;
        @apply justify-center;
    }

    & .splide__arrows {
        @apply hidden;
    }
}

/* Make this generic to have normal "dots" for movies */

#header-program-slider .splide__pagination li,
.embla-pagination li {
    @apply h-12 w-12;
    @apply p-1.5;
    @apply text-center;

    button {
        @apply w-full h-full;
    }
}

#header-program-slider .splide__pagination__page:not(.is-active),
.embla-pagination button:not(.is-active) {
    @apply border-transparent;
    @apply box-content;
}

#header-program-slider .splide__pagination__page.is-active,
.embla-pagination button.is-active {
    @apply bg-white;
    @apply text-black;
    @apply box-content;
    @apply rounded-full;
}

/* Testing tap targets, commenting out for now
// This we must anyway keep if going the old way:
#header-program-slider .splide__pagination li:not(:first-child) .splide__pagination__page {
    @apply ml-3;
}

#header-program-slider .splide__pagination__page:not(.is-active) {
    border-bottom: 2px solid;
    @apply border-transparent;
    @apply box-content;
}

#header-program-slider .splide__pagination__page.is-active {
    border-bottom: 2px solid;
    @apply border-white;
    @apply box-content;
}
*/

#header-program-slider .splide__arrows > button:disabled {
    @apply opacity-25;
}

.splide__list {
    transition: height .2s;
}
  
.splide__track {
    @apply py-0.75;
}

/*****************************************
 *  Slider carousel
 *****************************************/

#swiper-header-pagination {
    li.slider_bullet {
        @apply cursor-pointer;
        @apply h-12 w-12;
        @apply p-1.5;

        button {
            @apply inline-block size-full rounded-full;
            @apply text-white text-sm font-bold uppercase text-center;
        }
    }
    li.slider_bullet-active > button {
        @apply bg-white text-black rounded-full;
    }
}

.swiper-navigation-disabled .swiper-prev,
.swiper-navigation-disabled .swiper-next {
    @apply hidden;
}

/*****************************************
 *  Embla carousel
 *****************************************/

.embla {
    overflow: hidden;
}

/* TODO: Make specific for header vs. movies. Or move it to Twig/Tailwind */
.embla__container {
        &.flex {
        display: flex;
        align-items: flex-start;
        transition: height 0.2s;
    }

    &.grid {
        display: grid;
        grid-auto-flow: column;
        /* @apply auto-cols-[minmax(0,_20rem)] md:auto-cols-[minmax(0,_15rem)]; */
        /* grid-auto-columns: 15rem; */
    }
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

/* Thumbs test */
.embla-thumbs {
    --thumbs-slide-spacing: 0;
    --thumbs-slide-height: 6rem;
    margin-top: var(--thumbs-slide-spacing);
  }
  .embla-thumbs__viewport {
    overflow: hidden;
  }
  .embla-thumbs__container {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
  }
  ._embla-thumbs__slide {
    flex: 0 0 3rem;
    min-width: 0;
    padding-left: var(--thumbs-slide-spacing);
  }
  @media (min-width: 576px) {
    ._embla-thumbs__slide {
      flex: 0 0 15%;
    }
  }
/* Thumbs test end */

.embla__dots {
    z-index: 1;
}

.embla__prev:disabled,
.embla__next:disabled {
    @apply opacity-25;
    @apply cursor-not-allowed;
}

.embla-pagination li,
.embla__dots li {
    @apply h-12 w-12;
    @apply p-1.5;
    @apply text-center;

    button {
        @apply w-full h-full;
    }
}

.embla-pagination button:not(.is-active),
.embla__dots button:not(.embla__dot--selected) {
    @apply border-transparent;
    @apply box-content;
}

.embla-pagination button.is-active,
.embla__dots button.embla__dot--selected {
    @apply bg-white;
    @apply text-black;
    @apply box-content;
    @apply rounded-full;
}

