{% extends "_layouts/generic-page-layout.twig" %}

{% block headJs %}
  {{ include('_partials/head-siteurl') }}
{% endblock %}

{% block header %}
  {# TODO: Maybe change and cache menu globally (check if that affects highlighting active page) #}
  {% cache if not craft.app.config.general.devMode %}
    {{ include('events/_partials/header-image') }}
  {% endcache %}
{% endblock %}

{% block content %}
{% cache if not craft.app.config.general.devMode %}

  <main class="relative bg-teal-teal-blue bg-cover bg-fixed pb-9 md:pb-18">
    <div class="padded flex justify-center">
      <div class="-mt-24 px-4 md:px-24 py-9 md:py-12 rounded bg-white shadow-lg">
        <article class="prose md:prose-xl mx-auto text-blue">
            <h1 class="not-prose text-2xl md:text-3xl leading-none text-center font-bold uppercase">
                {{ entry.title }}
            </h1>
            <div class="lead text-center text-balance">
                {{ entry.ingress }}
            </div>
            <div class="">
                {{ entry.description }}
            </div>
        </article>
      </div>
    </div>

    {% set movies = entry.movies %}
    <div class="container mx-auto py-9 md:py-18 justify-center flex flex-wrap gap-8">
      {% for movie in movies %}
        <div class="w-96 max-w-[80vw] md:w-60 text-black">
            {{ include('_partials/movie') }}
        </div>
      {% endfor %}
    </div>
  </main>

  {{ sprig('_partials/movie-popups') }}

{% endcache %}
{% endblock %}

{% block footer %}
  {{ include('_partials/global-footer') }}
{% endblock %}
